Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

zizmor:
  name: zizmor security scan
  entry: zizmor
  language: system
  pass_filenames: true
  description: Scan GitHub Actions workflows for security vulnerabilities

actionlint:
  name: actionlint workflow linting
  entry: actionlint
  language: system
  pass_filenames: true
  description: Lint GitHub Actions workflow files for best practices and errors

Enable safe-input tool tracking for Daily Performance Summary workflow (#11074)
  .github/workflows/daily-performance-summary.lock.yml
  .github/workflows/daily-performance-summary.md
  pkg/parser/mcp.go
Due: zizmor, actionlint

Clarify tracker-id is optional for campaign worker workflows (#11080)
  docs/src/content/docs/examples/campaigns.md
  docs/src/content/docs/examples/campaigns/security-scanner.md
  pkg/campaign/workflow_fusion_test.go
Due: none

Fix test assertions for enhanced logging in close_older_issues (#11083)
  actions/setup/js/close_older_issues.test.cjs
Due: none

Fix markdown code region balancer treating indented examples as nested fences (#11082)
  actions/setup/js/markdown_code_region_balancer.cjs
  actions/setup/js/markdown_code_region_balancer.test.cjs
Due: none

Remove active/passive campaign distinction (#11071)
  .github/aw/execute-agentic-campaign-workflow.md
  .github/workflows/security-alert-burndown.campaign.lock.yml
  pkg/campaign/orchestrator.go
  pkg/campaign/template.go
  pkg/cli/templates/execute-agentic-campaign-workflow.md
Due: zizmor, actionlint

Add interactive engine selection and secret configuration to init command (#11064)
  pkg/cli/init.go
  pkg/cli/init_command.go
  pkg/cli/init_command_test.go
Due: none

Improve error messages for invalid target configuration in safe outputs (#11066)
  actions/setup/js/safe_output_helpers.cjs
  actions/setup/js/safe_output_helpers.test.cjs
Due: none

Add missing get_repository tool to repos toolset (#11067)
  .github/workflows/github-remote-mcp-auth-test.md
  pkg/workflow/data/github_toolsets_permissions.json
Due: zizmor

chore: add field definitions for project updates
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/agentic-campaign-generator.md
  pkg/campaign/generator.go
  pkg/cli/init.go
Due: zizmor, actionlint

Fix markdown code region balancer: distinguish consecutive blocks from nesting (#11091)
  actions/setup/js/markdown_code_region_balancer.cjs
  actions/setup/js/markdown_code_region_balancer.test.cjs
Due: none

Remove invalid campaign-manager.md reference from developer instructions (#11097)
  .github/agents/developer.instructions.md
Due: none

fix: add field definitions to campaign project updates (#11092)
  .github/agents/developer.instructions.md
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/agentic-campaign-generator.md
  pkg/campaign/generator.go
  pkg/cli/init.go
Due: zizmor, actionlint

fix network check problem
  .github/aw/main_workflow_schema.json
  docs/src/content/docs/guides/mcps.md
  pkg/parser/schemas/main_workflow_schema.json
  pkg/parser/schemas/mcp_config_schema.json
  pkg/workflow/strict_mode_validation.go
  pkg/workflow/validation_strict_mcp_network_test.go
Due: none

chore: first-class dispatch-only workers (#11087)
  .github/aw/execute-agentic-campaign-workflow.md
  .github/workflows/security-alert-burndown.campaign.lock.yml
  docs/campaign-worker-fusion.md
  docs/campaign-workers.md
  docs/src/content/docs/examples/campaigns.md
  pkg/campaign/workflow_fusion.go
  pkg/campaign/workflow_fusion_test.go
  pkg/cli/templates/execute-agentic-campaign-workflow.md
  specs/campaigns-files.md
Due: zizmor, actionlint

🔒 Fix network validation for MCP servers (#11073)
  .github/aw/main_workflow_schema.json
  docs/src/content/docs/guides/mcps.md
  pkg/parser/schemas/main_workflow_schema.json
  pkg/parser/schemas/mcp_config_schema.json
  pkg/workflow/strict_mode_validation.go
  pkg/workflow/validation_strict_mcp_network_test.go
Due: none

chore: enhance campaign generator messages for clarity and user guidance
  .github/aw/generate-agentic-campaign.md
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/security-alert-burndown.campaign.lock.yml
  .github/workflows/security-alert-burndown.campaign.md
  actions/setup/js/update_issue.cjs
  actions/setup/js/update_issue_campaign_generator.test.cjs
  pkg/campaign/generator.go
  pkg/campaign/generator_messages_test.go
  pkg/cli/templates/generate-agentic-campaign.md
  pkg/workflow/action_resolver.go
  pkg/workflow/js/safe_outputs_tools.json
  pkg/workflow/safe_outputs_tools_update_issue_test.go
Due: zizmor, actionlint

rm campaign file
  .github/workflows/security-alert-burndown.campaign.lock.yml
Due: zizmor, actionlint

chore: enhance campaign generator messages for clarity and user guidance (#11107)
  .github/aw/generate-agentic-campaign.md
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/security-alert-burndown.campaign.lock.yml
  .github/workflows/security-alert-burndown.campaign.md
  actions/setup/js/update_issue.cjs
  actions/setup/js/update_issue_campaign_generator.test.cjs
  pkg/campaign/generator.go
  pkg/campaign/generator_messages_test.go
  pkg/cli/templates/generate-agentic-campaign.md
  pkg/workflow/action_resolver.go
  pkg/workflow/js/safe_outputs_tools.json
  pkg/workflow/safe_outputs_tools_update_issue_test.go
Due: zizmor, actionlint

Update pdf-summary workflow: simplify title and add discussion creation (#11105)
  .github/workflows/pdf-summary.lock.yml
  .github/workflows/pdf-summary.md
Due: zizmor, actionlint

Add codemod to delete dangling upgrade-agentic-workflow.md file (#11108)
  pkg/cli/copilot-agents.go
  pkg/cli/copilot_agents_test.go
Due: none

Add quality degradation detection and fuzz testing to markdown code region balancer (#11099)
  actions/setup/js/markdown_code_region_balancer.cjs
  actions/setup/js/markdown_code_region_balancer.test.cjs
  pkg/workflow/markdown_code_region_balancer_fuzz_test.go
Due: none

Add error handling to agent output ingestion for better failure diagnostics (#11093)
  actions/setup/js/collect_ndjson_output.cjs
  actions/setup/js/json_repair_helpers.cjs
  actions/setup/js/json_repair_helpers.test.cjs
Due: none

Prevent ANSI escape sequences in compiled workflow YAML files (#11068)
  .github/workflows/ci.yml
  AGENTS.md
  pkg/stringutil/stringutil.go
  pkg/stringutil/stringutil_test.go
  pkg/workflow/compiler_activation_jobs.go
  pkg/workflow/compiler_yaml.go
  pkg/workflow/compiler_yaml_test.go
Due: none

Add codemod to migrate MCP per-server network config to top-level (#11110)
  .github/workflows/poem-bot.lock.yml
  .github/workflows/sub-issue-closer.lock.yml
  .github/workflows/workflow-generator.lock.yml
  .github/workflows/workflow-health-manager.lock.yml
  pkg/cli/codemod_mcp_network.go
  pkg/cli/codemod_mcp_network_test.go
  pkg/cli/fix_codemods.go
  pkg/cli/fix_codemods_test.go
Due: zizmor, actionlint

Switch to `execFileSync` to run git
  actions/setup/js/generate_git_patch.cjs
Due: none

Fix safe-outputs server startup by copying tools.json to expected location (#11129)
  .github/workflows/cli-consistency-checker.lock.yml
  .github/workflows/daily-team-status.lock.yml
  actions/setup/setup.sh
  actions/setup/sh/start_safe_outputs_server.sh
Due: zizmor, actionlint

Clarify Copilot agent assignment methods in documentation (#11122)
  docs/src/content/docs/agent-factory-status.mdx
  docs/src/content/docs/blog/2026-01-27-operational-patterns.md
  docs/src/content/docs/guides/researchplanassign.md
  docs/src/content/docs/reference/safe-outputs.md
  docs/src/content/docs/reference/tokens.md
Due: none

Add workflow compilation to upgrade command (#11131)
  pkg/cli/upgrade_command.go
  pkg/cli/upgrade_command_test.go
Due: none

Fix setup.sh: Add missing safe-outputs MCP HTTP transport files (#11144)
  actions/setup/setup.sh
Due: none

Validate safe-outputs target field at compile time (#11112)
  pkg/stringutil/stringutil.go
  pkg/stringutil/stringutil_test.go
  pkg/workflow/compiler.go
  pkg/workflow/safe_outputs_target_validation.go
  pkg/workflow/safe_outputs_target_validation_integration_test.go
  pkg/workflow/safe_outputs_target_validation_test.go
Due: none

Add upgrade guide for agentic workflows (#11130)
  docs/src/content/docs/guides/upgrading.md
Due: none

Fix safe-outputs MCP server: Enable stateless mode for gateway compatibility (#11147)
  actions/setup/js/safe-outputs-mcp-server.cjs
Due: none

chore: user-friendly messages for agentic campaign generator
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/agentic-campaign-generator.md
  pkg/campaign/generator.go
Due: zizmor, actionlint

chore: user-friendly messages for agentic campaign generator (#11154)
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/agentic-campaign-generator.md
  pkg/campaign/generator.go
Due: zizmor, actionlint

feat: add append-only comments
  .github/workflows/agentic-campaign-generator.md
  .github/workflows/security-alert-burndown.campaign.lock.yml
  actions/setup/js/notify_comment_error.cjs
  actions/setup/js/notify_comment_error.test.cjs
  docs/src/content/docs/reference/frontmatter-full.md
  docs/src/content/docs/reference/safe-outputs.md
  pkg/campaign/generator.go
  pkg/workflow/compiler_types.go
  pkg/workflow/safe_outputs_config_messages.go
Due: zizmor, actionlint

Fix safe outputs HTTP MCP server rejecting tools without custom handlers (#11161)
  actions/setup/js/safe_outputs_mcp_server_http.cjs
Due: none

fix: add missing TypeScript typedef for appendOnlyComments property (#11165)
  actions/setup/js/messages_core.cjs
  actions/setup/js/notify_comment_error.cjs
Due: none

Path conditions:
  zizmor: any of: \.github/workflows/.*\.(lock\.yml|md)$
  actionlint: any of: \.github/workflows/.*\.lock\.yml$
