Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

zizmor:
  name: zizmor security scan
  entry: zizmor
  language: system
  pass_filenames: true
  description: Scan GitHub Actions workflows for security vulnerabilities

actionlint:
  name: actionlint workflow linting
  entry: actionlint
  language: system
  pass_filenames: true
  description: Lint GitHub Actions workflow files for best practices and errors

Fix regexpdynamicpattern POSIX coverage and rationale (#51002)
  docs/adr/50674-add-regexpdynamicpattern-linter.md
  pkg/linters/README.md
  pkg/linters/doc.go
  pkg/linters/regexpdynamicpattern/regexpdynamicpattern.go
  pkg/linters/regexpdynamicpattern/testdata/src/regexpdynamicpattern/regexpdynamicpattern.go
Due: none

Fix write-reference dominance and add alias resolution in require-fetch-response-body-try-catch (#51027)
  eslint-factory/src/rules/require-fetch-response-body-try-catch.test.ts
  eslint-factory/src/rules/require-fetch-response-body-try-catch.ts
Due: none

feat: merge discussion-task-miner into deep-report (#51100)
  .github/workflows/deep-report.lock.yml
  .github/workflows/deep-report.md
  .github/workflows/discussion-task-miner.lock.yml
  .github/workflows/discussion-task-miner.md
  .github/workflows/smoke-cursor.lock.yml
Due: zizmor, actionlint

Add PureLock: daily pure-function maximum-coverage test workflow (#51107)
  .github/scripts/purelock/purity_scan.go
  .github/workflows/purelock.lock.yml
  .github/workflows/purelock.md
Due: zizmor, actionlint

fix: normalize DefaultClaudeCodeVersion in wasm golden tests (#51121)
  pkg/workflow/testdata/TestWasmGolden_AllEngines/claude.golden
  pkg/workflow/wasm_golden_test.go
Due: none

Add pre-fetch guard to Impeccable Skills Reviewer (#51099)
  .github/workflows/impeccable-skills-reviewer.lock.yml
  .github/workflows/impeccable-skills-reviewer.md
Due: zizmor, actionlint

chore: add autopilot/no-confirmation rule to AGENTS.md and pr-finisher (#51123)
  .github/skills/pr-finisher/SKILL.md
  AGENTS.md
Due: none

Harden safe-output field validation
  actions/setup/js/collect_ndjson_output.cjs
  actions/setup/js/collect_ndjson_output.test.cjs
  actions/setup/js/commit_sha_helpers.cjs
  actions/setup/js/commit_sha_helpers.test.cjs
  actions/setup/js/create_pull_request.cjs
  actions/setup/js/create_pull_request.test.cjs
  actions/setup/js/generate_git_patch.cjs
  actions/setup/js/push_to_pull_request_branch.cjs
  actions/setup/js/push_to_pull_request_branch.test.cjs
  actions/setup/js/safe_output_type_validator.cjs
  actions/setup/js/safe_output_type_validator.test.cjs
  actions/setup/js/safe_outputs_handlers.cjs
  actions/setup/js/safe_outputs_handlers.test.cjs
  actions/setup/js/safe_outputs_tools.json
  actions/setup/js/upload_assets.cjs
  actions/setup/js/upload_assets.test.cjs
  pkg/workflow/js/safe_outputs_tools.json
  pkg/workflow/safe_output_validation_config_test.go
  pkg/workflow/safe_outputs_validation_config.go
Due: none

Remove bash tool configuration from ai-moderator
  .github/workflows/ai-moderator.md
Due: zizmor

Require tools.bash: false when tools.github.min-integrity is none in strict mode (#51089)
  .github/workflows/ai-moderator.lock.yml
  .github/workflows/ai-moderator.md
  .github/workflows/contribution-check.lock.yml
  .github/workflows/contribution-check.md
  .github/workflows/daily-team-status.lock.yml
  .github/workflows/daily-team-status.md
  .github/workflows/plan.lock.yml
  .github/workflows/plan.md
  .github/workflows/scout.lock.yml
  .github/workflows/scout.md
  .github/workflows/smoke-agent-all-none.lock.yml
  .github/workflows/smoke-agent-all-none.md
  .github/workflows/smoke-agent-public-none.lock.yml
  .github/workflows/smoke-agent-public-none.md
  eslint-factory/src/rules/require-error-code-in-thrown-error.test.ts
  pkg/workflow/compiler_orchestrator_workflow.go
  pkg/workflow/compiler_string_api.go
  pkg/workflow/strict_mode_network_validation.go
  pkg/workflow/strict_mode_validation_test.go
  pkg/workflow/tools_validation_github.go
Due: zizmor, actionlint

Use Unicode display widths for CLI column padding (#51093)
  pkg/cli/compile_schedule_calendar.go
  pkg/cli/compile_schedule_calendar_test.go
  pkg/cli/engine_secrets.go
  pkg/cli/engine_secrets_test.go
  pkg/console/render.go
  pkg/console/render_test.go
Due: none

Validate uv package names against PEP 508 before `uv pip show` (#51016)
  pkg/workflow/argument_injection_test.go
  pkg/workflow/pip_validation.go
Due: none

Address SPDD daily spec review: DriftRecord conformance tests, guard-policy dry-run report, spec gaps (#51135)
  pkg/cli/compile_guard_policy_report.go
  pkg/cli/compile_guard_policy_report_test.go
  pkg/cli/compile_workflow_processor.go
  pkg/workflow/awf_config_drift_test.go
  pkg/workflow/tools_validation_github_test.go
  scratchpad/github-mcp-access-control-specification.md
  scratchpad/guard-policies-specification.md
  scratchpad/safe-outputs-specification.md
  specs/aw-harness.md
  specs/awf-config-sources-compliance/README.md
Due: none

Align `mcp`/`secrets` help subcommand wording and add consistency guardrails (#51096)
  pkg/cli/cli_consistency_help_test.go
  pkg/cli/mcp.go
  pkg/cli/secrets_command.go
Due: none

engine/codex: support fully disabling bash (tools.bash: false) instead of erroring
  .github/workflows/ai-moderator.lock.yml
  pkg/workflow/agent_validation.go
  pkg/workflow/agentic_engine.go
  pkg/workflow/bash_command_allowlist_validation_test.go
  pkg/workflow/codex_engine.go
  pkg/workflow/codex_engine_test.go
  pkg/workflow/engine_definition.go
  pkg/workflow/tools.go
  pkg/workflow/workflow_data.go
Due: zizmor, actionlint

Refresh container pins before daily image scans (#51083)
  .changeset/patch-refresh-container-pins-before-scans.md
  .github/aw/actions-lock.json
  .github/workflows/daily-squid-image-scan.lock.yml
  .github/workflows/daily-squid-image-scan.md
  .github/workflows/mcp-inspector.lock.yml
  cmd/gh-aw/compile_flags_test.go
  cmd/gh-aw/main.go
  docs/src/content/docs/setup/cli.md
  pkg/actionpins/data/action_pins.json
  pkg/cli/compile_config.go
  pkg/cli/compile_orchestrator.go
  pkg/cli/compile_orchestrator_container_pins_test.go
  pkg/cli/update_container_pins.go
  pkg/cli/update_container_pins_test.go
  pkg/workflow/data/action_pins.json
Due: zizmor, actionlint

Consolidate CLI validation issue types (#51098)
  pkg/cli/README.md
  pkg/cli/audit_agent_output_test.go
  pkg/cli/audit_report.go
  pkg/cli/audit_report_analysis.go
  pkg/cli/audit_report_render.go
  pkg/cli/audit_report_test.go
  pkg/cli/audit_test.go
  pkg/cli/compile_command_test.go
  pkg/cli/compile_config.go
  pkg/cli/compile_pipeline.go
  pkg/cli/compile_repository_manifest.go
  pkg/cli/compile_validation.go
  pkg/cli/compile_workflow_processor.go
  pkg/cli/mcp_tools_readonly.go
  pkg/cli/validation_issue.go
  pkg/cli/validation_issue_test.go
Due: none

Validate slide PDF downloads before writing (#51142)
  scripts/ensure-docs-slide-pdf.js
  scripts/ensure-docs-slide-pdf.test.js
Due: none

Prompt Clustering: add mandatory root-cause drilldown for low-merge outlier clusters (#51141)
  .github/workflows/prompt-clustering-analysis.lock.yml
  .github/workflows/prompt-clustering-analysis.md
Due: zizmor, actionlint

Add guided `gh aw fix` diagnostic for restricted `tools.bash` on engines that ignore allow-listing (#51102)
  .changeset/bash-allowlist-unsupported-engine-guided-error.md
  docs/adr/51102-guided-codemod-for-bash-allowlist-on-unsupported-engines.md
  pkg/cli/codemod_bash_allowlist_unsupported_engine.go
  pkg/cli/codemod_bash_allowlist_unsupported_engine_test.go
  pkg/cli/fix_codemods.go
  pkg/cli/fix_codemods_test.go
  pkg/cli/fix_command.go
  pkg/workflow/agent_validation.go
  pkg/workflow/agentic_engine.go
Due: none

[WIP] Fix failing GitHub Actions job Integration: Workflow Infra (#51144)
  pkg/workflow/guard_policy_compilation_integration_test.go
  pkg/workflow/permissions_warning_test.go
Due: none

feat: tip for known external engines (opencode, crush) missing their import (#51088)
  .github/aw/engines.json
  pkg/workflow/engine_definition.go
  pkg/workflow/engine_definition_test.go
Due: none

Replace `any` bool-or-expression fields with `*TemplatableBool` in workflow step and safe-outputs config (#51097)
  pkg/cli/bootstrap_profile_manifest_test.go
  pkg/cli/compile_guard_policy_test.go
  pkg/workflow/compiler_safe_outputs_config_test.go
  pkg/workflow/notify_comment_conclusion_helpers.go
  pkg/workflow/notify_comment_test.go
  pkg/workflow/safe_outputs_config_global.go
  pkg/workflow/safe_outputs_config_types.go
  pkg/workflow/safe_outputs_import_test.go
  pkg/workflow/step_types.go
  pkg/workflow/step_types_test.go
Due: none

[WIP] Formalize security and error handling for replace-label spec (#51129)
  pkg/workflow/replace_label_security_formal_test.go
Due: none

Harden project GraphQL lookups by replacing interpolated owner inputs with variableized requests (#51143)
  pkg/cli/project_command.go
  pkg/cli/project_command_test.go
Due: none

feat(purelock): parallelize test generation with test-writer sub-agent, process up to 3 functions per run (#51164)
  .github/workflows/purelock.lock.yml
  .github/workflows/purelock.md
Due: zizmor, actionlint

feat: add 2 agentic workflows each for aider, cursor, and kiro engines (#51166)
  .github/workflows/daily-code-debt-aider.lock.yml
  .github/workflows/daily-code-debt-aider.md
  .github/workflows/daily-go-test-stubs-aider.lock.yml
  .github/workflows/daily-go-test-stubs-aider.md
  .github/workflows/daily-pr-review-cursor.lock.yml
  .github/workflows/daily-pr-review-cursor.md
  .github/workflows/daily-regression-audit-kiro.lock.yml
  .github/workflows/daily-regression-audit-kiro.md
  .github/workflows/daily-schema-audit-cursor.lock.yml
  .github/workflows/daily-schema-audit-cursor.md
  .github/workflows/daily-spec-coverage-kiro.lock.yml
  .github/workflows/daily-spec-coverage-kiro.md
Due: zizmor, actionlint

docs: suggest using pkg/logger for debug logs in AGENTS.md (#51163)
  AGENTS.md
Due: none

Enable detection for newly flagged report workflows (#51171)
  .github/workflows/daily-regulatory.lock.yml
  .github/workflows/daily-regulatory.md
  .github/workflows/deep-report.lock.yml
  .github/workflows/deep-report.md
  .github/workflows/deployment-incident-monitor.lock.yml
  .github/workflows/deployment-incident-monitor.md
Due: zizmor, actionlint

[aw] Prevent Daily Agent of the Day workflow from failing on sub-agent model unavailability (#51173)
  .github/workflows/daily-agent-of-the-day-blog-writer.lock.yml
  .github/workflows/daily-agent-of-the-day-blog-writer.md
Due: zizmor, actionlint

Split AWF helpers into focused modules (#51154)
  docs/adr/51154-split-awf-helpers-into-focused-modules.md
  pkg/workflow/awf_arc_dind.go
  pkg/workflow/awf_arc_dind_test.go
  pkg/workflow/awf_command_builder.go
  pkg/workflow/awf_command_builder_test.go
  pkg/workflow/awf_env.go
  pkg/workflow/awf_env_test.go
  pkg/workflow/awf_feature_flags.go
  pkg/workflow/awf_feature_flags_test.go
  pkg/workflow/awf_helpers.go
  pkg/workflow/awf_helpers_test.go
Due: none

Optimize PR Code Quality Reviewer prompt and diff prefetch (#51170)
  .github/workflows/impeccable-skills-reviewer.lock.yml
  .github/workflows/mattpocock-skills-reviewer.lock.yml
  .github/workflows/pr-code-quality-reviewer.lock.yml
  .github/workflows/pr-code-quality-reviewer.md
  .github/workflows/shared/pr-diff-data-fetch.md
Due: zizmor, actionlint

Add generated footer to status comment updates (#51165)
  actions/setup/js/notify_comment_error.cjs
  actions/setup/js/notify_comment_error.test.cjs
Due: none

Path conditions:
  zizmor: any of: \.github/workflows/.*\.(lock\.yml|md)$
  actionlint: any of: \.github/workflows/.*\.lock\.yml$
