Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

zizmor:
  name: zizmor security scan
  entry: zizmor
  language: system
  pass_filenames: true
  description: Scan GitHub Actions workflows for security vulnerabilities

actionlint:
  name: actionlint workflow linting
  entry: actionlint
  language: system
  pass_filenames: true
  description: Lint GitHub Actions workflow files for best practices and errors

Extend MCP gateway readiness timeout (#56315)
  actions/setup/js/start_mcp_gateway.cjs
  actions/setup/js/start_mcp_gateway.test.cjs
  docs/src/content/docs/reference/environment-variables.md
Due: none

Add issue-only permission controls to remove-labels (#56270)
  docs/adr/56270-add-per-target-permission-controls-to-remove-labels.md
  docs/src/content/docs/reference/frontmatter-full.md
  docs/src/content/docs/reference/safe-outputs.md
  pkg/parser/schema_safe_outputs_target_test.go
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/compiler_validators.go
  pkg/workflow/remove_labels.go
  pkg/workflow/safe_output_handlers.go
  pkg/workflow/safe_outputs_app_test.go
  pkg/workflow/safe_outputs_permissions_test.go
  pkg/workflow/security_architecture_rs05a_formal_test.go
Due: none

test: update safeoutputs compiler expectations
  pkg/workflow/mcp_config_refactor_test.go
  pkg/workflow/security_architecture_rs05a_formal_test.go
  pkg/workflow/testdata/TestWasmGolden_AllEngines/claude.golden
  pkg/workflow/testdata/TestWasmGolden_AllEngines/codex.golden
  pkg/workflow/testdata/TestWasmGolden_AllEngines/copilot.golden
  pkg/workflow/testdata/TestWasmGolden_AllEngines/gemini.golden
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/basic-copilot.golden
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/playwright-cli-mode.golden
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/smoke-copilot.golden
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/with-imports.golden
Due: none

Improve contributor fork push failure guidance
  .changeset/patch-forward-pr-head-baseline-to-safeoutputs.md
  actions/setup/js/checkout_pr_branch.cjs
  actions/setup/js/checkout_pr_branch.test.cjs
  actions/setup/js/push_to_pull_request_branch.test.cjs
  actions/setup/js/safe_outputs_handlers.cjs
  actions/setup/js/safe_outputs_handlers.test.cjs
  actions/setup/md/safe_outputs_push_to_pr_branch.md
  pkg/workflow/mcp_config_refactor_test.go
  pkg/workflow/mcp_gateway_mount_policy_test.go
  pkg/workflow/mcp_renderer_builtin.go
  pkg/workflow/mcp_renderer_test.go
  pkg/workflow/mcp_setup_gateway.go
  pkg/workflow/mcp_setup_generator_test.go
  pkg/workflow/testdata/TestWasmGolden_AllEngines/claude.golden
  pkg/workflow/testdata/TestWasmGolden_AllEngines/codex.golden
  pkg/workflow/testdata/TestWasmGolden_AllEngines/copilot.golden
  pkg/workflow/testdata/TestWasmGolden_AllEngines/gemini.golden
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/basic-copilot.golden
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/playwright-cli-mode.golden
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/smoke-copilot.golden
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/with-imports.golden
Due: none

doc updates
  docs/astro.config.mjs
  docs/src/content/docs/experimental/drive-memory.md
  docs/src/content/docs/experimental/trace-graders.md
  docs/src/content/docs/patterns/orchestration.md
  docs/src/content/docs/reference/aw-yml-package-manifest.md
  docs/src/content/docs/reference/glossary.md
  docs/src/content/docs/reference/integrity.md
  docs/src/content/docs/reference/lockdown-mode.md
  docs/src/content/docs/reference/repository-package-manifest.md
  docs/src/content/docs/reference/tools.md
  docs/src/content/docs/specs/graders-specification.md
Due: none

[WIP] Fix failing GitHub Actions job 'Unit tests (A-C)' (#56345)
  .github/aw/actions-lock.json
  pkg/actionpins/data/action_pins.json
  pkg/workflow/data/action_pins.json
Due: none

Harden Docker scanner exec paths against argv/path injection (#56333)
  pkg/cli/zizmor.go
Due: none

update docs
  docs/astro.config.mjs
  docs/src/content/docs/experimental/enclaves.md
  docs/src/content/docs/reference/glossary.md
  docs/src/content/docs/reference/sandbox.md
Due: none

update docs
  docs/astro.config.mjs
Due: none

Include grader evaluator scripts in workflow packages (#56268)
  docs/adr/56268-include-grader-evaluator-scripts-in-workflow-packages.md
  pkg/cli/add_command_resources.go
  pkg/cli/add_package_manifest_resolve.go
  pkg/cli/add_package_manifest_resources.go
  pkg/cli/add_package_manifest_test.go
  pkg/cli/add_package_ownership.go
  pkg/cli/compile_pipeline_shellcheck_resources_test.go
  pkg/cli/remote_workflow_test.go
  pkg/cli/resources.go
  pkg/parser/schema_test.go
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/graders_config.go
  pkg/workflow/graders_config_test.go
  pkg/workflow/graders_operational_value.go
  pkg/workflow/graders_operational_value_test.go
Due: none

Clarify prerelease upgrade guidance (#56351)
  .changeset/patch-clarify-prerelease-upgrade-guidance.md
  pkg/cli/update_extension_check.go
  pkg/cli/update_extension_check_test.go
Due: none

Fix user-rate-limit alias schema and event fallback (#56328)
  actions/setup/js/check_rate_limit.cjs
  actions/setup/js/check_rate_limit.test.cjs
  docs/src/content/docs/reference/frontmatter-full.md
  docs/src/content/docs/reference/frontmatter.md
  docs/src/content/docs/reference/rate-limiting-controls.md
  pkg/parser/schema_test.go
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/role_checks.go
  pkg/workflow/role_checks_test.go
Due: none

Add daily grader audit workflow (#56359)
  .github/workflows/daily-grader-audit.lock.yml
  .github/workflows/daily-grader-audit.md
  docs/adr/56359-add-graders-run-filter-and-daily-audit-workflow.md
  pkg/cli/logs_artifact_set.go
  pkg/cli/logs_artifact_set_test.go
  pkg/cli/logs_command.go
  pkg/cli/logs_filtering_test.go
  pkg/cli/logs_orchestrator_download.go
  pkg/cli/logs_orchestrator_filters.go
  pkg/cli/logs_orchestrator_filters_test.go
  pkg/cli/logs_orchestrator_types.go
  pkg/cli/mcp_tools_privileged.go
  pkg/cli/mcp_tools_privileged_test.go
Due: zizmor, actionlint

update gallery
  .github/workflows/docs.yml
  docs/astro.config.mjs
  docs/src/content/docs/gallery/ai-issue-triage.md
  docs/src/content/docs/gallery/ai-release-notes.md
  docs/src/content/docs/gallery/automated-pr-review.md
  docs/src/content/docs/gallery/ci-failure-investigation.md
  docs/src/content/docs/gallery/code-improvement.md
  docs/src/content/docs/gallery/docs-automation.md
  docs/src/content/docs/gallery/metrics-analytics.md
  pkg/actionpins/data/action_pins.json
  pkg/workflow/data/action_pins.json
Due: none

update gallery
  docs/public/ci-doctor-example-output.png
  docs/public/issue-triage-example-output.png
  docs/src/lib/remark/agenticsWorkflow.js
  docs/src/lib/remark/agenticsWorkflow.test.js
Due: none

Add diagnostics for GitHub release creation failures (#56413)
  .github/workflows/daily-grader-audit.lock.yml
  .github/workflows/release.lock.yml
  .github/workflows/release.md
Due: zizmor, actionlint

Enforce jsonschema formats and structural error path lookup (#56325)
  pkg/parser/json_path_locator.go
  pkg/parser/json_path_locator_improvements_test.go
  pkg/parser/schema_compiler.go
  pkg/parser/schema_compiler_test.go
Due: none

Design Decision Gate: prevent runaway agent loops from nonexistent skill/tool drift (#56314)
  actions/setup/js/extract_inline_skills.test.cjs
  actions/setup/js/runtime_import.test.cjs
  pkg/gitutil/gitutil_test.go
  pkg/parser/inline_skill_extractor_test.go
Due: none

Fix visibility for organization and enterprise variable creation (#56267)
  .github/aw/actions-lock.json
  CHANGELOG.md
  docs/src/content/docs/reference/compiler-enterprise-environment-controls.md
  docs/src/content/docs/reference/governance.md
  pkg/cli/env_command.go
  pkg/cli/env_command_test.go
Due: none

Enforce gh-aw v0.85.3 security compatibility floor (#55796)
  .github/skills/security-advisory-compat-enforcer/SKILL.md
  pkg/linters/compat_schema_test.go
Due: none

Remove symlinked Go bind mount from Avenger (#56426)
  .github/workflows/avenger.lock.yml
  .github/workflows/avenger.md
Due: zizmor, actionlint

[WIP] Fix failing GitHub Actions job Integration: Workflow Misc Part 2 (#56430)
  pkg/workflow/docs_examples_integration_test.go
Due: none

Fix Codex threat-detection config pointing at the Anthropic api-proxy port (#56404)
  pkg/workflow/threat_detection_external.go
  pkg/workflow/threat_detection_helpers.go
  pkg/workflow/threat_detection_isolation_test.go
Due: none

Extend enclave MCP transport allowance
  .github/aw/enclaves.md
  docs/src/content/docs/experimental/enclaves.md
  pkg/workflow/enclaves.go
  pkg/workflow/enclaves_test.go
Due: none

Translate gateway timeout for Copilot
  actions/setup/js/convert_gateway_config_copilot.cjs
  actions/setup/js/convert_gateway_config_copilot.test.cjs
Due: none

Ensure Aider workflows always emit safe outputs (#56442)
  .github/workflows/daily-code-debt-aider.lock.yml
  .github/workflows/daily-code-debt-aider.md
  .github/workflows/daily-go-test-stubs-aider.lock.yml
  .github/workflows/daily-go-test-stubs-aider.md
  .github/workflows/shared/aider.md
  .github/workflows/smoke-aider.lock.yml
  .github/workflows/smoke-aider.md
  pkg/workflow/aider_workflow_test.go
Due: zizmor, actionlint

Reduce Ponytail Reviewer ambient context with proxy tooling (#56446)
  .github/workflows/ponytail-reviewer.lock.yml
  .github/workflows/ponytail-reviewer.md
Due: zizmor, actionlint

Expand enclave disclosure timing range
  .github/aw/enclaves.md
  actions/setup/js/convert_gateway_config_copilot.test.cjs
  docs/src/content/docs/experimental/enclaves.md
  pkg/parser/schema_test.go
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/enclaves.go
  pkg/workflow/enclaves_test.go
  pkg/workflow/schemas/awf-config.schema.json
Due: none

Implement event-entropy-rate trajectory grader (#56464)
  .github/workflows/shared/graders/README.md
  .github/workflows/shared/graders/event-entropy-rate.md
Due: zizmor

Document the "All You Can Eat" scheduled workflow pattern (#56466)
  .github/aw/safe-outputs-content.md
  .github/aw/triggers.md
  .github/aw/workflow-patterns.md
Due: none

Migrate Design Decision Gate to Pi and Copilot GPT-5.4 (#56467)
  .github/workflows/design-decision-gate.lock.yml
  .github/workflows/design-decision-gate.md
Due: zizmor, actionlint

Path conditions:
  zizmor: any of: \.github/workflows/.*\.(lock\.yml|md)$
  actionlint: any of: \.github/workflows/.*\.lock\.yml$
