Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

.pre-commit-config.yaml:

# Pre-commit hooks for gh-aw
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Security scanning with zizmor
      - id: zizmor
        name: zizmor security scan
        entry: zizmor
        language: system
        files: \.github/workflows/.*\.(lock\.yml|md)$
        pass_filenames: true
        description: Scan GitHub Actions workflows for security vulnerabilities
        
      # Workflow linting with actionlint
      - id: actionlint
        name: actionlint workflow linting
        entry: actionlint
        language: system
        files: \.github/workflows/.*\.lock\.yml$
        pass_filenames: true
        description: Lint GitHub Actions workflow files for best practices and errors
        
      # Shell script validation with shellcheck
      - id: shellcheck
        name: shellcheck shell script validation
        entry: shellcheck
        language: system
        files: \.(sh|bash)$
        types: [file, shell]
        description: Validate shell scripts for common issues and best practices

chore: increase max items for project updates and add fields
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
Due: zizmor, actionlint

chore: increase max items for project updates and add fields (#12241)
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
Due: zizmor, actionlint

chore: update project board limits
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
Due: zizmor, actionlint

update
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
Due: zizmor, actionlint

chore: update project board limits (#12243)
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
Due: zizmor, actionlint

fix: update security alert burndown workflow with token prerequisites
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
Due: zizmor, actionlint

fix: update security alert burndown workflow with token prerequisites (#12256)
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
Due: zizmor, actionlint

chore: increase udpate-project max config
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
  actions/setup/js/update_project.cjs
Due: zizmor, actionlint

update
  .github/workflows/security-alert-burndown.lock.yml
Due: zizmor, actionlint

chore: increase update-project max config (#12259)
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
  actions/setup/js/update_project.cjs
Due: zizmor, actionlint

fix: draft issues need project field for project board processing (#12264)
  actions/setup/js/update_project.cjs
  actions/setup/js/update_project.test.cjs
Due: none

Centralize gosec exclusions in .golangci.yml as source of truth (#12217)
  .github/workflows/security-scan.yml
  .golangci.yml
  Makefile
  specs/gosec.md
Due: none

Extract action pin formatting helpers to reduce string concatenation (#12216)
  pkg/workflow/action_cache.go
  pkg/workflow/action_pins.go
  pkg/workflow/action_pins_test.go
Due: none

Clarify safe-outputs MCP tool invocation in workflow instructions (#12207)
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-doc-updater.md
  .github/workflows/hourly-ci-cleaner.lock.yml
  .github/workflows/hourly-ci-cleaner.md
Due: zizmor, actionlint

Refactor generateYAML() into focused helper functions (#12210)
  pkg/workflow/compiler_yaml.go
  pkg/workflow/compiler_yaml_helpers_test.go
Due: none

refactor: remove redundant ANSI stripping comments
  pkg/workflow/compiler_yaml.go
Due: none

Add context cancellation and WaitGroup tracking to background goroutines (#12268)
  cmd/gh-aw/main.go
  pkg/cli/docker_images.go
  pkg/cli/docker_images_test.go
  pkg/cli/mcp_server.go
  pkg/cli/update_check.go
  pkg/cli/update_check_test.go
  pkg/console/spinner.go
  pkg/workflow/action_pins_test.go
Due: none

Add channel lifecycle guidelines and fix goroutine leaks (#12267)
  AGENTS.md
  pkg/cli/compile_watch.go
  pkg/cli/logs_json_clean_test.go
  pkg/cli/logs_json_stderr_order_test.go
  pkg/cli/retry.go
  pkg/console/spinner_test.go
Due: none

Clean check_skip_if_match.cjs
  actions/setup/js/check_skip_if_match.cjs
Due: none

Unbloat reference/imports.md documentation
  docs/src/content/docs/reference/imports.md
Due: none

Add formatting guidelines to daily-regulatory workflow (#12285)
  .github/workflows/daily-regulatory.lock.yml
  .github/workflows/daily-regulatory.md
Due: zizmor, actionlint

Remove stale reference to non-existent create_pull_request job (#12283)
  .github/workflows/ci-coach.lock.yml
  .github/workflows/cloclo.lock.yml
  .github/workflows/code-scanning-fixer.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-workflow-updater.lock.yml
  .github/workflows/dependabot-bundler.lock.yml
  .github/workflows/developer-docs-consolidator.lock.yml
  .github/workflows/dictation-prompt.lock.yml
  .github/workflows/github-mcp-tools-report.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/go-logger.lock.yml
  .github/workflows/hourly-ci-cleaner.lock.yml
  .github/workflows/instructions-janitor.lock.yml
  .github/workflows/jsweep.lock.yml
  .github/workflows/layout-spec-maintainer.lock.yml
  .github/workflows/poem-bot.lock.yml
  .github/workflows/q.lock.yml
  .github/workflows/secret-scanning-triage.lock.yml
  .github/workflows/slide-deck-maintainer.lock.yml
  .github/workflows/technical-doc-writer.lock.yml
  .github/workflows/test-create-pr-error-handling.lock.yml
  .github/workflows/tidy.lock.yml
  .github/workflows/ubuntu-image-analyzer.lock.yml
  .github/workflows/unbloat-docs.lock.yml
  pkg/workflow/notify_comment.go
Due: zizmor, actionlint

[WIP] Move app validation script to shell file in actions/setup/sh (#12298)
  .github/workflows/smoke-copilot.lock.yml
  actions/setup/sh/validate_app_support_engine_field.sh
  pkg/workflow/copilot_engine_installation.go
  specs/artifacts.md
Due: zizmor, actionlint

Refactor add_command.go into focused modules (1,218 → 610 lines) (#12286)
  pkg/cli/add_command.go
  pkg/cli/add_workflow_compilation.go
  pkg/cli/add_workflow_pr.go
  pkg/cli/add_workflow_repository.go
  pkg/cli/add_workflow_resolution.go
Due: none

Fix campaign ID normalization to collapse consecutive hyphens (#12274)
  pkg/campaign/injection.go
Due: none

Update security-alert-burndown.md
  .github/workflows/security-alert-burndown.md
Due: zizmor

Fix lint-go workflow: Remove unused logger variable (#12304)
  pkg/cli/add_workflow_pr.go
Due: none

Add create-agent-session to Security Alert Burndown (#12290)
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
Due: zizmor, actionlint

Eliminate redundant zero-capacity slice allocations (#12303)
  pkg/cli/file_tracker.go
  pkg/cli/mcp_registry.go
  pkg/cli/run_push.go
  pkg/cli/tool_graph.go
  pkg/parser/import_processor.go
  pkg/parser/include_processor.go
  pkg/workflow/compiler_additional_simple_test.go
  pkg/workflow/engine_parsing_simple_test.go
Due: none

Fix CLI messages using stdout instead of stderr with console formatting (#12302)
  pkg/cli/file_tracker.go
  pkg/cli/pr_command.go
  pkg/cli/run_workflow_validation.go
Due: none

chore: clarify agent session instructions
  .github/aw/close-agentic-campaign.md
  .github/aw/generate-agentic-campaign.md
  .github/aw/orchestrate-agentic-campaign.md
  .github/aw/update-agentic-campaign-project.md
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
  pkg/cli/templates/close-agentic-campaign.md
  pkg/cli/templates/generate-agentic-campaign.md
  pkg/cli/templates/orchestrate-agentic-campaign.md
  pkg/cli/templates/update-agentic-campaign-project.md
Due: zizmor, actionlint

Expand test coverage for campaign injection logic (#12310)
  pkg/campaign/injection_test.go
Due: none

Complete migration from deprecated action pin functions to typed alternatives (#12309)
  pkg/workflow/action_pins.go
  pkg/workflow/action_pins_test.go
  pkg/workflow/compiler_jobs.go
  pkg/workflow/compiler_orchestrator_workflow.go
  pkg/workflow/custom_engine.go
  pkg/workflow/safe_jobs.go
Due: none

Add max limit to create-agent-session
  .github/workflows/security-alert-burndown.md
Due: zizmor

Add existence check to create-agent-session codemod (#12316)
  pkg/cli/codemod_agent_session.go
  pkg/cli/codemod_agent_session_test.go
Due: none

Merge main and regenerate agentic workflows
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-regulatory.lock.yml
  .github/workflows/hourly-ci-cleaner.lock.yml
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/workflow-health-manager.lock.yml
Due: zizmor, actionlint

Fix lint errors: format Go code (#12318)
  pkg/workflow/action_pins_test.go
Due: none
