Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

.pre-commit-config.yaml:

# Pre-commit hooks for gh-aw
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Security scanning with zizmor
      - id: zizmor
        name: zizmor security scan
        entry: zizmor
        language: system
        files: \.github/workflows/.*\.(lock\.yml|md)$
        pass_filenames: true
        description: Scan GitHub Actions workflows for security vulnerabilities
        
      # Workflow linting with actionlint
      - id: actionlint
        name: actionlint workflow linting
        entry: actionlint
        language: system
        files: \.github/workflows/.*\.lock\.yml$
        pass_filenames: true
        description: Lint GitHub Actions workflow files for best practices and errors
        
      # Shell script validation with shellcheck
      - id: shellcheck
        name: shellcheck shell script validation
        entry: shellcheck
        language: system
        files: \.(sh|bash)$
        types: [file, shell]
        description: Validate shell scripts for common issues and best practices

fix docs
  docs/src/content/docs/setup/agentic-authoring.mdx
  docs/src/content/docs/setup/quick-start.md
Due: none

fix docs
  docs/src/content/docs/setup/quick-start.md
Due: none

fix docs
  docs/astro.config.mjs
Due: none

docs: unbloat operational patterns blog post
  docs/src/content/docs/blog/2026-01-27-operational-patterns.md
Due: none

[WIP] Update permissions for code_security GitHub toolset (#12028)
  pkg/workflow/data/github_toolsets_permissions.json
Due: none

Add `project` frontmatter field for automatic project board tracking (#12046)
  docs/src/content/docs/examples/project-tracking.md
  docs/src/content/docs/reference/frontmatter.md
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/compiler_orchestrator_tools.go
  pkg/workflow/frontmatter_types.go
  pkg/workflow/project_safe_outputs.go
  pkg/workflow/project_safe_outputs_test.go
Due: none

Merge main and regenerate workflows
  .github/aw/create-agentic-workflow.md
Due: none

Regenerate workflows after merge with main
  .github/workflows/security-alert-burndown.campaign.lock.yml
Due: zizmor, actionlint

Regenerate lock files after merge with main
  .github/workflows/security-alert-burndown.campaign.lock.yml
  .github/workflows/smoke-claude.lock.yml
  .github/workflows/smoke-codex.lock.yml
Due: zizmor, actionlint

Regenerate workflows after merge with main
  .github/workflows/security-alert-burndown.campaign.lock.yml
  pkg/cli/templates/create-agentic-workflow.md
Due: zizmor, actionlint

Add runtimes: go to smoke-opencode workflow
  .github/workflows/smoke-opencode.lock.yml
  .github/workflows/smoke-opencode.md
Due: zizmor, actionlint

Add security architecture slides to presentation deck (#12051)
  docs/slides/index.md
Due: none

Report missing safe outputs in failure issue instead of failing conclusion job (#12047)
  actions/setup/js/handle_agent_failure.cjs
  actions/setup/js/handle_agent_failure.test.cjs
  actions/setup/md/agent_failure_comment.md
  actions/setup/md/agent_failure_issue.md
Due: none

Fix test failures when running `make test` (#12055)
  pkg/cli/compile_maintenance_test.go
  pkg/cli/copilot_setup_test.go
  pkg/cli/mcp_add_integration_test.go
  pkg/workflow/codex_engine_test.go
  pkg/workflow/copilot_engine_test.go
  pkg/workflow/copilot_github_mcp_test.go
  pkg/workflow/copilot_installer_test.go
  pkg/workflow/custom_engine_test.go
  pkg/workflow/docker_predownload_test.go
  pkg/workflow/engine_helpers_github_test.go
  pkg/workflow/github_lockdown_integration_test.go
  pkg/workflow/github_lockdown_test.go
  pkg/workflow/github_remote_mode_test.go
  pkg/workflow/mcp_config_copilot_test.go
  pkg/workflow/mcp_config_refactor_test.go
  pkg/workflow/mcp_config_test.go
  pkg/workflow/mcp_renderer_test.go
Due: none

Add semantic navigation and enhance skip link visibility (#12075)
  docs/src/components/CustomHeader.astro
  docs/src/styles/custom.css
Due: none

Add security guard agentic workflow for PR security posture analysis (#12069)
  .github/workflows/security-guard.lock.yml
  .github/workflows/security-guard.md
Due: zizmor, actionlint

Refactor large test files (>1500 lines) into focused modules under 1000 lines (#12076)
  pkg/cli/logs_download_test.go
  pkg/cli/logs_filtering_test.go
  pkg/cli/logs_formatting_test.go
  pkg/cli/logs_parsing_test.go
  pkg/cli/logs_test.go
  pkg/cli/mcp_server_compile_test.go
  pkg/cli/mcp_server_operations_test.go
  pkg/cli/mcp_server_tools_test.go
  pkg/workflow/permissions_operations_test.go
  pkg/workflow/permissions_parser_test.go
  pkg/workflow/permissions_rendering_test.go
  pkg/workflow/permissions_test.go
Due: none

Add comprehensive GitHub MCP Server configuration and access control specification (#11989)
  specs/github-mcp-access-control-specification.md
Due: none

Add project field campaign orchestration support to workflows (#12053)
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
  pkg/campaign/injection.go
  pkg/campaign/orchestrator.go
  pkg/campaign/prompt_sections.go
  pkg/cli/compile_helpers.go
  pkg/cli/compile_workflow_processor.go
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/frontmatter_types.go
  specs/artifacts.md
Due: zizmor, actionlint

Consolidate shell escaping utilities into shell.go (#12074)
  .changeset/patch-consolidate-shell-utils.md
  .github/workflows/security-guard.lock.yml
  pkg/workflow/mcp_setup_generator.go
  pkg/workflow/mcp_utilities.go
  pkg/workflow/mcp_utilities_test.go
  pkg/workflow/shell.go
  pkg/workflow/shell_test.go
Due: zizmor, actionlint

Remove `.campaign.md` file format support (#12089)
  .github/workflows/security-alert-burndown.campaign.lock.yml
  .github/workflows/security-alert-burndown.campaign.md
  .github/workflows/security-alert-burndown.lock.yml
  .gitignore
  docs/campaign-discovery-budgets.md
  docs/src/content/docs/agent-factory-status.mdx
  docs/src/content/docs/examples/campaigns.md
  docs/src/content/docs/examples/campaigns/security-audit.campaign.md
  docs/src/content/docs/guides/campaigns/cli-commands.md
  docs/src/content/docs/guides/campaigns/creating-campaigns.md
  docs/src/content/docs/guides/campaigns/getting-started.md
  docs/src/content/docs/guides/campaigns/index.mdx
  docs/src/content/docs/guides/campaigns/lifecycle.md
  docs/src/content/docs/guides/campaigns/specs.md
  docs/src/content/docs/reference/glossary.md
  pkg/cli/compile_batch_operations.go
  pkg/cli/compile_helpers.go
  pkg/cli/compile_orchestration.go
  pkg/cli/compile_purge_campaign_lock_test.go
  pkg/cli/compile_workflow_processor.go
  pkg/cli/workflows/simple-execution-example.campaign.md
  pkg/stringutil/identifiers.go
  pkg/stringutil/identifiers_test.go
  pkg/workflow/compiler.go
  pkg/workflow/compiler_jobs.go
  specs/artifacts.md
Due: zizmor, actionlint

chore: simplify remove campaign discovery steps
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
  actions/setup/js/campaign_discovery.cjs
  actions/setup/js/campaign_discovery.test.cjs
  pkg/campaign/orchestrator.go
  pkg/campaign/validation.go
Due: zizmor, actionlint

chore: update project link
  .github/workflows/security-alert-burndown.md
  pkg/workflow/compiler_orchestrator_workflow.go
Due: zizmor

recompile
  .github/workflows/security-alert-burndown.lock.yml
Due: zizmor, actionlint

fix: update test expectations for GitHub tools in campaign orchestrators (#12107)
  pkg/campaign/orchestrator.go
  pkg/campaign/orchestrator_test.go
Due: none

Add missing GitHub permissions for MCP toolset access (#12104)
  .github/workflows/daily-semgrep-scan.lock.yml
  .github/workflows/daily-semgrep-scan.md
  .github/workflows/dev.lock.yml
  .github/workflows/dev.md
  .github/workflows/pr-triage-agent.lock.yml
  .github/workflows/pr-triage-agent.md
  .github/workflows/test-create-pr-error-handling.lock.yml
  .github/workflows/test-create-pr-error-handling.md
Due: zizmor, actionlint

Re-enable sandbox for daily-team-evolution-insights workflow (#12103)
  .github/workflows/daily-team-evolution-insights.lock.yml
  .github/workflows/daily-team-evolution-insights.md
Due: zizmor, actionlint

docs: Direct users to repository Agents tab instead of global Copilot interface (#12098)
  docs/src/content/docs/setup/agentic-authoring.mdx
Due: none

chore: simplify remove campaign discovery steps (#12106)
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
  actions/setup/js/campaign_discovery.cjs
  actions/setup/js/campaign_discovery.test.cjs
  pkg/campaign/orchestrator.go
  pkg/campaign/orchestrator_test.go
  pkg/campaign/validation.go
  pkg/workflow/compiler_orchestrator_workflow.go
Due: zizmor, actionlint
