Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

.pre-commit-config.yaml:

# Pre-commit hooks for gh-aw
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Security scanning with zizmor
      - id: zizmor
        name: zizmor security scan
        entry: zizmor
        language: system
        files: \.github/workflows/.*\.(lock\.yml|md)$
        pass_filenames: true
        description: Scan GitHub Actions workflows for security vulnerabilities
        
      # Workflow linting with actionlint
      - id: actionlint
        name: actionlint workflow linting
        entry: actionlint
        language: system
        files: \.github/workflows/.*\.lock\.yml$
        pass_filenames: true
        description: Lint GitHub Actions workflow files for best practices and errors
        
      # Shell script validation with shellcheck
      - id: shellcheck
        name: shellcheck shell script validation
        entry: shellcheck
        language: system
        files: \.(sh|bash)$
        types: [file, shell]
        description: Validate shell scripts for common issues and best practices

feat: add more episode cost analysis tests & docs
  docs/src/content/docs/reference/cost-management.md
  pkg/cli/logs_episode_test.go
Due: none

Add temporary-ID chain metrics to logs and audit
  docs/src/content/docs/reference/cost-management.md
  pkg/cli/audit_expanded.go
  pkg/cli/audit_expanded_test.go
  pkg/cli/audit_report.go
  pkg/cli/audit_test.go
  pkg/cli/logs_episode.go
  pkg/cli/logs_report.go
  pkg/cli/logs_safe_output_chains.go
  pkg/cli/logs_safe_output_chains_test.go
Due: none

refactor: replace temporary ID map filename with constant in audit and logs handling
  pkg/cli/audit_test.go
  pkg/cli/logs_safe_output_chains.go
  pkg/cli/logs_safe_output_chains_test.go
Due: none

fix: use assert.Empty for temporary ID map status in logs data test
  pkg/cli/logs_safe_output_chains_test.go
Due: none

Use total effective tokens in episode data
  docs/src/content/docs/reference/cost-management.md
  docs/src/content/docs/reference/glossary.md
  pkg/cli/logs_episode.go
  pkg/cli/logs_episode_test.go
Due: none

docs: add organization practices
  docs/astro.config.mjs
  docs/src/content/docs/organization-practices/index.mdx
  docs/src/content/docs/organization-practices/safe-rollout.md
  docs/src/content/docs/organization-practices/sharing-workflows.md
Due: none

docs: update refs and clarify versioning details
  docs/src/content/docs/organization-practices/index.mdx
  docs/src/content/docs/organization-practices/sharing-workflows.md
Due: none

Potential fix for pull request finding
  docs/src/content/docs/guides/organization-practices/index.mdx
Due: none

fix: streamline organization practices links
  docs/astro.config.mjs
Due: none

fix(run): wait up to 6h for workflow completion
  pkg/cli/run_workflow_execution.go
Due: none

FAQ: add entry on controlling the agent's working branch at runtime
  docs/src/content/docs/reference/faq.md
Due: none

FAQ: add off-platform admission control example
  docs/src/content/docs/reference/faq.md
Due: none

docs: add FAQ entry on agent action constraints
  docs/src/content/docs/reference/faq.md
Due: none

docs: add AW harness design plan
  specs/aw-harness.md
Due: none

feat: add workflow-call ID and episode attributes handling in OTLP span functions
  actions/setup/js/send_otlp_span.cjs
  actions/setup/js/send_otlp_span.test.cjs
Due: none

Add imports section to smoke workflow call documentation
  .github/workflows/smoke-workflow-call.lock.yml
  .github/workflows/smoke-workflow-call.md
Due: zizmor, actionlint

feat: inject aw_context into workflow_call inputs and update tests
  actions/setup/js/call_workflow.cjs
  actions/setup/js/call_workflow.test.cjs
  pkg/workflow/compiled_lock_files_test.go
  pkg/workflow/compiler_aw_context.go
Due: none

Update workflows for testing
  .github/workflows/smoke-call-workflow.lock.yml
  .github/workflows/smoke-call-workflow.md
  .github/workflows/smoke-workflow-call.lock.yml
Due: zizmor, actionlint

Enhance aw_context handling and workflow_call ID generation for improved traceability
  .github/workflows/smoke-call-workflow.lock.yml
  actions/setup/js/aw_context.cjs
  actions/setup/js/call_workflow.test.cjs
  actions/setup/js/dispatch_workflow.test.cjs
  actions/setup/js/send_otlp_span.cjs
  actions/setup/js/send_otlp_span.test.cjs
  pkg/workflow/compiled_lock_files_test.go
  pkg/workflow/compiler_safe_output_jobs.go
Due: zizmor, actionlint

Remove unused fields from aw_context
  .github/workflows/smoke-call-workflow.lock.yml
  pkg/workflow/compiler_safe_output_jobs.go
Due: zizmor, actionlint

streamline aw_context handling
  .github/workflows/smoke-call-workflow.lock.yml
  pkg/workflow/compiled_lock_files_test.go
  pkg/workflow/compiler_safe_output_jobs.go
Due: zizmor, actionlint

Implement canonical orchestration lineage for OTEL observability
  actions/setup/js/aw_context.cjs
  actions/setup/js/call_workflow.test.cjs
  actions/setup/js/dispatch_repository.test.cjs
  actions/setup/js/dispatch_workflow.test.cjs
  actions/setup/js/generate_aw_info.cjs
  actions/setup/js/generate_aw_info.test.cjs
  actions/setup/js/generate_footer.cjs
  actions/setup/js/generate_footer.test.cjs
  actions/setup/js/generate_observability_summary.cjs
  actions/setup/js/generate_observability_summary.test.cjs
  actions/setup/js/messages.test.cjs
  actions/setup/js/messages_footer.cjs
  actions/setup/js/send_otlp_span.cjs
  actions/setup/js/send_otlp_span.test.cjs
  docs/adr/0003-canonical-orchestration-lineage-for-otel-observability.md
Due: none

Add canonical episode ID handling
  pkg/cli/logs_episode.go
  pkg/cli/logs_episode_test.go
  pkg/cli/logs_models.go
Due: none

Refactor observability context handling
  actions/setup/js/generate_footer.cjs
  actions/setup/js/generate_footer.test.cjs
  actions/setup/js/generate_observability_summary.cjs
  actions/setup/js/generate_observability_summary.test.cjs
  actions/setup/js/messages.test.cjs
  actions/setup/js/messages_footer.cjs
  actions/setup/js/send_otlp_span.test.cjs
  docs/adr/0003-canonical-orchestration-lineage-for-otel-observability.md
  pkg/cli/logs_episode.go
  pkg/cli/logs_episode_test.go
  pkg/cli/logs_models.go
Due: none

Reverted smoke workflows
  .github/workflows/smoke-call-workflow.lock.yml
  .github/workflows/smoke-call-workflow.md
  .github/workflows/smoke-workflow-call.lock.yml
  .github/workflows/smoke-workflow-call.md
Due: zizmor, actionlint

Add better error handling
  actions/setup/js/send_otlp_span.test.cjs
Due: none

Enhance smoke workflow with OTEL observability
  .github/workflows/smoke-workflow-call.lock.yml
  .github/workflows/smoke-workflow-call.md
  pkg/workflow/compiled_lock_files_test.go
Due: zizmor, actionlint

Enhance smoke workflows with setup context
  .github/workflows/smoke-call-workflow.lock.yml
  .github/workflows/smoke-workflow-call.lock.yml
  actions/setup/js/send_otlp_span.cjs
  actions/setup/js/send_otlp_span.test.cjs
  pkg/workflow/cache.go
  pkg/workflow/compiler_activation_job_builder.go
  pkg/workflow/compiler_main_job.go
  pkg/workflow/compiler_pre_activation_job.go
  pkg/workflow/compiler_safe_outputs_job.go
  pkg/workflow/compiler_unlock_job.go
  pkg/workflow/compiler_yaml_step_generation.go
  pkg/workflow/notify_comment.go
  pkg/workflow/publish_assets.go
  pkg/workflow/repo_memory.go
  pkg/workflow/threat_detection.go
Due: zizmor, actionlint

improve daily-model-inventory: richer endpoint data and multiplier analysis (#30018) Co-authored-by: pelikhan <4175913+pelikhan@users.noreply.github.com>
  .github/workflows/daily-model-inventory.lock.yml
  .github/workflows/daily-model-inventory.md
Due: zizmor, actionlint

fix: resolve TypeScript typecheck errors in JS files (#30026) Co-authored-by: pelikhan <4175913+pelikhan@users.noreply.github.com>
  actions/setup/js/aw_context.cjs
  actions/setup/js/handle_agent_failure.cjs
  actions/setup/js/missing_info_formatter.cjs
  actions/setup/js/pick_experiment.cjs
  actions/setup/js/setup_globals.cjs
Due: none

Add A/B experiment for issue-arborist prompt_style (#30015) (#30016) Co-authored-by: pelikhan <4175913+pelikhan@users.noreply.github.com>
  .github/workflows/issue-arborist.lock.yml
  .github/workflows/issue-arborist.md
  pkg/workflow/compiler_orchestrator_frontmatter.go
  pkg/workflow/compiler_template_validation_test.go
  pkg/workflow/template_validation.go
Due: zizmor, actionlint

remove owner field from experiments (#30025) Co-authored-by: pelikhan <4175913+pelikhan@users.noreply.github.com>
  .github/workflows/daily-experiment-report.md
  actions/setup/js/pick_experiment.cjs
  docs/src/content/docs/guides/experiments.md
  pkg/cli/compile_experiments_integration_test.go
  pkg/cli/workflows/test-experiments-rich-schema.md
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/compiler_experiments.go
  pkg/workflow/compiler_experiments_test.go
  pkg/workflow/frontmatter_types.go
Due: zizmor

fix: use proper experiments.NAME == value syntax in docs and advisor prompt (#30023) Co-authored-by: pelikhan <4175913+pelikhan@users.noreply.github.com>
  .github/aw/experiments.md
  .github/workflows/ab-testing-advisor.md
Due: zizmor

docs: W3C-style A/B experiments specification (#30024) Co-authored-by: pelikhan <4175913+pelikhan@users.noreply.github.com>
  docs/src/content/docs/reference/experiments-specification.md
Due: none

Add daily Grafana OTel Instrumentation
  .github/workflows/daily-grafana-otel-instrumentation-advisor.lock.yml
  .github/workflows/daily-grafana-otel-instrumentation-advisor.md
Due: zizmor, actionlint

Potential fix for pull request finding
  .github/workflows/daily-grafana-otel-instrumentation-advisor.md
Due: zizmor

feat: Update OTel instrumentation workflow to support multiple endpoints
  .github/workflows/agentics-maintenance.yml
  .github/workflows/daily-grafana-otel-instrumentation-advisor.lock.yml
  .github/workflows/daily-grafana-otel-instrumentation-advisor.md
  .github/workflows/daily-otel-instrumentation-advisor.lock.yml
  .github/workflows/shared/observability-otlp.md
  .github/workflows/shared/otel.md
Due: zizmor, actionlint

Remove old workflows
  .github/workflows/copilot-token-audit.lock.yml
  .github/workflows/copilot-token-audit.md
  .github/workflows/copilot-token-optimizer.lock.yml
  .github/workflows/copilot-token-optimizer.md
Due: zizmor, actionlint

Add bundled workflow from githubnext/agentic-ops
  .github/workflows/copilot-token-audit.lock.yml
  .github/workflows/copilot-token-audit.md
  .github/workflows/copilot-token-optimizer.lock.yml
  .github/workflows/copilot-token-optimizer.md
Due: zizmor, actionlint

Update source reference in Copilot token optimizer workflows
  .github/workflows/copilot-token-audit.lock.yml
  .github/workflows/copilot-token-audit.md
  .github/workflows/copilot-token-optimizer.lock.yml
  .github/workflows/copilot-token-optimizer.md
Due: zizmor, actionlint
