Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

.pre-commit-config.yaml:

# Pre-commit hooks for gh-aw
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Security scanning with zizmor
      - id: zizmor
        name: zizmor security scan
        entry: zizmor
        language: system
        files: \.github/workflows/.*\.(lock\.yml|md)$
        pass_filenames: true
        description: Scan GitHub Actions workflows for security vulnerabilities
        
      # Workflow linting with actionlint
      - id: actionlint
        name: actionlint workflow linting
        entry: actionlint
        language: system
        files: \.github/workflows/.*\.lock\.yml$
        pass_filenames: true
        description: Lint GitHub Actions workflow files for best practices and errors
        
      # Shell script validation with shellcheck
      - id: shellcheck
        name: shellcheck shell script validation
        entry: shellcheck
        language: system
        files: \.(sh|bash)$
        types: [file, shell]
        description: Validate shell scripts for common issues and best practices

Clarify auto-triage handling for human bug reports (#50673)
  .github/workflows/auto-triage-issues.lock.yml
  .github/workflows/auto-triage-issues.md
Due: zizmor, actionlint

Enforce replace-label post-update response checks (#50625)
  actions/setup/js/replace_label.cjs
  actions/setup/js/replace_label.test.cjs
  specs/intent-attribution-compliance/README.md
  specs/otel-observability-spec.md
  specs/replace-label-compliance/README.md
Due: none

Potential fix for pull request finding
  docs/src/content/docs/introduction/architecture.mdx
Due: none

Add regexpdynamicpattern linter: flag non-constant regexp compile patterns (#50674)
  docs/adr/50674-add-regexpdynamicpattern-linter.md
  linters
  pkg/linters/README.md
  pkg/linters/doc.go
  pkg/linters/regexpdynamicpattern/regexpdynamicpattern.go
  pkg/linters/regexpdynamicpattern/regexpdynamicpattern_test.go
  pkg/linters/regexpdynamicpattern/testdata/src/regexpdynamicpattern/regexpdynamicpattern.go
  pkg/linters/registry.go
  pkg/linters/spec_test.go
Due: none

compile: stop adding ineffective merge=ours to lock.yml .gitattributes entry (#50639)
  .gitattributes
  create.md
  pkg/cli/add_gitattributes_test.go
  pkg/cli/git.go
  pkg/cli/gitattributes_test.go
  pkg/cli/init_command_test.go
  pkg/cli/init_integration_test.go
  pkg/cli/init_test.go
  pkg/constants/README.md
  pkg/constants/constants.go
Due: none

Allow read-only shell tools in Discussion Task Miner to prevent tool-denial cascade (#50686)
  .github/workflows/discussion-task-miner.lock.yml
  .github/workflows/discussion-task-miner.md
Due: zizmor, actionlint

Add name filtering to the list_label MCP pagination wrapper (#50689)
  .changeset/list-label-name-filter.md
  .github/skills/github-labels-query/SKILL.md
  .github/skills/github-labels-query/query-labels.sh
  .github/workflows/deep-report.lock.yml
  .github/workflows/github-mcp-structural-analysis.lock.yml
  .github/workflows/shared/github-mcp-pagination-wrappers.md
Due: zizmor, actionlint

Document ARC and sandbox runtime architecture (#50667)
  docs/src/content/docs/introduction/architecture.mdx
Due: none

Fix trial forwarding issue_number to workflows that don't declare it (#50638)
  .github/aw/actions-lock.json
  docs/adr/50638-guard-dispatch-input-forwarding-with-lock-file-schema-check.md
  pkg/cli/trial_helpers.go
  pkg/cli/trial_issue_mode_test.go
Due: none

cjs.yml: add checkout-cache job to deduplicate checkouts across parallel jobs (#50706)
  .github/workflows/cjs.yml
  .github/workflows/discussion-task-miner.lock.yml
Due: zizmor, actionlint

Prevent safe-output artifacts from capturing base64 CI trigger token (#50636)
  actions/setup/js/git_auth_helpers.cjs
  actions/setup/js/git_auth_helpers.test.cjs
Due: none

trial: render logical repo in github-context prompt (#50640)
  pkg/actionpins/data/action_pins.json
  pkg/workflow/data/action_pins.json
  pkg/workflow/unified_prompt_step.go
  pkg/workflow/unified_prompt_step_test.go
Due: none

Retain jobs.*.permissions for built-in safe_outputs and conclusion jobs (#50642)
  docs/adr/50642-additive-permissions-merge-for-builtin-jobs.md
  pkg/workflow/builtin_job_permissions_integration_test.go
  pkg/workflow/compiler_custom_jobs.go
Due: none

Fix cli-proxy image tag mismatch causing fleet-wide smoke-test outage (#50685)
  .changeset/patch-fix-cli-proxy-latest-tag-alias.md
  actions/setup/sh/download_docker_images.sh
  actions/setup/sh/download_docker_images_test.sh
Due: none

Deduplicate gateway configuration conversion adapters (#50701)
  actions/setup/js/convert_gateway_config_claude.cjs
  actions/setup/js/convert_gateway_config_codex.cjs
  actions/setup/js/convert_gateway_config_codex.test.cjs
  actions/setup/js/convert_gateway_config_copilot.cjs
  actions/setup/js/convert_gateway_config_gemini.cjs
  actions/setup/js/convert_gateway_config_shared.cjs
  actions/setup/js/convert_gateway_config_shared.test.cjs
  actions/setup/js/git_helpers.test.cjs
Due: none

docs: reorganize AI engines section into 4 majors + others (#50722)
  docs/src/content/docs/index.mdx
Due: none

feat: fail zizmor job on high/critical severity findings (#50711)
  pkg/cli/zizmor.go
  pkg/cli/zizmor_test.go
Due: none

safe-outputs: add report-failed-jobs to JSON schema (#50724)
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/compiler_safe_outputs_config_test.go
Due: none

feat: mask authHeader using core.setSecret in git_auth_helpers (#50728)
  actions/setup/js/git_auth_helpers.cjs
  actions/setup/js/git_auth_helpers.integration.test.cjs
  actions/setup/js/git_auth_helpers.test.cjs
Due: none

fix: prevent secret leakage in git invocations in JS action scripts (#50730)
  actions/setup/js/dynamic_checkout.cjs
  actions/setup/js/git_auth_helpers.cjs
  actions/setup/js/git_auth_helpers.test.cjs
  actions/setup/js/run_operation_update_upgrade.cjs
  actions/setup/js/run_operation_update_upgrade.test.cjs
Due: none

fix: detection-analysis-report timeout and redundant log downloads (#50716)
  .github/workflows/detection-analysis-report.lock.yml
  .github/workflows/detection-analysis-report.md
Due: zizmor, actionlint

Add full-repo audit mode to pkg/linters/errormessage (#50695)
  Makefile
  pkg/linters/README.md
  pkg/linters/errormessage/errormessage.go
  pkg/linters/errormessage/errormessage_test.go
Due: none

trial: fail and report rejected safe-output errors instead of always reporting success (#50723)
  pkg/cli/trial_helpers.go
  pkg/cli/trial_safe_output_errors_test.go
  pkg/cli/trial_types.go
Due: none

fix: propagate `max-ai-credits` to external detector AWF config (#50721)
  pkg/workflow/threat_detection_helpers.go
  pkg/workflow/threat_detection_test.go
Due: none

fix daily reports
  .github/workflows/daily-astrostylelite-markdown-spellcheck.md
  .github/workflows/daily-spending-forecast.md
Due: zizmor

recompile
  .github/workflows/daily-astrostylelite-markdown-spellcheck.lock.yml
  .github/workflows/daily-spending-forecast.lock.yml
Due: zizmor, actionlint

Update shim.cjs
  actions/setup/js/shim.cjs
Due: none

Mask derived secrets in JavaScript runtimes (#50741)
  actions/setup/js/action_setup_otlp.cjs
  actions/setup/js/action_setup_otlp.test.cjs
  actions/setup/js/copilot_harness.cjs
  actions/setup/js/exchange_otlp_workload_identity.cjs
  actions/setup/js/exchange_otlp_workload_identity.test.cjs
  actions/setup/js/generate_mcp_scripts_config.cjs
  actions/setup/js/generate_mcp_scripts_config.test.cjs
  actions/setup/js/git_helpers.cjs
  actions/setup/js/git_helpers.test.cjs
  actions/setup/js/shim.cjs
  actions/setup/js/shim.test.cjs
Due: none

Mask shim secrets in memory
  actions/setup/js/shim.cjs
  actions/setup/js/shim.test.cjs
Due: none

Avoid storing MCP gateway stderr in artifacts
  actions/setup/js/start_mcp_gateway.cjs
  actions/setup/js/stop_mcp_gateway.cjs
  actions/setup/js/stop_mcp_gateway.test.cjs
  pkg/constants/constants.go
  pkg/workflow/arc_dind_artifacts.go
  pkg/workflow/arc_dind_artifacts_test.go
  pkg/workflow/compiler_yaml_ai_execution.go
  pkg/workflow/compiler_yaml_post_agent.go
  pkg/workflow/mcp_logs_upload_test.go
Due: none

fix: prevent secret masking from MCP servers
  .changeset/patch-prevent-mcp-secret-masking.md
  actions/setup/js/check_workflow_recompile_needed.cjs
  actions/setup/js/check_workflow_recompile_needed.test.cjs
  actions/setup/js/git_auth_env.cjs
  actions/setup/js/git_auth_helpers.cjs
  actions/setup/js/git_auth_helpers.test.cjs
  actions/setup/js/git_helpers.cjs
  actions/setup/js/git_helpers.test.cjs
  actions/setup/js/push_experiment_state.cjs
  actions/setup/js/push_repo_memory.cjs
  actions/setup/js/push_repo_memory.test.cjs
  actions/setup/js/setup_sh_file_lists.test.cjs
  actions/setup/js/shim.cjs
  actions/setup/js/shim.test.cjs
  actions/setup/setup.sh
Due: none

Prevent secret masking from MCP servers (#50746)
  .changeset/patch-prevent-mcp-secret-masking.md
  actions/setup/js/action_setup_otlp.cjs
  actions/setup/js/actions_secret_masking.cjs
  actions/setup/js/actions_secret_masking.test.cjs
  actions/setup/js/check_workflow_recompile_needed.cjs
  actions/setup/js/check_workflow_recompile_needed.test.cjs
  actions/setup/js/copilot_harness.cjs
  actions/setup/js/dynamic_checkout.cjs
  actions/setup/js/git_auth_env.cjs
  actions/setup/js/git_auth_helpers.cjs
  actions/setup/js/git_auth_helpers.test.cjs
  actions/setup/js/git_helpers.cjs
  actions/setup/js/git_helpers.test.cjs
  actions/setup/js/push_experiment_state.cjs
  actions/setup/js/push_repo_memory.cjs
  actions/setup/js/push_repo_memory.test.cjs
  actions/setup/js/setup_sh_file_lists.test.cjs
  actions/setup/js/shim.cjs
  actions/setup/js/shim.test.cjs
  actions/setup/setup.sh
Due: none

fix: mask inferred OTLP access tokens (#50774)
  .changeset/patch-mask-inferred-otlp-tokens.md
  actions/setup/js/exchange_otlp_workload_identity.cjs
  actions/setup/js/exchange_otlp_workload_identity.test.cjs
  pkg/workflow/js/exchange_otlp_workload_identity.cjs
Due: none
