Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

.pre-commit-config.yaml:

# Pre-commit hooks for gh-aw
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Security scanning with zizmor
      - id: zizmor
        name: zizmor security scan
        entry: zizmor
        language: system
        files: \.github/workflows/.*\.(lock\.yml|md)$
        pass_filenames: true
        description: Scan GitHub Actions workflows for security vulnerabilities
        
      # Workflow linting with actionlint
      - id: actionlint
        name: actionlint workflow linting
        entry: actionlint
        language: system
        files: \.github/workflows/.*\.lock\.yml$
        pass_filenames: true
        description: Lint GitHub Actions workflow files for best practices and errors
        
      # Shell script validation with shellcheck
      - id: shellcheck
        name: shellcheck shell script validation
        entry: shellcheck
        language: system
        files: \.(sh|bash)$
        types: [file, shell]
        description: Validate shell scripts for common issues and best practices

Standardize serena tool configuration syntax across smoke test workflows (#10722)
  .github/workflows/smoke-claude.md
  .github/workflows/smoke-codex.md
Due: zizmor

Refactor mcp-config.go into 6 focused modules (1,301 → 1,344 lines) (#10721)
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/weekly-issue-summary.lock.yml
  pkg/workflow/mcp-config-builtin.go
  pkg/workflow/mcp-config-custom.go
  pkg/workflow/mcp-config-playwright.go
  pkg/workflow/mcp-config-serena.go
  pkg/workflow/mcp-config-types.go
  pkg/workflow/mcp-config-utils.go
  pkg/workflow/mcp-config.go
Due: zizmor, actionlint

Add markdown code region balancer for AI-generated nested fences (#10710)
  actions/setup/js/fuzz_markdown_code_region_balancer_harness.cjs
  actions/setup/js/markdown_code_region_balancer.cjs
  actions/setup/js/markdown_code_region_balancer.test.cjs
  actions/setup/js/sanitize_content.cjs
  actions/setup/js/sanitize_content_core.cjs
Due: none

Update campaign generator name (#10717)
  pkg/campaign/generator.go
Due: none

chore: init new campaign generator
  .github/aw/agentic-campaign-generator.md
  .github/workflows/agentic-campaign-generator.lock.yml
Due: zizmor, actionlint

chore: init new campaign generator (#10727)
  .github/aw/agentic-campaign-generator.md
  .github/workflows/agentic-campaign-generator.lock.yml
Due: zizmor, actionlint

Consolidate duplicate extractDomainFromURL implementations into stringutil package (#10725)
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/weekly-issue-summary.lock.yml
  pkg/cli/access_log.go
  pkg/cli/access_log_test.go
  pkg/stringutil/urls.go
  pkg/stringutil/urls_test.go
  pkg/workflow/domains.go
  pkg/workflow/http_mcp_domains_test.go
Due: zizmor, actionlint

rm agentic campaigns custom agent
  .github/agents/agentic-campaigns.agent.md
  Makefile
  pkg/cli/commands.go
  pkg/cli/copilot-agents.go
  pkg/cli/init.go
  pkg/cli/init_command.go
  pkg/cli/init_test.go
Due: none

update related paths
  .github/workflows/agentic-campaign-generator.md
  pkg/cli/compile_purge_campaign_lock_test.go
  pkg/cli/init.go
  pkg/cli/init_command.go
  pkg/cli/init_test.go
  pkg/cli/templates/agentic-campaigns.agent.md
  pkg/stringutil/identifiers.go
  pkg/stringutil/identifiers_test.go
  pkg/workflow/campaign_trigger_test.go
Due: zizmor

chore: fix lint errors from go fmt (#10742)
  .github/workflows/agentic-campaign-generator.lock.yml
  pkg/workflow/action_pins_logging_test.go
  pkg/workflow/action_pins_test.go
Due: zizmor, actionlint

Fix unbloat-docs workflow: proper preview server lifecycle management with shared workflow file (#10732)
  .github/workflows/daily-multi-device-docs-tester.lock.yml
  .github/workflows/daily-multi-device-docs-tester.md
  .github/workflows/docs-noob-tester.lock.yml
  .github/workflows/docs-noob-tester.md
  .github/workflows/shared/docs-server-lifecycle.md
  .github/workflows/unbloat-docs.lock.yml
  .github/workflows/unbloat-docs.md
  pkg/workflow/action_pins_logging_test.go
  pkg/workflow/action_pins_test.go
Due: zizmor, actionlint

chore: campaign generation cleanup (#10731)
  .github/agents/agentic-campaigns.agent.md
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/agentic-campaign-generator.md
  Makefile
  pkg/cli/commands.go
  pkg/cli/compile_purge_campaign_lock_test.go
  pkg/cli/copilot-agents.go
  pkg/cli/init.go
  pkg/cli/init_command.go
  pkg/cli/init_test.go
  pkg/cli/templates/agentic-campaigns.agent.md
  pkg/stringutil/identifiers.go
  pkg/stringutil/identifiers_test.go
  pkg/workflow/campaign_trigger_test.go
Due: zizmor, actionlint

Fix TOCTOU race condition in Docker image download logic (#10736)
  pkg/cli/docker_images.go
  pkg/cli/docker_images_test.go
Due: none

Replace panics with error returns in script registry (#10744)
  pkg/workflow/bundler_script_validation_test.go
  pkg/workflow/compiler_action_mode_test.go
  pkg/workflow/compiler_custom_actions_test.go
  pkg/workflow/custom_action_copilot_token_test.go
  pkg/workflow/script_registry.go
  pkg/workflow/script_registry_test.go
Due: none

rm create-campaign file as interarctive campaign desisgner no longer present
  pkg/cli/commands.go
  pkg/cli/copilot-agents.go
  pkg/cli/init.go
  pkg/cli/templates/create-agentic-campaign.md
Due: none

Recompile workflows to update lock files (#10757)
  .github/workflows/agentic-campaign-generator.lock.yml
Due: zizmor, actionlint

fix: move views to create-project in campaign generator (#10748)
  .github/aw/generate-agentic-campaign.md
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/agentic-campaign-generator.md
  pkg/campaign/generator.go
  pkg/cli/commands.go
  pkg/cli/copilot-agents.go
  pkg/cli/init.go
  pkg/cli/init_test.go
  pkg/cli/templates/generate-agentic-campaign.md
  specs/artifacts.md
Due: zizmor, actionlint

Fix markitdown MCP server schema validation failure (#10760)
  .github/workflows/mcp-inspector.lock.yml
  .github/workflows/pdf-summary.lock.yml
  .github/workflows/scout.lock.yml
  .github/workflows/shared/mcp/markitdown.md
Due: zizmor, actionlint

Add test coverage for compiler core files (2,291 untested lines) (#10756)
  pkg/workflow/compiler_activation_jobs_test.go
  pkg/workflow/compiler_orchestrator_test.go
  pkg/workflow/compiler_test.go
Due: none

Convert validation errors to structured types with actionable suggestions (#10758)
  pkg/workflow/bundler_safety_validation.go
  pkg/workflow/domains_protocol_integration_test.go
  pkg/workflow/expression_validation.go
  pkg/workflow/features_validation.go
  pkg/workflow/mcp_gateway_schema_validation.go
  pkg/workflow/npm_validation.go
  pkg/workflow/pip_validation.go
  pkg/workflow/runtime_validation.go
  pkg/workflow/safe_outputs_domains_validation.go
  pkg/workflow/sandbox_validation.go
  pkg/workflow/sandbox_validation_test.go
  pkg/workflow/step_order_validation.go
Due: none

Remove unused hasInternalPrefix function causing lint failure (#10774)
  pkg/workflow/compiler_orchestrator_test.go
Due: none

[WIP] Fix lint-go failure after PR #10756 merge (#10777)
  AGENTS.md
Due: none

Refactor Docker SBOM generation and attestation steps in release workflow
  .github/workflows/release.lock.yml
  .github/workflows/release.md
Due: zizmor, actionlint

remove generate docker image
  .github/workflows/release.lock.yml
  .github/workflows/release.md
Due: zizmor, actionlint

chore: clean campaign generation
  .github/aw/generate-agentic-campaign.md
  .github/workflows/agentic-campaign-generator.md
  pkg/campaign/generator.go
  pkg/cli/.github/aw/imports/.gitattributes
  pkg/cli/init.go
  pkg/cli/templates/generate-agentic-campaign.md
Due: zizmor

fix build
  .github/aw/generate-agentic-campaign.md
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/agentic-campaign-generator.md
  pkg/cli/templates/generate-agentic-campaign.md
Due: zizmor, actionlint

chore: clean campaign generation (#10795)
  .github/aw/generate-agentic-campaign.md
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/agentic-campaign-generator.md
  pkg/campaign/generator.go
  pkg/cli/.github/aw/imports/.gitattributes
  pkg/cli/init.go
  pkg/cli/templates/generate-agentic-campaign.md
Due: zizmor, actionlint

chore: consolidate campaign generation instructions
  .github/aw/create-agentic-campaign.md
  .github/aw/generate-agentic-campaign.md
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/agentic-campaign-generator.md
  Makefile
  pkg/campaign/generator.go
  pkg/cli/.github/aw/imports/.gitattributes
  pkg/cli/templates/create-agentic-campaign.md
  pkg/cli/templates/generate-agentic-campaign.md
Due: zizmor, actionlint

chore: consolidate campaign generation instructions (#10811)
  .github/aw/create-agentic-campaign.md
  .github/aw/generate-agentic-campaign.md
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/agentic-campaign-generator.md
  Makefile
  pkg/campaign/generator.go
  pkg/cli/.github/aw/imports/.gitattributes
  pkg/cli/templates/create-agentic-campaign.md
  pkg/cli/templates/generate-agentic-campaign.md
Due: zizmor, actionlint

refactor: update campaign msgs
  pkg/campaign/generator.go
  pkg/cli/templates/agentic-campaigns.agent.md
  pkg/cli/templates/agentic-workflows.agent.md
  pkg/cli/templates/generate-agentic-campaign.md
Due: none

Fix test failure: set prompts directory path in create_pr_review_comment test (#10813)
  actions/setup/js/create_pr_review_comment.test.cjs
  pkg/cli/templates/generate-agentic-campaign.md
Due: none

Fix smoke tests: Install Go runtime for Serena testing (#10805)
  .github/workflows/smoke-claude.lock.yml
  .github/workflows/smoke-claude.md
  .github/workflows/smoke-codex.lock.yml
  .github/workflows/smoke-codex.md
  .github/workflows/smoke-copilot.lock.yml
  .github/workflows/smoke-copilot.md
Due: zizmor, actionlint

refactor: enhance campaign output messages
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/agentic-campaign-generator.md
  pkg/campaign/command.go
  pkg/campaign/summary.go
  pkg/cli/templates/agentic-workflows.agent.md
  pkg/cli/templates/generate-agentic-campaign.md
Due: zizmor, actionlint
