Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

zizmor:
  name: zizmor security scan
  entry: zizmor
  language: system
  pass_filenames: true
  description: Scan GitHub Actions workflows for security vulnerabilities

actionlint:
  name: actionlint workflow linting
  entry: actionlint
  language: system
  pass_filenames: true
  description: Lint GitHub Actions workflow files for best practices and errors

Add agent compatibility matrix and validation
  .github/aw/compat.json
  .github/aw/compat.schema.json
  .github/workflows/cgo.yml
Due: none

Compat matrix clarity polish: schema defaults, validator comments
  .github/aw/compat.schema.json
  .github/workflows/cgo.yml
Due: none

docs: reorganize sections - experimental, patterns, reference restructure
  docs/astro.config.mjs
  docs/src/content/docs/agent-factory-status.mdx
  docs/src/content/docs/blog/2026-01-27-operational-patterns.md
  docs/src/content/docs/examples/project-tracking.md
  docs/src/content/docs/experimental/correction-ops.md
  docs/src/content/docs/experimental/monitoring-with-projects.md
  docs/src/content/docs/experimental/trial-ops.md
  docs/src/content/docs/guides/audit-with-agents.md
  docs/src/content/docs/guides/memoryops.md
  docs/src/content/docs/guides/self-hosted-runners.md
  docs/src/content/docs/guides/telemetry.md
  docs/src/content/docs/patterns/agentic-ops.md
  docs/src/content/docs/patterns/deterministic-agentic-patterns.md
  docs/src/content/docs/patterns/dispatch-ops.md
  docs/src/content/docs/patterns/expert-ops.md
  docs/src/content/docs/patterns/orchestration.md
  docs/src/content/docs/patterns/project-ops.mdx
  docs/src/content/docs/patterns/side-repo-ops.mdx
  docs/src/content/docs/reference/audit.md
  docs/src/content/docs/reference/cache-memory.md
  docs/src/content/docs/reference/compilation-process.md
  docs/src/content/docs/reference/custom-safe-outputs.md
  docs/src/content/docs/reference/ephemerals.md
  docs/src/content/docs/reference/faq.md
  docs/src/content/docs/reference/frontmatter.md
  docs/src/content/docs/reference/glossary.md
  docs/src/content/docs/reference/open-telemetry.md
  docs/src/content/docs/reference/qmd.md
  docs/src/content/docs/reference/safe-outputs.md
Due: none

fix: add RGBA() to WasmColor to implement color.Color interface
  pkg/styles/theme_wasm.go
Due: none

docs: move AWF Reflect Route to Experimental section
  docs/astro.config.mjs
  docs/src/content/docs/experimental/awf-reflect.md
  docs/src/content/docs/reference/glossary.md
Due: none

fmt: prettier format test cjs files
  actions/setup/js/create_pull_request.test.cjs
  actions/setup/js/git_helpers.test.cjs
Due: none

docs: rename deterministic-agentic-patterns to deterministic-ops
  docs/astro.config.mjs
  docs/src/content/docs/examples/project-tracking.md
  docs/src/content/docs/guides/memoryops.md
  docs/src/content/docs/guides/telemetry.md
  docs/src/content/docs/patterns/agentic-ops.md
  docs/src/content/docs/patterns/deterministic-ops.md
  docs/src/content/docs/patterns/project-ops.mdx
  docs/src/content/docs/reference/compilation-process.md
  docs/src/content/docs/reference/custom-safe-outputs.md
  docs/src/content/docs/reference/frontmatter.md
  docs/src/content/docs/reference/qmd.md
  docs/src/content/docs/reference/safe-outputs.md
Due: none

docs: consolidate and remove overlapping guides and patterns
  docs/astro.config.mjs
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-continuous-improvement.md
  docs/src/content/docs/blog/2026-01-27-operational-patterns.md
  docs/src/content/docs/examples/comment-triggered.md
  docs/src/content/docs/examples/issue-pr-events.md
  docs/src/content/docs/examples/issue-pr-events/coding-development.md
  docs/src/content/docs/examples/issue-pr-events/quality-testing.md
  docs/src/content/docs/examples/issue-pr-events/triage-analysis.md
  docs/src/content/docs/examples/project-tracking.md
  docs/src/content/docs/examples/scheduled.md
  docs/src/content/docs/examples/scheduled/research-planning.md
  docs/src/content/docs/guides/getting-started-mcp.md
  docs/src/content/docs/guides/github-actions-primer.md
  docs/src/content/docs/guides/mcps.md
  docs/src/content/docs/guides/memoryops.md
  docs/src/content/docs/guides/organization-practices/sharing-workflows.md
  docs/src/content/docs/guides/packaging-imports.mdx
  docs/src/content/docs/guides/serena.md
  docs/src/content/docs/guides/telemetry.md
  docs/src/content/docs/patterns/agentic-ops.md
  docs/src/content/docs/patterns/batch-ops.md
  docs/src/content/docs/patterns/data-ops.md
  docs/src/content/docs/patterns/deterministic-ops.md
  docs/src/content/docs/patterns/dispatch-ops.md
  docs/src/content/docs/patterns/expert-ops.md
  docs/src/content/docs/patterns/research-plan-assign-ops.md
  docs/src/content/docs/patterns/task-ops.md
  docs/src/content/docs/patterns/workqueue-ops.md
  docs/src/content/docs/reference/faq.md
  docs/src/content/docs/reference/glossary.md
  docs/src/content/docs/reference/imports.md
  docs/src/content/docs/reference/inline-sub-agents.md
  docs/src/content/docs/reference/integrity.md
  docs/src/content/docs/reference/open-telemetry.md
  docs/src/content/docs/reference/qmd.md
  docs/src/content/docs/reference/safe-outputs-pull-requests.md
  docs/src/content/docs/reference/safe-outputs.md
  docs/src/content/docs/troubleshooting/errors.md
Due: none

docs: add Practices sidebar section, collapse Experimental
  docs/astro.config.mjs
  docs/src/content/docs/guides/editing-workflows.md
  docs/src/content/docs/guides/mcps.md
  docs/src/content/docs/guides/organization-practices/index.mdx
  docs/src/content/docs/guides/serena.md
  docs/src/content/docs/practices/safe-rollout.md
  docs/src/content/docs/practices/sharing-workflows.md
Due: none

docs: add missing sidebar entries for guides, reference, and examples
  docs/astro.config.mjs
Due: none

docs: move Maintaining Repositories to Practices section
  docs/astro.config.mjs
  docs/src/content/docs/practices/maintaining-repos.md
Due: none

docs: remove Examples from sidebar
  docs/astro.config.mjs
Due: none

docs: fix broken link to maintaining-repos in glossary
  docs/src/content/docs/reference/glossary.md
Due: none

docs: move Organization Practices to Practices section
  docs/astro.config.mjs
  docs/src/content/docs/practices/organization-practices.mdx
Due: none

docs: move Web Search to reference/web-search.md
  docs/astro.config.mjs
  docs/src/content/docs/reference/engines.md
  docs/src/content/docs/reference/tools.md
  docs/src/content/docs/reference/web-search.md
Due: none

docs: rename AgenticOps to MonitorOps (monitor-ops.md)
  docs/astro.config.mjs
  docs/src/content/docs/patterns/monitor-ops.md
  docs/src/content/docs/reference/glossary.md
Due: none

docs: rename memoryops.md to memory-ops.md for consistency
  docs/astro.config.mjs
  docs/src/content/docs/guides/memory-ops.md
Due: none

code review
  docs/astro.config.mjs
Due: none

chore: update authorization headers
  .github/workflows/shared/observability-otlp.md
  .github/workflows/shared/otel-observability.md
Due: zizmor

docs: move Serena to reference/serena.md
  docs/astro.config.mjs
  docs/src/content/docs/reference/serena.md
Due: none

Potential fix for pull request finding
  .github/workflows/shared/observability-otlp.md
Due: zizmor

docs: move Experiments (Spec) to Practices as A/B Experiments (Spec)
  docs/astro.config.mjs
Due: none

Update observability-otlp.md
  .github/workflows/shared/observability-otlp.md
Due: zizmor

smoke otel: update telemetry query timeframe to last 24 hours
  .github/workflows/smoke-otel-backends.md
Due: zizmor

chore: Update otel smoke tests
  .github/workflows/smoke-otel-backends.md
  .github/workflows/smoke-otel.lock.yml
  .github/workflows/smoke-otel.md
Due: zizmor, actionlint

chore: enhance otel smoke tests
  .github/workflows/smoke-otel-backends.md
Due: zizmor

chore: simplify naming and clarify status checks for OTEL backends
  .github/workflows/smoke-otel-backends.md
Due: zizmor

Potential fix for pull request finding
  .github/workflows/smoke-otel-backends.md
Due: zizmor

chore: normalize otel auth
  .github/workflows/daily-astrostylelite-markdown-spellcheck.md
  .github/workflows/daily-aw-cross-repo-compile-check.md
  .github/workflows/daily-cache-strategy-analyzer.md
  .github/workflows/daily-caveman-optimizer.md
  .github/workflows/daily-hippo-learn.md
  .github/workflows/daily-model-inventory.md
  .github/workflows/daily-skill-optimizer.md
  .github/workflows/shared/otel.md
  .github/workflows/shared/otlp.md
  .github/workflows/smoke-otel-backends.md
  pkg/workflow/observability_otlp.go
  pkg/workflow/observability_otlp_test.go
Due: zizmor

Update otlp.md
  .github/workflows/shared/otlp.md
Due: zizmor

Delete docs/adr/32864-endpoint-aware-sentry-authorization-header-rewrite.md
  docs/adr/32864-endpoint-aware-sentry-authorization-header-rewrite.md
Due: none

chore: update workflow to include Grafana MCP server and enhance telemetry validation
  .github/workflows/aw-portfolio-yield.lock.yml
  .github/workflows/aw-portfolio-yield.md
Due: zizmor, actionlint

feat(cli): add JSON workflow importer with trigger/tool/permissions mapping
  pkg/cli/jsonworkflow_to_markdown.go
  pkg/cli/jsonworkflow_to_markdown_test.go
Due: none

feat: Expand otel docs & add spec
  docs/astro.config.mjs
  docs/src/content/docs/agent-factory-status.mdx
  docs/src/content/docs/experimental/opentelemetry.mdx
  specs/otel-observability-spec.md
Due: none

chore: update otlp.md with xml docs
  .github/workflows/shared/otlp.md
Due: zizmor

feat: add daily reliability review workflow for monitoring agentic workflow failures
  .github/workflows/daily-reliability-review.lock.yml
  .github/workflows/daily-reliability-review.md
Due: zizmor, actionlint

Potential fix for pull request finding
  .github/workflows/daily-reliability-review.md
Due: zizmor

Potential fix for pull request finding
  actions/setup/js/send_otlp_span.test.cjs
Due: none

Path conditions:
  zizmor: any of: \.github/workflows/.*\.(lock\.yml|md)$
  actionlint: any of: \.github/workflows/.*\.lock\.yml$
