Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

.pre-commit-config.yaml:

# Pre-commit hooks for gh-aw
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Security scanning with zizmor
      - id: zizmor
        name: zizmor security scan
        entry: zizmor
        language: system
        files: \.github/workflows/.*\.(lock\.yml|md)$
        pass_filenames: true
        description: Scan GitHub Actions workflows for security vulnerabilities
        
      # Workflow linting with actionlint
      - id: actionlint
        name: actionlint workflow linting
        entry: actionlint
        language: system
        files: \.github/workflows/.*\.lock\.yml$
        pass_filenames: true
        description: Lint GitHub Actions workflow files for best practices and errors
        
      # Shell script validation with shellcheck
      - id: shellcheck
        name: shellcheck shell script validation
        entry: shellcheck
        language: system
        files: \.(sh|bash)$
        types: [file, shell]
        description: Validate shell scripts for common issues and best practices

Add changeset [skip-ci]
  .changeset/patch-remove-serena-local-mode.md
Due: none

refactor: fix orphaned comments in schema_validation.go
  pkg/parser/schema_validation.go
Due: none

docs: fix three confirmed documentation gaps from issue analysis
  AGENTS.md
  docs/src/content/docs/setup/cli.md
Due: none

fix dependency
  actions/setup/setup.sh
Due: none

add test
  actions/setup/setup.sh
Due: none

add test
  actions/setup/js/setup_sh_file_lists.test.cjs
Due: none

Add changeset [skip-ci]
  .changeset/patch-multi-repo-checkout.md
Due: none

Add debug logging to parser, workflow, and cli packages
  pkg/cli/deps_report.go
  pkg/parser/import_cycle.go
  pkg/parser/schedule_cron_detection.go
  pkg/parser/schema_compiler.go
  pkg/workflow/codex_mcp.go
Due: none

Add changeset [skip-ci]
  .changeset/patch-clean-tmp-gh-aw.md
Due: none

fixup gh aw add to be how we want
  cmd/gh-aw/argument_syntax_test.go
  cmd/gh-aw/main.go
  cmd/gh-aw/short_description_test.go
  pkg/cli/add_command.go
  pkg/cli/add_interactive_git.go
  pkg/cli/add_interactive_orchestrator.go
  pkg/cli/add_wizard_command.go
Due: none

add smoke tests
  .github/workflows/smoke-create-cross-repo-pr.lock.yml
  .github/workflows/smoke-create-cross-repo-pr.md
  .github/workflows/smoke-update-cross-repo-pr.lock.yml
  .github/workflows/smoke-update-cross-repo-pr.md
Due: zizmor, actionlint

fixup commands to be regular
  docs/src/content/docs/setup/cli.md
  pkg/cli/add_command.go
  pkg/cli/add_integration_test.go
  pkg/cli/add_interactive_git.go
  pkg/cli/git.go
  pkg/cli/init.go
  pkg/cli/init_command.go
  pkg/cli/init_command_test.go
  pkg/cli/init_mcp_test.go
  pkg/cli/init_test.go
  pkg/cli/interfaces_test.go
  pkg/cli/pr_helpers.go
  pkg/cli/update_command.go
  pkg/cli/upgrade_command.go
Due: none

fixup commands to be regular
  pkg/cli/init_command_test.go
  pkg/cli/update_integration_test.go
Due: none

docs: add architecture diagram to scratchpad/architecture.md
  scratchpad/architecture.md
Due: none

instructions: sync github-agentic-workflows.md with v0.40.1
  .github/aw/github-agentic-workflows.md
Due: none

docs: consolidate architecture diagram and guard policies into dev.md (v3.4)
  scratchpad/dev.md
Due: none

Update .github/workflows/smoke-update-cross-repo-pr.md
  .github/workflows/smoke-update-cross-repo-pr.md
Due: zizmor

update workflow
  .github/workflows/smoke-create-cross-repo-pr.lock.yml
  .github/workflows/smoke-create-cross-repo-pr.md
  .github/workflows/smoke-update-cross-repo-pr.lock.yml
  .github/workflows/smoke-update-cross-repo-pr.md
Due: zizmor, actionlint

fixes
  .github/workflows/security-alert-burndown.campaign.g.lock.yml
  .github/workflows/test-project-url-default.lock.yml
  pkg/workflow/compiler_safe_outputs_core.go
Due: zizmor, actionlint

fixes
  pkg/workflow/compiler_safe_outputs_core.go
Due: none

fixes
  actions/setup/js/extra_empty_commit.cjs
  actions/setup/js/extra_empty_commit.test.cjs
Due: none

fixes
  actions/setup/js/create_pull_request.cjs
  actions/setup/js/push_to_pull_request_branch.cjs
Due: none

fixes
  actions/setup/js/create_pull_request.cjs
Due: none

fixes
  actions/setup/js/extra_empty_commit.test.cjs
  actions/setup/js/push_to_pull_request_branch.test.cjs
Due: none

docs: update layout specification for 2026-03-02
  scratchpad/layout.md
Due: none

chore: remove dead functions (phase 5) — CLI git helpers
  pkg/cli/git.go
  pkg/cli/git_push_test.go
  timings.md
  timings2.md
Due: none

chore: remove dead functions (phase 6) — parser frontmatter
  pkg/parser/frontmatter_content.go
  pkg/parser/frontmatter_extraction_test.go
  pkg/parser/frontmatter_hash.go
  pkg/parser/frontmatter_hash_stability_test.go
  pkg/parser/frontmatter_hash_test.go
Due: none

chore: remove dead functions (phase 7) — parser URL & schema
  pkg/cli/audit_test.go
  pkg/parser/github_urls.go
  pkg/parser/github_urls_test.go
  pkg/parser/schema_compiler.go
Due: none

Add changeset [skip-ci]
  .changeset/patch-prevent-cross-call-closes.md
Due: none

chore: remove dead functions (phase 8) — parser import system
  pkg/cli/dependency_graph_test.go
  pkg/parser/agent_import_integration_test.go
  pkg/parser/frontmatter_utils_test.go
  pkg/parser/import_error.go
  pkg/parser/import_error_test.go
  pkg/parser/import_processor.go
  pkg/parser/import_remote_nested_test.go
  pkg/parser/import_topological_contract_test.go
  pkg/parser/import_topological_test.go
  pkg/parser/yaml_import_copilot_setup_test.go
  pkg/parser/yaml_import_e2e_test.go
  pkg/parser/yaml_import_test.go
  pkg/workflow/error_wrapping_test.go
Due: none

chore: remove dead functions — 6 functions removed
  pkg/sliceutil/sliceutil.go
  pkg/workflow/metrics.go
  pkg/workflow/metrics_test.go
  pkg/workflow/semver.go
  pkg/workflow/semver_test.go
  pkg/workflow/shared_workflow_error.go
  pkg/workflow/shell.go
  pkg/workflow/shell_test.go
  pkg/workflow/step_types.go
  pkg/workflow/step_types_test.go
Due: none

refactor: simplify frontmatter_hash.go after dead-code removal
  pkg/parser/frontmatter_hash.go
Due: none

design updates
  .github/workflows/smoke-update-cross-repo-pr.md
  docs/src/content/docs/reference/cross-repository.md
  docs/src/content/docs/reference/frontmatter.md
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/checkout_manager.go
  pkg/workflow/checkout_manager_test.go
Due: zizmor

Update pkg/workflow/checkout_manager.go
  pkg/workflow/checkout_manager.go
Due: none

Update .github/workflows/smoke-codex.lock.yml
  .github/workflows/smoke-codex.lock.yml
Due: zizmor, actionlint

code review
  .github/workflows/smoke-codex.lock.yml
  .github/workflows/smoke-create-cross-repo-pr.lock.yml
  .github/workflows/smoke-update-cross-repo-pr.lock.yml
Due: zizmor, actionlint

updates
  .serena/project.yml
  DEADCODE.md
Due: none

updates
  .serena/project.yml
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/checkout_manager.go
  pkg/workflow/checkout_manager_test.go
  pkg/workflow/compiler_yaml_main_job.go
Due: none

finish auth for checkout
  .github/workflows/smoke-create-cross-repo-pr.lock.yml
  .github/workflows/smoke-create-cross-repo-pr.md
  .github/workflows/smoke-update-cross-repo-pr.lock.yml
  .github/workflows/smoke-update-cross-repo-pr.md
  docs/src/content/docs/reference/cross-repository.md
  docs/src/content/docs/reference/frontmatter.md
  pkg/workflow/compiler_yaml_main_job.go
Due: zizmor, actionlint
