Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

zizmor:
  name: zizmor security scan
  entry: zizmor
  language: system
  pass_filenames: true
  description: Scan GitHub Actions workflows for security vulnerabilities

actionlint:
  name: actionlint workflow linting
  entry: actionlint
  language: system
  pass_filenames: true
  description: Lint GitHub Actions workflow files for best practices and errors

Update CLI tools: Claude Code 2.1.20, Codex 0.92.0, GitHub MCP 0.30.2, Playwright 0.0.61, MCP Gateway 0.0.84 (#12102)
  .changeset/patch-update-cli-tool-versions.md
  .github/workflows/agent-performance-analyzer.lock.yml
  .github/workflows/agent-persona-explorer.lock.yml
  .github/workflows/ai-moderator.lock.yml
  .github/workflows/archie.lock.yml
  .github/workflows/artifacts-summary.lock.yml
  .github/workflows/audit-workflows.lock.yml
  .github/workflows/auto-triage-issues.lock.yml
  .github/workflows/blog-auditor.lock.yml
  .github/workflows/brave.lock.yml
  .github/workflows/breaking-change-checker.lock.yml
  .github/workflows/changeset.lock.yml
  .github/workflows/chroma-issue-indexer.lock.yml
  .github/workflows/ci-coach.lock.yml
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/claude-code-user-docs-review.lock.yml
  .github/workflows/cli-consistency-checker.lock.yml
  .github/workflows/cli-version-checker.lock.yml
  .github/workflows/cloclo.lock.yml
  .github/workflows/code-scanning-fixer.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/codex-github-remote-mcp-test.lock.yml
  .github/workflows/commit-changes-analyzer.lock.yml
  .github/workflows/copilot-agent-analysis.lock.yml
  .github/workflows/copilot-cli-deep-research.lock.yml
  .github/workflows/copilot-pr-merged-report.lock.yml
  .github/workflows/copilot-pr-nlp-analysis.lock.yml
  .github/workflows/copilot-pr-prompt-analysis.lock.yml
  pkg/constants/constants.go
  pkg/constants/constants_test.go
Due: zizmor, actionlint

Fix Security Guard Agent to call noop when no security concerns found (#12086)
  .github/workflows/security-guard.lock.yml
  .github/workflows/security-guard.md
Due: zizmor, actionlint

Add maxLength constraints to workflow metadata fields (#12091)
  pkg/parser/schema_test.go
  pkg/parser/schemas/main_workflow_schema.json
Due: none

Migrate deprecated timeout constants to time.Duration types (#12092)
  pkg/constants/constants.go
  pkg/constants/constants_test.go
  pkg/workflow/claude_engine.go
  pkg/workflow/compiler_timeout_default_test.go
  pkg/workflow/copilot_engine_execution.go
  pkg/workflow/mcp_renderer.go
  pkg/workflow/tools.go
Due: none

Delete .github/workflows/security-alert-burndown.campaign.g.md
  .github/workflows/security-alert-burndown.campaign.g.md
Due: zizmor

rm campaign.g.lock.yml
  .github/workflows/security-alert-burndown.campaign.g.lock.yml
Due: zizmor, actionlint

chore: rm legacy campaign files (#12115)
  .github/workflows/security-alert-burndown.campaign.g.lock.yml
  .github/workflows/security-alert-burndown.campaign.g.md
Due: zizmor, actionlint

chore: enhance campaign id handling
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
  pkg/campaign/injection.go
  pkg/campaign/injection_test.go
  pkg/workflow/compiler_orchestrator_workflow.go
  pkg/workflow/compiler_types.go
  pkg/workflow/frontmatter_types.go
  pkg/workflow/frontmatter_types_test.go
Due: zizmor, actionlint

Add Claude quick-start workflow example to engines documentation (#12120)
  docs/src/content/docs/reference/engines.md
Due: none

chore: enhance campaign id handling (#12124)
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
  pkg/campaign/injection.go
  pkg/campaign/injection_test.go
  pkg/workflow/compiler_orchestrator_workflow.go
  pkg/workflow/compiler_types.go
  pkg/workflow/frontmatter_types.go
  pkg/workflow/frontmatter_types_test.go
Due: zizmor, actionlint

Fix SC2166: Replace deprecated `-a` operator in shell conditions (#12118)
  .changeset/patch-avoid-shell-and-operator.md
  .github/workflows/ai-moderator.lock.yml
  .github/workflows/archie.lock.yml
  .github/workflows/brave.lock.yml
  .github/workflows/cloclo.lock.yml
  .github/workflows/craft.lock.yml
  .github/workflows/grumpy-reviewer.lock.yml
  .github/workflows/mergefest.lock.yml
  .github/workflows/pdf-summary.lock.yml
  .github/workflows/plan.lock.yml
  .github/workflows/poem-bot.lock.yml
  .github/workflows/pr-nitpick-reviewer.lock.yml
  .github/workflows/q.lock.yml
  .github/workflows/scout.lock.yml
  .github/workflows/security-review.lock.yml
  .github/workflows/tidy.lock.yml
  pkg/workflow/unified_prompt_step.go
Due: zizmor, actionlint

Clarify two-file structure in create/update workflow prompts (#12121)
  .github/aw/create-agentic-workflow.md
  .github/aw/update-agentic-workflow.md
Due: none

Add Serena MCP server documentation (#12127)
  docs/src/content/docs/agent-factory-status.mdx
  docs/src/content/docs/guides/serena.md
  pkg/cli/templates/create-agentic-workflow.md
  pkg/cli/templates/update-agentic-workflow.md
Due: none

docs: Clarify engine selection in Quick Start guide (#12135)
  docs/src/content/docs/setup/quick-start.md
Due: none

Add dispatch-workflow to safe-outputs JSON schema (#12158)
  pkg/parser/schemas/main_workflow_schema.json
Due: none

Enable copy buttons on code snippets in documentation (#12162)
  docs/astro.config.mjs
Due: none

Fix Security Alert Burndown workflow: Add inline discovery for Dependabot PRs (#12166)
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
  specs/artifacts.md
Due: zizmor, actionlint

Fix duplicate expiration comments by adding deduplication to search (#12167)
  actions/setup/js/close_expired_discussions.cjs
  actions/setup/js/close_expired_discussions.test.cjs
Due: none

Add automated cleanup policy for stale draft PRs (#12174)
  .github/workflows/draft-pr-cleanup.lock.yml
  .github/workflows/draft-pr-cleanup.md
Due: zizmor, actionlint

Increase workflow health manager timeout to 30 minutes (#12176)
  .github/workflows/daily-team-status.lock.yml
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/workflow-health-manager.lock.yml
  .github/workflows/workflow-health-manager.md
Due: zizmor, actionlint

Add package-level documentation to core packages (#12189)
  pkg/cli/doc.go
  pkg/logger/doc.go
  pkg/parser/doc.go
  pkg/types/doc.go
  pkg/workflow/doc.go
Due: none

Replace redundant zero-capacity slice allocations with idiomatic zero-value declarations (#12190)
  pkg/workflow/action_cache.go
  pkg/workflow/compiler_safe_outputs_job.go
  pkg/workflow/jobs.go
  pkg/workflow/mcp_setup_generator.go
  pkg/workflow/step_order_validation.go
Due: none

Add debug logging to utility and validation functions
  pkg/cli/validators.go
  pkg/gitutil/gitutil.go
  pkg/repoutil/repoutil.go
  pkg/workflow/github_tool_to_toolset.go
  pkg/workflow/prompts.go
Due: none

Fix TypeScript error in close_expired_discussions: add duplicateCount to return type (#12206)
  actions/setup/js/close_expired_discussions.cjs
Due: none

Fix heading formatting in README.mdw
  README.md
Due: none

Improve technical tone consistency across developer documentation
  .github/agents/developer.instructions.md
  specs/agents/hierarchical-agents-quickstart.md
  specs/agents/hierarchical-agents.md
  specs/gastown.md
  specs/go-type-patterns.md
  specs/labels.md
  specs/mdflow.md
  specs/mods/jsonschema-go.md
  specs/oh-my-code.md
  specs/testing.md
Due: none

Remove old security alert burndown campaign
  .github/workflows/security-alert-burndown.campaign.g.lock.yml
  .github/workflows/security-alert-burndown.campaign.g.md
Due: zizmor, actionlint

chore: rm legacy security alert burndown campaign (#12234)
  .github/workflows/security-alert-burndown.campaign.g.lock.yml
  .github/workflows/security-alert-burndown.campaign.g.md
Due: zizmor, actionlint

refactor: update security alert burndown workflow to include code and secret scanning alerts
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
Due: zizmor, actionlint

refactor: update security alert burndown workflow to include code and secret scanning alerts (#12240)
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
Due: zizmor, actionlint

Path conditions:
  zizmor: any of: \.github/workflows/.*\.(lock\.yml|md)$
  actionlint: any of: \.github/workflows/.*\.lock\.yml$
