Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

.pre-commit-config.yaml:

# Pre-commit hooks for gh-aw
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Security scanning with zizmor
      - id: zizmor
        name: zizmor security scan
        entry: zizmor
        language: system
        files: \.github/workflows/.*\.(lock\.yml|md)$
        pass_filenames: true
        description: Scan GitHub Actions workflows for security vulnerabilities
        
      # Workflow linting with actionlint
      - id: actionlint
        name: actionlint workflow linting
        entry: actionlint
        language: system
        files: \.github/workflows/.*\.lock\.yml$
        pass_filenames: true
        description: Lint GitHub Actions workflow files for best practices and errors
        
      # Shell script validation with shellcheck
      - id: shellcheck
        name: shellcheck shell script validation
        entry: shellcheck
        language: system
        files: \.(sh|bash)$
        types: [file, shell]
        description: Validate shell scripts for common issues and best practices

Fix invalid experiments.output_format fields in copilot-agent-analysis
  .github/workflows/copilot-agent-analysis.lock.yml
  .github/workflows/copilot-agent-analysis.md
Due: zizmor, actionlint

update pins
  .github/aw/actions-lock.json
  pkg/actionpins/data/action_pins.json
  pkg/workflow/data/action_pins.json
Due: none

Fix unchecked type assertion in lenstringzero linter
  pkg/linters/lenstringzero/lenstringzero.go
Due: none

CI fixes
  actions/setup/js/apply_samples.cjs
  cmd/gh-aw/version_test.go
  pkg/cli/commands_compile_workflow_test.go
  pkg/cli/compile_command_test.go
  pkg/cli/compile_integration_test.go
Due: none

CI fixes
  actions/setup/js/apply_samples.cjs
Due: none

remove tests
  pkg/workflow/action_pins_logging_test.go
Due: none

CI fixes
  pkg/actionpins/data/action_pins.json
Due: none

Fix js-typecheck by using @ts-ignore that prettier doesn't strip
  actions/setup/js/apply_samples.cjs
Due: none

Fix CI: add missing v0.3.24 MCPG pin and Windows test compatibility
  cmd/gh-aw/version_test.go
  pkg/actionpins/data/action_pins.json
  pkg/cli/commands_compile_workflow_test.go
  pkg/cli/compile_command_test.go
  pkg/cli/compile_integration_test.go
Due: none

Update action_pins.json
  pkg/actionpins/data/action_pins.json
Due: none

ci: scope workflow triggers to relevant paths
  .github/workflows/CWI.yml
  .github/workflows/cgo.yml
  .github/workflows/ci.yml
  .github/workflows/cjs.yml
  .github/workflows/cpi.yml
  .github/workflows/integration-agentics.yml
  .github/workflows/license-check.yml
Due: none

Explore impact report
  .github/workflows/objective-impact-report.lock.yml
Due: zizmor, actionlint

Add markdown file
  .github/workflows/objective-impact-report.md
Due: zizmor

ci: remove broken CHI workflow (cpi.yml)
  .github/workflows/cpi.yml
Due: none

Upgrade pr-finisher skill with agent-merge patterns
  .github/skills/pr-finisher/SKILL.md
Due: none

Reframe pr-finisher for GitHub Copilot cloud agent context
  .github/skills/pr-finisher/SKILL.md
Due: none

Potential fix for pull request finding
  .github/workflows/objective-impact-report.md
Due: zizmor

Stop retrying Copilot CLI PAT-rejection 400 as transient
  actions/setup/js/copilot_harness.cjs
  actions/setup/js/copilot_harness.test.cjs
Due: none

ci-coach: make pre-flight validation non-fatal so coach can repair broken CI
  .github/workflows/ci-coach.md
  .github/workflows/shared/ci-data-analysis.md
Due: zizmor

Potential fix for pull request finding
  specs/otel-observability-spec.md
Due: none

Add checkout-credential-review skill and wire from AGENTS.md
  .github/skills/checkout-credential-review/SKILL.md
  AGENTS.md
Due: none

Update OpenTelemetry references and docs
  docs/astro.config.mjs
  docs/src/content/docs/experimental/opentelemetry.mdx
  docs/src/content/docs/guides/open-telemetry.mdx
  docs/src/content/docs/guides/using-at-scale.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/patterns/monitor-ops.md
  docs/src/content/docs/reference/artifacts.md
  docs/src/content/docs/reference/cost-management.md
  docs/src/content/docs/reference/frontmatter.md
  docs/src/content/docs/reference/glossary.md
  docs/src/content/docs/reference/measuring-impact.md
  docs/src/content/docs/reference/open-telemetry.md
  docs/src/content/docs/reference/open-telemetry.mdx
  docs/src/content/docs/reference/outcomes.md
  docs/src/content/docs/reference/qmd.md
Due: none

Potential fix for pull request finding
  docs/astro.config.mjs
Due: none

Remove extra otlp test/advisor workflows
  .github/workflows/daily-grafana-otel-instrumentation-advisor.lock.yml
  .github/workflows/daily-grafana-otel-instrumentation-advisor.md
  .github/workflows/daily-otel-instrumentation-advisor.lock.yml
  .github/workflows/daily-otel-instrumentation-advisor.md
  .github/workflows/otlp-data-quality-validator.lock.yml
  .github/workflows/otlp-data-quality-validator.md
  docs/src/content/docs/agent-factory-status.mdx
Due: zizmor, actionlint

Potential fix for pull request finding
  actions/setup/js/send_otlp_span.cjs
Due: none

Potential fix for pull request finding
  actions/setup/js/send_otlp_span.test.cjs
Due: none

Add objective mapping constants and tests
  .github/objective-mapping.json
  .github/workflows/objective-impact-report.lock.yml
  .github/workflows/objective-impact-report.md
  pkg/cli/README.md
  pkg/cli/audit_report.go
  pkg/cli/outcome_domain_breakdown.go
  pkg/cli/outcome_eval.go
  pkg/cli/outcome_eval_test.go
  pkg/cli/outcomes_command.go
  pkg/cli/outcomes_history.go
  pkg/cli/outcomes_history_test.go
  pkg/github/label_objective_mapping.go
  pkg/github/label_objective_mapping_constants.go
  pkg/github/label_objective_mapping_test.go
  specs/objective-mapping-portfolio-reporting.md
Due: zizmor, actionlint

Potential fix for pull request finding
  pkg/cli/outcomes_history_test.go
Due: none

Potential fix for pull request finding
  pkg/github/label_objective_mapping_constants.go
Due: none

Potential fix for pull request finding
  pkg/github/label_objective_mapping.go
Due: none

Potential fix for pull request finding
  actions/setup/js/check_daily_aic_workflow_guardrail.cjs
Due: none

Potential fix for pull request finding
  pkg/cli/model_costs_test.go
Due: none

fix: usage tracking for engine jobs in sendJobConclusionSpan
  actions/setup/js/send_otlp_span.cjs
  actions/setup/js/send_otlp_span.test.cjs
Due: none

Potential fix for pull request finding
  .github/workflows/daily-token-consumption-report.md
Due: zizmor
