Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

.pre-commit-config.yaml:

# Pre-commit hooks for gh-aw
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Security scanning with zizmor
      - id: zizmor
        name: zizmor security scan
        entry: zizmor
        language: system
        files: \.github/workflows/.*\.(lock\.yml|md)$
        pass_filenames: true
        description: Scan GitHub Actions workflows for security vulnerabilities
        
      # Workflow linting with actionlint
      - id: actionlint
        name: actionlint workflow linting
        entry: actionlint
        language: system
        files: \.github/workflows/.*\.lock\.yml$
        pass_filenames: true
        description: Lint GitHub Actions workflow files for best practices and errors
        
      # Shell script validation with shellcheck
      - id: shellcheck
        name: shellcheck shell script validation
        entry: shellcheck
        language: system
        files: \.(sh|bash)$
        types: [file, shell]
        description: Validate shell scripts for common issues and best practices

Write MCP CLI wrapper scripts with owner-only permissions (0o700) instead of 0o755 (#55587)
  actions/setup/js/mount_mcp_as_cli.cjs
  actions/setup/js/mount_mcp_as_cli.test.cjs
Due: none

Add recurrence-determinism trajectory grader (#55620)
  .github/workflows/daily-team-evolution-insights.lock.yml
  .github/workflows/shared/graders/README.md
  .github/workflows/shared/graders/recurrence-determinism.md
Due: zizmor, actionlint

Add Playwright readability checks to Archivx diagrams (#55639)
  .github/workflows/archivx-agentic-workflows-analyzer.lock.yml
  .github/workflows/archivx-agentic-workflows-analyzer.md
Due: zizmor, actionlint

Skip duplicate generated issues after unmerged Copilot PRs (#55627)
  .github/workflows/daily-geo-optimizer.lock.yml
  .github/workflows/daily-geo-optimizer.md
  .github/workflows/workflow-normalizer.lock.yml
  .github/workflows/workflow-normalizer.md
Due: zizmor, actionlint

Guard custom linter registry-to-CI enforcement drift (#55636)
  .github/workflows/cgo.yml
  pkg/linters/doc_sync_test.go
Due: none

Use mai-code-1-flash-picker model in pr-triage-agent (#55643)
  .github/workflows/pr-triage-agent.lock.yml
  .github/workflows/pr-triage-agent.md
Due: zizmor, actionlint

Treat GitHub Actions bot PRs as trusted contributions (#55645)
  .github/agents/contribution-checker.agent.md
Due: none

[WIP] Fix failing GitHub Actions job Integration: Workflow Features (#55638)
  pkg/workflow/precreate_pull_request_experimental_warning_test.go
Due: none

[WIP] Fix failing lint-go-golangci GitHub Actions job (#55648)
  pkg/agentdrain/miner_test.go
  pkg/cli/preconditions.go
  pkg/intent/governance.go
Due: none

Add PDF-aware preliminary investigation to arXiv research (#55644)
  .github/workflows/daily-arxiv-researcher.lock.yml
  .github/workflows/daily-arxiv-researcher.md
  .github/workflows/shared/mcp/kreuzberg.md
Due: zizmor, actionlint

[trajectory-grader] Implement recurrence-laminarity (#55659)
  .github/workflows/shared/graders/README.md
  .github/workflows/shared/graders/recurrence-laminarity.md
Due: zizmor

Collapse manual PR recovery instructions into details sections (#55667)
  actions/setup/js/create_pull_request.cjs
Due: none

Make generated Copilot setup workflows Zizmor-compliant (#55641)
  pkg/cli/copilot_setup.go
  pkg/cli/copilot_setup_test.go
Due: none

Fix RGS-008: render HTTP MCP header secrets as shell env vars in TOML config (#55658)
  .github/workflows/research.lock.yml
  .github/workflows/smoke-otel-backends.lock.yml
  pkg/workflow/codex_engine_test.go
  pkg/workflow/mcp_config_custom.go
  pkg/workflow/secret_extraction.go
Due: zizmor, actionlint

eslint-factory: handle getExecOutput exitCode checks across reassignment and helper returns (#55677)
  eslint-factory/src/rules/require-getexecoutput-exitcode-check.test.ts
  eslint-factory/src/rules/require-getexecoutput-exitcode-check.ts
Due: none

Suppress RGS-012 finding for pinned GitHub remote MCP handshake curl (#55686)
  .github/workflows/github-remote-mcp-auth-test.lock.yml
  .github/workflows/github-remote-mcp-auth-test.md
Due: zizmor, actionlint

Verify RGS-008 secret-interpolation finding is not reproducible; add regression test (#55685)
  pkg/workflow/mcp_gateway_env_security_integration_test.go
Due: none

Harden uv/grype exec argument boundaries for Sighthound command-injection findings (#55675)
  pkg/cli/grype.go
  pkg/cli/grype_test.go
  pkg/workflow/pip_validation.go
Due: none

eslint-factory: resolve promisify()-wrapped child_process bindings in prefer-actions-exec-over-child-process (#55687)
  eslint-factory/README.md
  eslint-factory/src/rules/prefer-actions-exec-over-child-process.test.ts
  eslint-factory/src/rules/prefer-actions-exec-over-child-process.ts
Due: none

Fix Daily VulnHunter Scan hitting LLM invocation cap (40/40) (#55694)
  .github/workflows/daily-vulnhunter-scan.lock.yml
  .github/workflows/daily-vulnhunter-scan.md
Due: zizmor, actionlint

Add operational value grader to daily file diet workflow
  .github/graders/daily-file-diet-operational-value.sh
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/daily-file-diet.md
Due: zizmor, actionlint

Fix false-positive gate failure in Daily Container Image Security Scan (#55695)
  .github/workflows/daily-squid-image-scan.lock.yml
  .github/workflows/daily-squid-image-scan.md
Due: zizmor, actionlint

Remove unreferenced $defs entries from main workflow schema (#55699)
  pkg/parser/schemas/main_workflow_schema.json
Due: none

[WIP] Fix failed jobs in GitHub remote MCP authentication test (#55697)
  .github/workflows/github-remote-mcp-auth-test.lock.yml
  .github/workflows/github-remote-mcp-auth-test.md
Due: zizmor, actionlint

Add operational value grader to daily file diet workflow (#55705)
  .github/graders/daily-file-diet-operational-value.sh
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/daily-file-diet.md
Due: zizmor, actionlint

Fix full local Go and JavaScript test suites (#55559)
  Makefile
  actions/setup/js/add_comment.test.cjs
  actions/setup/js/awf_reflect.cjs
  actions/setup/js/awf_reflect.test.cjs
  actions/setup/js/claude_harness.test.cjs
  actions/setup/js/copilot_harness.test.cjs
  actions/setup/js/generate_usage_activity_summary.cjs
  actions/setup/js/generate_usage_activity_summary.test.cjs
  actions/setup/js/notify_comment_error.test.cjs
  actions/setup/js/package-lock.json
  actions/setup/js/safe_outputs_mcp_server_defaults.test.cjs
  pkg/cli/context_cancellation_test.go
  pkg/cli/install_copilot_cli_test.go
  scripts/agent-report-progress.sh
Due: none

Fix arXiv link redaction and add quick-win agentic prompts (#55702)
  .github/workflows/daily-arxiv-researcher.lock.yml
  .github/workflows/daily-arxiv-researcher.md
Due: zizmor, actionlint

Expose Copilot web_fetch when tools.web-fetch is enabled (#55696)
  .github/workflows/dependabot-go-checker.lock.yml
  .github/workflows/firewall-escape.lock.yml
  .github/workflows/firewall.lock.yml
  .github/workflows/gpclean.lock.yml
  .github/workflows/repo-audit-analyzer.lock.yml
  .github/workflows/security-review.lock.yml
  .github/workflows/smoke-copilot-aoai-apikey.lock.yml
  .github/workflows/smoke-copilot-aoai-entra.lock.yml
  .github/workflows/smoke-copilot-arm.lock.yml
  .github/workflows/smoke-copilot.lock.yml
  .github/workflows/update-astro.lock.yml
  .github/workflows/weekly-editors-health-check.lock.yml
  pkg/workflow/copilot_engine_execution.go
  pkg/workflow/copilot_engine_execution_test.go
  pkg/workflow/copilot_engine_tool_arguments_test.go
  pkg/workflow/copilot_engine_tools.go
  pkg/workflow/mcp_cli_mount.go
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/smoke-copilot.golden
Due: zizmor, actionlint

Prevent docs agents editing primary blurbs (#55790)
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-doc-updater.md
  .github/workflows/pr-sous-chef.lock.yml
  .github/workflows/pr-sous-chef.md
Due: zizmor, actionlint

Add front-page copy guard workflow (#55791)
  .github/workflows/front-page-copy-guard.lock.yml
  .github/workflows/front-page-copy-guard.md
Due: zizmor, actionlint

Document the graders CLI command (#55794)
  docs/src/content/docs/setup/cli.md
  pkg/cli/cli_consistency_help_test.go
Due: none

Fix swapped openai/anthropic ports in AWF api-proxy gateway constants (#55693)
  .github/workflows/ab-testing-advisor.lock.yml
  .github/workflows/agent-persona-explorer.lock.yml
  .github/workflows/auto-triage-issues.lock.yml
  .github/workflows/changeset.lock.yml
  .github/workflows/chaos-pr-bundle-fuzzer.lock.yml
  .github/workflows/commit-changes-analyzer.lock.yml
  .github/workflows/daily-awf-spec-compiler-surfacing.lock.yml
  .github/workflows/daily-cache-strategy-analyzer.lock.yml
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-evals-report.lock.yml
  .github/workflows/daily-fact.lock.yml
  .github/workflows/daily-function-namer.lock.yml
  .github/workflows/daily-hippo-learn.lock.yml
  .github/workflows/daily-multi-device-docs-tester.lock.yml
  .github/workflows/daily-news.lock.yml
  .github/workflows/daily-observability-report.lock.yml
  .github/workflows/dev.lock.yml
  .github/workflows/eslint-monster.lock.yml
  .github/workflows/grumpy-reviewer.lock.yml
  .github/workflows/hippo-embed.lock.yml
  .github/workflows/lint-monster.lock.yml
  .github/workflows/necromancer.lock.yml
  .github/workflows/poem-bot.lock.yml
  .github/workflows/pr-code-quality-reviewer.lock.yml
  .github/workflows/pr-sous-chef.lock.yml
  .github/workflows/schema-consistency-checker.lock.yml
  .github/workflows/schema-feature-coverage.lock.yml
  .github/workflows/smoke-pi.lock.yml
  .github/workflows/spec-enforcer.lock.yml
  .github/workflows/unbloat-docs.lock.yml
  actions/setup/js/pi_models_json.cjs
  actions/setup/js/pi_models_json.test.cjs
  eslint-factory/README.md
  pkg/constants/constants.go
  pkg/constants/spec_test.go
  pkg/workflow/codex_engine_test.go
  pkg/workflow/codex_mcp.go
  pkg/workflow/panic_invariants_test.go
  pkg/workflow/pi_engine.go
  pkg/workflow/pi_engine_test.go
Due: zizmor, actionlint

Split over-length functions in orchestrator tools and safe-outputs job compiler files (#55703)
  docs/adr/55703-split-over-length-compiler-functions.md
  pkg/workflow/compiler_orchestrator_tools.go
  pkg/workflow/compiler_safe_outputs_job.go
Due: none

Split add command implementation into focused modules (#55785)
  pkg/cli/add_command.go
  pkg/cli/add_command_orchestrator.go
  pkg/cli/add_command_resources.go
  pkg/cli/add_command_resources_test.go
  pkg/cli/add_copilot_permissions.go
  pkg/cli/add_copilot_permissions_test.go
  pkg/cli/add_workflow_content.go
Due: none
