Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

.pre-commit-config.yaml:

# Pre-commit hooks for gh-aw
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Security scanning with zizmor
      - id: zizmor
        name: zizmor security scan
        entry: zizmor
        language: system
        files: \.github/workflows/.*\.(lock\.yml|md)$
        pass_filenames: true
        description: Scan GitHub Actions workflows for security vulnerabilities
        
      # Workflow linting with actionlint
      - id: actionlint
        name: actionlint workflow linting
        entry: actionlint
        language: system
        files: \.github/workflows/.*\.lock\.yml$
        pass_filenames: true
        description: Lint GitHub Actions workflow files for best practices and errors
        
      # Shell script validation with shellcheck
      - id: shellcheck
        name: shellcheck shell script validation
        entry: shellcheck
        language: system
        files: \.(sh|bash)$
        types: [file, shell]
        description: Validate shell scripts for common issues and best practices

improve text
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-continuous-style.md
Due: none

improve text
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-continuous-improvement.md
Due: none

Add security-review workflow for AWF boundary analysis (#10189)
  .github/workflows/security-review.lock.yml
  .github/workflows/security-review.md
Due: zizmor, actionlint

improve text
  docs/src/content/docs/blog/2026-01-12-welcome-to-pelis-agent-factory.md
Due: none

[WIP] Setup git for repository (#10389)
  .github/workflows/release.lock.yml
  .github/workflows/release.md
Due: zizmor, actionlint

Recompile workflows to sync lock files with latest dependencies (#10393)
  .github/workflows/security-review.lock.yml
  specs/artifacts.md
Due: zizmor, actionlint

Fix docker/build-push-action SHA to v6.18.0 (#10395)
  .github/workflows/release.lock.yml
  .github/workflows/release.md
Due: zizmor, actionlint

Add --force-refresh-action-pins flag to compile command with automatic SHA validation (#10396)
  cmd/gh-aw/main.go
  pkg/cli/compile_compiler_setup.go
  pkg/cli/compile_config.go
  pkg/cli/compile_force_refresh_action_pins_test.go
  pkg/cli/compile_orchestration.go
  pkg/workflow/compiler_types.go
  pkg/workflow/data/action_pins.json
Due: none

Fix invalid action SHAs in release workflow (#10398)
  .github/workflows/release.lock.yml
  .github/workflows/release.md
Due: zizmor, actionlint

Regenerate workflows after merging main
  .github/aw/actions-lock.json
  pkg/workflow/data/action_pins.json
Due: none

Refine campaign generator success and failure messages
  .github/workflows/campaign-generator.md
Due: zizmor

Refine campaign generator success and failure messages (#10413)
  .github/workflows/campaign-generator.md
Due: zizmor

Update campaign generator output messages for clarity and consistency
  .github/workflows/campaign-generator.lock.yml
Due: zizmor, actionlint

Update action versions and add new actions to workflow configurations
  .github/aw/actions-lock.json
  .github/workflows/release.lock.yml
  .github/workflows/release.md
  pkg/workflow/data/action_pins.json
Due: zizmor, actionlint

Fix MCP Gateway schema validation for stdio servers with container field (#10421)
  .github/workflows/brave.lock.yml
  .github/workflows/go-pattern-detector.lock.yml
  .github/workflows/mcp-inspector.lock.yml
  .github/workflows/notion-issue-summary.lock.yml
  .github/workflows/scout.lock.yml
  pkg/workflow/mcp-config.go
  pkg/workflow/mcp_container_args_test.go
Due: zizmor, actionlint

Fix release_tag mismatch in release workflow (#10425)
  .github/workflows/release.lock.yml
  .github/workflows/release.md
Due: zizmor, actionlint

Auto-resolve issue/PR from workflow context and align with assign-to-user (#10424)
  .github/workflows/campaign-generator.lock.yml
  .github/workflows/campaign-generator.md
  .github/workflows/issue-monster.lock.yml
  .github/workflows/issue-monster.md
  .github/workflows/workflow-generator.lock.yml
  .github/workflows/workflow-generator.md
  actions/setup/js/assign_agent_helpers.cjs
  actions/setup/js/assign_agent_helpers.test.cjs
  actions/setup/js/assign_copilot_to_created_issues.cjs
  actions/setup/js/assign_issue.cjs
  actions/setup/js/assign_to_agent.cjs
  actions/setup/js/assign_to_agent.test.cjs
  actions/setup/js/handle_agent_failure.cjs
  docs/src/content/docs/reference/frontmatter-full.md
  docs/src/content/docs/reference/safe-outputs.md
  pkg/cli/workflows/test-assign-to-agent.md
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/assign_to_agent.go
  pkg/workflow/compiler_safe_outputs_specialized.go
  pkg/workflow/safe_outputs_config_generation.go
  pkg/workflow/safe_outputs_config_generation_helpers.go
Due: zizmor, actionlint

Add engine.command support to included workflow schema (#10426)
  pkg/parser/engine_includes_test.go
  pkg/parser/frontmatter_includes_test.go
  pkg/parser/schemas/included_file_schema.json
Due: none

Fix meta-orchestrator failures: increase repo-memory file size limit to 100KB (#10438)
  .github/workflows/agent-performance-analyzer.lock.yml
  .github/workflows/agent-performance-analyzer.md
  .github/workflows/workflow-health-manager.lock.yml
  .github/workflows/workflow-health-manager.md
Due: zizmor, actionlint

Fix TypeScript type error: allow boolean in renderTemplate context (#10439)
  actions/setup/js/messages_core.cjs
Due: none

poc: exploring composite action
  README.md
  actions/compiler/README.md
  actions/compiler/action.yml
  cmd/gh-aw/main.go
  pkg/cli/compile_check.go
  pkg/cli/compile_check_test.go
  pkg/cli/compile_config.go
  pkg/cli/compile_orchestrator.go
  pkg/cli/compile_validation.go
  pkg/workflow/.github/aw/imports/.gitattributes
  pkg/workflow/.github/aw/imports/githubnext/agentics/d3422bf940923ef1d43db5559652b8e1e71869f3/workflows_shared_reporting.md
  pkg/workflow/action_pins.go
  pkg/workflow/action_pins_logging_test.go
  pkg/workflow/action_pins_test.go
  pkg/workflow/action_resolver.go
  pkg/workflow/codex_engine_test.go
  pkg/workflow/compiler.go
  pkg/workflow/compute_text_lazy_test.go
  pkg/workflow/copilot_engine_test.go
  pkg/workflow/copilot_github_mcp_test.go
  pkg/workflow/copy_project_test.go
  pkg/workflow/custom_engine_test.go
  pkg/workflow/custom_jobs_permissions_strict_validation.go
  pkg/workflow/custom_jobs_permissions_strict_validation_test.go
  pkg/workflow/docker_predownload_test.go
  pkg/workflow/domains_protocol_integration_test.go
  pkg/workflow/engine_helpers_github_test.go
  pkg/workflow/engine_includes_test.go
  pkg/workflow/mcp_config_validation.go
  pkg/workflow/semver.go
  specs/artifacts.md
  templates/compiler-pr-check.yml
  templates/workflows/read-only-add-comment.lock.yml
  templates/workflows/read-only-add-comment.md
  templates/workflows/read-only-create-issue.lock.yml
  templates/workflows/read-only-create-issue.md
Due: none

Treat empty update_issue/update_pull_request calls as successful no-ops (#10434)
  actions/setup/js/update_handler_factory.cjs
  actions/setup/js/update_handler_factory.test.cjs
  actions/setup/js/update_pull_request.cjs
Due: none

Delete MISSING_INFO_FEATURE.md
  MISSING_INFO_FEATURE.md
Due: none

Refactor delight agent for single-file scope and enterprise context (#10441)
  .github/workflows/delight.lock.yml
  .github/workflows/delight.md
Due: zizmor, actionlint

Fix draft release asset download in docker-image job (#10440)
  .github/workflows/release.lock.yml
  .github/workflows/release.md
Due: zizmor, actionlint

[WIP] Update gh api call to handle draft releases (#10449)
  .github/workflows/release.lock.yml
  .github/workflows/release.md
Due: zizmor, actionlint

Add Security Alert Burndown campaign specification and orchestrator (#10445)
  .github/workflows/issue-10444-campaign.campaign.lock.yml
  .github/workflows/issue-10444-campaign.campaign.md
Due: zizmor, actionlint

Fix docker-image job failure on draft releases by querying release ID instead of tag (#10454)
  .github/workflows/release.lock.yml
  .github/workflows/release.md
Due: zizmor, actionlint

Remove issue-10444-campaign files (#10457)
  .github/workflows/issue-10444-campaign.campaign.lock.yml
  .github/workflows/issue-10444-campaign.campaign.md
Due: zizmor, actionlint

Add allowed-repos/allowed-orgs to campaign specs (#10456)
  actions/setup/js/campaign_discovery.cjs
  pkg/campaign/campaign_test.go
  pkg/campaign/orchestrator.go
  pkg/campaign/schemas/campaign_spec_schema.json
  pkg/campaign/spec.go
  pkg/campaign/validation.go
  pkg/campaign/validation_test.go
Due: none

Consolidate campaign generation prompts and improve messaging (#10460)
  .github/aw/create-campaign.md
  .github/aw/generate-campaign.md
  .github/workflows/campaign-generator.lock.yml
  .github/workflows/campaign-generator.md
  Makefile
  docs/src/content/docs/guides/campaigns/specs.md
  pkg/campaign/generator.go
  pkg/cli/commands.go
  pkg/cli/copilot-agents.go
  pkg/cli/init.go
  pkg/cli/init_test.go
  pkg/cli/templates/generate-campaign.md
Due: zizmor, actionlint

Refactor agentic_workflow_test.go to use testify assertions and add comprehensive edge case coverage (#10464)
  pkg/workflow/agentic_workflow_test.go
Due: none

Consolidate integer parsing logic to eliminate duplication (#10471)
  pkg/workflow/config_helpers.go
  pkg/workflow/map_helpers.go
Due: none

Increase timeout for daily-team-evolution-insights workflow (#10474)
  .github/workflows/daily-team-evolution-insights.lock.yml
  .github/workflows/daily-team-evolution-insights.md
Due: zizmor, actionlint

Deprecate tools.grep field via codemod and JSON schema (#10483)
  pkg/cli/fix_codemods.go
  pkg/cli/fix_command_test.go
  pkg/parser/schemas/included_file_schema.json
  pkg/parser/schemas/main_workflow_schema.json
Due: none

Fix docker-image job permissions - add actions:read for release API access (#10486)
  .github/workflows/release.lock.yml
  .github/workflows/release.md
Due: zizmor, actionlint
