Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

zizmor:
  name: zizmor security scan
  entry: zizmor
  language: system
  pass_filenames: true
  description: Scan GitHub Actions workflows for security vulnerabilities

actionlint:
  name: actionlint workflow linting
  entry: actionlint
  language: system
  pass_filenames: true
  description: Lint GitHub Actions workflow files for best practices and errors

feat(daily-spending-forecast): replace ASCII charts with matplotlib and clarify P10/P50/P90 terminology (#49978)
  .github/workflows/daily-spending-forecast.lock.yml
  .github/workflows/daily-spending-forecast.md
Due: zizmor, actionlint

Issue Arborist: trim issue-fetch context to cut single-run token spikes (#49974)
  .github/workflows/issue-arborist.lock.yml
  .github/workflows/issue-arborist.md
Due: zizmor, actionlint

[aw] Prevent Layout Specification Maintainer early termination from tool-denial guardrail (#49966)
  .github/workflows/layout-spec-maintainer.lock.yml
  .github/workflows/layout-spec-maintainer.md
Due: zizmor, actionlint

Add unit tests for compiler_yaml_prompt.go prompt-chunking logic (#49972)
  docs/adr/49972-add-unit-tests-for-compiler-yaml-prompt.md
  pkg/workflow/compiler_yaml_prompt_test.go
Due: none

feat(eslint-factory): add require-nan-check-after-env-numeric-parse rule (#49962)
  .github/skills/agentic-workflows/SKILL.md
  eslint-factory/README.md
  eslint-factory/eslint.config.cjs
  eslint-factory/src/index.ts
  eslint-factory/src/rules/require-nan-check-after-env-numeric-parse.test.ts
  eslint-factory/src/rules/require-nan-check-after-env-numeric-parse.ts
Due: none

Increase Metrics Collector repo-memory patch cap to prevent push_repo_memory gate failures (#49970)
  .github/workflows/metrics-collector.lock.yml
  .github/workflows/metrics-collector.md
  actions/setup/js/push_repo_memory.cjs
  actions/setup/js/push_repo_memory.test.cjs
Due: zizmor, actionlint

Add prompt discovery to `mcp-inspect` (#49968)
  .github/skills/agentic-workflows/SKILL.md
  docs/adr/49968-add-prompt-discovery-to-mcp-inspect.md
  pkg/cli/mcp_inspect_mcp.go
  pkg/cli/mcp_inspect_test.go
  pkg/parser/mcp.go
Due: none

Bound DataFlow dataset setup and update the workflow to the current DataFlow API (#49969)
  .github/workflows/dataflow-pr-discussion-dataset.lock.yml
  .github/workflows/dataflow-pr-discussion-dataset.md
Due: zizmor, actionlint

refactor: extract helpers from buildHandlerManagerStep in compiler_safe_outputs_steps.go (#49971)
  docs/adr/49971-extract-helpers-from-buildhandlermanagerstep.md
  pkg/workflow/compiler_safe_outputs_steps.go
  pkg/workflow/compiler_safe_outputs_steps_test.go
Due: none

Tighten CLI help/docs consistency for global options, forecast, and repo flag semantics (#50016)
  docs/src/content/docs/setup/cli.md
  pkg/cli/cli_consistency_help_test.go
  pkg/cli/doctor_command.go
  pkg/cli/doctor_command_test.go
  pkg/cli/env_command.go
  pkg/cli/env_command_test.go
Due: none

[formal-spec] Add formal coverage for replace-label transitions and post-setLabels verification (#50035)
  pkg/workflow/replace_label_transitions_formal_test.go
  specs/replace-label-compliance/README.md
Due: none

DeepReport: treat risky posture-drop runs as infra failures unless write actuation is evidenced (#50036)
  .github/workflows/deep-report.lock.yml
  .github/workflows/deep-report.md
Due: zizmor, actionlint

Add fixture-count consistency checks for compliance fixture READMEs (#50040)
  pkg/cli/forecast_compliance_fixtures_formal_test.go
  pkg/workflow/github_mcp_access_control_formal_test.go
Due: none

Refactor cgo jobs to cached checkout (#50045)
  .github/workflows/cgo.yml
Due: none

Harden `exec.Command` inputs for scanner Docker invocations and upgrade re-exec (#49996)
  pkg/cli/docker_args_validation.go
  pkg/cli/docker_args_validation_test.go
  pkg/cli/upgrade_command.go
  pkg/cli/upgrade_command_test.go
Due: none

Update create.md
  create.md
Due: none

Fix accuracy gaps in create.md bootstrap prompt for external agents (#50049)
  create.md
Due: none

Grant LintMonster update_issue permission for scheduled (non-issue-triggered) runs (#50050)
  .github/workflows/lint-monster.lock.yml
  .github/workflows/lint-monster.md
Due: zizmor, actionlint

Deduplicate oversized Code Scanning Fixer patches (#50059)
  .github/workflows/code-scanning-fixer.md
Due: zizmor

Guard default AI credits pricing for unsupported AWF pins (#50041)
  .changeset/patch-awf-default-ai-credits-pricing-version-guard.md
  pkg/constants/version_constants.go
  pkg/workflow/awf_helpers.go
  pkg/workflow/model_costs_pricing_validation.go
  pkg/workflow/model_costs_pricing_validation_test.go
Due: none

Improve temp folder prompt test coverage (#50070)
  pkg/workflow/temp_folder_test.go
Due: none

Fetch Copilot session event logs for optimization audits (#50071)
  .github/workflows/copilot-opt.lock.yml
  .github/workflows/copilot-session-insights.lock.yml
  .github/workflows/shared/copilot-session-data-fetch.md
Due: zizmor, actionlint

Emit authoritative Copilot custom-routing signal in lock metadata (#49991)
  .github/workflows/daily-byok-ollama-test.lock.yml
  .github/workflows/smoke-copilot-aoai-apikey.lock.yml
  .github/workflows/smoke-copilot-aoai-entra.lock.yml
  docs/adr/49991-emit-copilot-custom-routing-signal-in-lock-metadata.md
  pkg/workflow/awf_helpers_test.go
  pkg/workflow/compiler_yaml_header.go
  pkg/workflow/compiler_yaml_test.go
  pkg/workflow/copilot_engine_execution.go
  pkg/workflow/copilot_engine_installation.go
  pkg/workflow/engine_api_targets.go
  pkg/workflow/engine_helpers.go
  pkg/workflow/lock_schema.go
  pkg/workflow/lock_schema_test.go
  pkg/workflow/secret_validation_test.go
Due: zizmor, actionlint

Fix dynamic `dispatch_workflow` ref forwarding and prevent `ref` leakage into `inputs` (#50042)
  .github/workflows/code-scanning-fixer.lock.yml
  .github/workflows/smoke-copilot.lock.yml
  .github/workflows/smoke-copilot.md
  actions/setup/js/safe_outputs_tools_loader.cjs
  actions/setup/js/safe_outputs_tools_loader.test.cjs
Due: zizmor, actionlint

Handle deleted PR head refs non-fatally (#50051)
  actions/setup/js/update_pull_request.cjs
  actions/setup/js/update_pull_request.test.cjs
Due: none

fix(security): inject zizmor unverified-creator annotations for all 9 SHA-pinned third-party actions (#50015)
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/daily-elixir-credo-snippet-audit.lock.yml
  .github/workflows/dataflow-pr-discussion-dataset.lock.yml
  .github/workflows/hippo-embed.lock.yml
  .github/workflows/link-check.yml
  .github/workflows/mcp-inspector.lock.yml
  .github/workflows/shared/pmg.md
  .github/workflows/smoke-codex.lock.yml
  .github/workflows/smoke-codex.md
  .github/workflows/super-linter.lock.yml
  .github/workflows/super-linter.md
  pkg/workflow/compiler_yaml_step_conversion.go
  pkg/workflow/compiler_yaml_step_lifecycle.go
  pkg/workflow/runtime_definitions.go
  pkg/workflow/runtime_step_generator.go
  pkg/workflow/safe_outputs_actions.go
  pkg/workflow/unquote_uses_test.go
Due: zizmor, actionlint

bundling squad
  .github/workflows/shared/squad.md
  .github/workflows/squad-game-planner.lock.yml
  .github/workflows/squad-game-planner.md
Due: zizmor, actionlint

recompile
  .github/aw/actions-lock.json
Due: none

Add squad-game-planner daily agentic workflow (#50055)
  .github/workflows/shared/squad.md
  .github/workflows/squad-game-planner.lock.yml
  .github/workflows/squad-game-planner.md
  pkg/actionpins/data/action_pins.json
  pkg/workflow/data/action_pins.json
Due: zizmor, actionlint

Document HTTP MCP OIDC validation
  .changeset/patch-enforce-http-mcp-oidc-awf-version.md
Due: none

[WIP] Fix failing GitHub Actions job 'Integration: CMD Tests' (#50094)
  cmd/gh-aw/command_groups_test.go
Due: none

Split logs_download.go into focused files (flatten, zip, artifacts) (#50052)
  pkg/cli/logs_download.go
  pkg/cli/logs_download_artifacts.go
  pkg/cli/logs_download_flatten.go
  pkg/cli/logs_download_zip.go
Due: none

Fix `failure_kind` misclassification for `safe_outputs` post-agent failures (#50037)
  pkg/actionpins/data/action_pins.json
  pkg/cli/logs_report.go
  pkg/cli/logs_report_test.go
  pkg/workflow/data/action_pins.json
Due: none

Retry transient git-fetch failures during evals-state branch checkout (#50058)
  actions/setup/js/git_helpers.cjs
  actions/setup/js/git_helpers.test.cjs
  actions/setup/js/push_experiment_state.cjs
  actions/setup/js/push_experiment_state.test.cjs
  actions/setup/setup.sh
Due: none

Render pre-agent workspace audit as a step summary table (#50103)
  actions/setup/sh/audit_pre_agent_workspace.sh
  actions/setup/sh/audit_pre_agent_workspace_test.sh
Due: none

Add ctxutil.OrBackground helper to consolidate nil-context fallback duplication (#50093)
  pkg/cli/init.go
  pkg/cli/retry.go
  pkg/cli/setup_repository.go
  pkg/cli/signal_aware_poll.go
  pkg/ctxutil/ctxutil.go
  pkg/ctxutil/ctxutil_test.go
  pkg/workflow/auto_update_workflow.go
  pkg/workflow/compiler_model_pricing.go
  pkg/workflow/github_cli_wasm.go
Due: none

[WIP] Block automatic retry for retry-blocked Copilot PR topics (#50089)
  .github/workflows/issue-monster.lock.yml
  .github/workflows/issue-monster.md
Due: zizmor, actionlint

Path conditions:
  zizmor: any of: \.github/workflows/.*\.(lock\.yml|md)$
  actionlint: any of: \.github/workflows/.*\.lock\.yml$
