Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

zizmor:
  name: zizmor security scan
  entry: zizmor
  language: system
  pass_filenames: true
  description: Scan GitHub Actions workflows for security vulnerabilities

actionlint:
  name: actionlint workflow linting
  entry: actionlint
  language: system
  pass_filenames: true
  description: Lint GitHub Actions workflow files for best practices and errors

Add "wiki" agentic workflow to exercise Windows runner integration (#56501)
  .github/workflows/agentic_commands.yml
  .github/workflows/windows.lock.yml
  .github/workflows/windows.md
Due: zizmor, actionlint

Fix LFS hook handling in filtered bundles (#56499)
  actions/setup/js/generate_git_bundle.cjs
Due: none

Add npm registry allowlist to affected workflows (#56592)
  .github/workflows/functional-pragmatist.lock.yml
  .github/workflows/functional-pragmatist.md
  .github/workflows/spec-enforcer.lock.yml
  .github/workflows/spec-enforcer.md
Due: zizmor, actionlint

Add optional `intent` field to workflow front matter (#56599)
  docs/adr/56599-add-intent-field-to-workflow-frontmatter.md
  docs/public/editor/autocomplete-data.json
  docs/scripts/generate-autocomplete-data.js
  docs/src/content/docs/reference/frontmatter-full.md
  docs/src/content/docs/reference/frontmatter.md
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/compiler_yaml_header.go
  pkg/workflow/frontmatter_extraction_metadata.go
  pkg/workflow/frontmatter_intent_integration_test.go
  pkg/workflow/frontmatter_intent_test.go
  pkg/workflow/frontmatter_serialization.go
  pkg/workflow/frontmatter_types.go
  pkg/workflow/testdata/TestWasmGolden_AllEngines/claude.golden
  pkg/workflow/testdata/TestWasmGolden_AllEngines/codex.golden
  pkg/workflow/testdata/TestWasmGolden_AllEngines/copilot.golden
  pkg/workflow/testdata/TestWasmGolden_AllEngines/gemini.golden
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/basic-copilot.golden
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/playwright-cli-mode.golden
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/smoke-copilot.golden
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/with-imports.golden
  pkg/workflow/workflow_builder.go
  pkg/workflow/workflow_data.go
Due: none

[eslint-miner] Require try/catch around fs.realpathSync calls (#56612)
  eslint-factory/README.md
  eslint-factory/eslint.config.cjs
  eslint-factory/src/index.ts
  eslint-factory/src/rules/require-realpathsync-try-catch.test.ts
  eslint-factory/src/rules/require-realpathsync-try-catch.ts
Due: none

Fix runtime-import interpolation for needs output expressions (#56503)
  .github/workflows/api-consumption-report.lock.yml
  .github/workflows/archie.lock.yml
  .github/workflows/cloclo.lock.yml
  .github/workflows/copilot-agent-analysis.lock.yml
  .github/workflows/daily-function-namer.lock.yml
  .github/workflows/deep-report.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/linter-miner.lock.yml
  .github/workflows/mcp-inspector.lock.yml
  .github/workflows/purelock.lock.yml
  .github/workflows/smoke-codex.lock.yml
  .github/workflows/smoke-copilot-aoai-apikey.lock.yml
  .github/workflows/smoke-copilot-aoai-entra.lock.yml
  .github/workflows/smoke-copilot-arm.lock.yml
  .github/workflows/smoke-copilot.lock.yml
  .github/workflows/terminal-stylist.lock.yml
  actions/setup/js/frontmatter_hash_pure.cjs
  actions/setup/js/frontmatter_hash_pure.test.cjs
  actions/setup/js/runtime_import.cjs
  actions/setup/js/runtime_import.test.cjs
  pkg/parser/frontmatter_hash.go
  pkg/parser/frontmatter_hash_test.go
  pkg/workflow/compiler_jobs.go
  pkg/workflow/compiler_jobs_test.go
  pkg/workflow/compiler_validators.go
  pkg/workflow/compiler_yaml_prompt.go
  pkg/workflow/compiler_yaml_prompt_test.go
  pkg/workflow/known_needs_expressions.go
  pkg/workflow/known_needs_expressions_test.go
  pkg/workflow/on_needs_validation.go
  pkg/workflow/on_needs_validation_test.go
  pkg/workflow/runtime_import_validation.go
  pkg/workflow/runtime_import_validation_test.go
Due: zizmor, actionlint

Update astro.config.mjs
  docs/astro.config.mjs
Due: none

Support target-only checkout for MultiRepoOps sidecar workflows (#56504)
  .github/aw/syntax-agentic.md
  docs/adr/56504-support-target-only-checkout-for-sidecar-workflows.md
  docs/src/content/docs/patterns/multi-repo-ops.md
  docs/src/content/docs/reference/checkout.md
  docs/src/content/docs/reference/cross-repository.md
  pkg/workflow/checkout_disabled_test.go
  pkg/workflow/checkout_skip_default_warning_test.go
  pkg/workflow/compiler_jobs.go
  pkg/workflow/compiler_safe_outputs_steps.go
  pkg/workflow/compiler_safe_outputs_steps_test.go
  pkg/workflow/frontmatter_parsing.go
  pkg/workflow/frontmatter_types.go
  pkg/workflow/permissions_parser.go
  pkg/workflow/permissions_parser_test.go
  pkg/workflow/workflow_builder.go
  pkg/workflow/workflow_data.go
Due: none

Add the Feature Farmer workflow pattern (#56614)
  .github/aw/designer-mappings.md
  .github/aw/patterns.md
  .github/workflows/feature-grower.lock.yml
  .github/workflows/feature-grower.md
  docs/astro.config.mjs
  docs/src/content/docs/patterns/feature-grower.md
Due: zizmor, actionlint

Add intent-driven workflow design guidance (#56611)
  .github/aw/create-agentic-workflow.md
  .github/aw/designer.md
  .github/aw/evals.md
  .github/aw/intent.md
  .github/aw/maintainer.md
  .github/aw/update-agentic-workflow.md
  .github/skills/agentic-workflows/SKILL.md
  .github/workflows/workflow-generator.lock.yml
  .github/workflows/workflow-generator.md
  pkg/cli/data/agentic_workflows_fallback_aw_files.json
  pkg/cli/intent_guidance_contract_test.go
Due: zizmor, actionlint

Fix actionlint failure on generated maintenance workflow `operation` input (#56506)
  .github/workflows/agentics-maintenance.yml
  pkg/workflow/maintenance_conditions.go
  pkg/workflow/maintenance_workflow_jobs_test.go
  pkg/workflow/maintenance_workflow_yaml.go
  pkg/workflow/side_repo_maintenance.go
Due: none

Support authenticated Agent Plugin installation from private repositories (#56505)
  docs/src/content/docs/reference/frontmatter.md
  pkg/parser/import_field_extractor.go
  pkg/parser/import_processor.go
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/compiler_orchestrator_frontmatter.go
  pkg/workflow/compiler_yaml_ai_execution.go
  pkg/workflow/frontmatter_parsing.go
  pkg/workflow/frontmatter_types.go
  pkg/workflow/plugin_installation.go
  pkg/workflow/plugins_engine_auth_integration_test.go
  pkg/workflow/plugins_frontmatter.go
  pkg/workflow/plugins_frontmatter_test.go
  pkg/workflow/plugins_ref_resolution.go
  pkg/workflow/plugins_test.go
  pkg/workflow/workflow_builder.go
  pkg/workflow/workflow_builder_frontmatter_extract.go
  pkg/workflow/workflow_builder_test.go
  pkg/workflow/workflow_data.go
Due: none

Upgrade Go tooling to latest releases (#56596)
  .github/workflows/cgo.yml
  .golangci.yml
  Makefile
  go.mod
  go.sum
Due: none

Fix stale documentation redirect targets (#56654)
  docs/astro.config.mjs
Due: none

Add Bash support for Windows runners (#56508)
  .github/workflows/windows.lock.yml
  actions/setup/index.js
  actions/setup/js/setup_sh_file_lists.test.cjs
  actions/setup/setup.sh
  actions/setup/sh/install_copilot_cli.sh
  pkg/workflow/jobs.go
  pkg/workflow/jobs_test.go
  pkg/workflow/windows_runner.go
Due: zizmor, actionlint

Preserve GitHub expression operators in safe-output JSON (#56653)
  .github/workflows/mcp-inspector.lock.yml
  pkg/workflow/compiler_safe_outputs_builder.go
  pkg/workflow/compiler_safe_outputs_config_targets_test.go
Due: zizmor, actionlint

Remove Dashboard Language specification and review workflow (#56674)
  .github/workflows/daily-dashboard-language-spec-review.lock.yml
  .github/workflows/daily-dashboard-language-spec-review.md
  docs/src/content/docs/agent-factory-status.mdx
  docs/src/content/docs/reference/glossary.md
  docs/src/content/docs/specs/dashboard-language-specification.md
Due: zizmor, actionlint

Add daily windows-grower workflow that probes and fixes Windows runner support (#56667)
  .changeset/custom-job-status-func-guard.md
  .github/workflows/windows-grower.lock.yml
  .github/workflows/windows-grower.md
  .github/workflows/windows.md
  pkg/workflow/compiler_builtin_job_augmentation.go
  pkg/workflow/compiler_custom_jobs_test.go
Due: zizmor, actionlint

[WIP] Fix failing GitHub Actions job Integration: Workflow Infra (#56688)
  pkg/workflow/security_regression_test.go
Due: none

Pi engine: route OpenAI/Codex backend through the Responses API (#56692)
  actions/setup/js/pi_agent_core_driver.cjs
  actions/setup/js/pi_agent_core_driver.test.cjs
  actions/setup/js/pi_models_json.cjs
  actions/setup/js/pi_models_json.test.cjs
  actions/setup/js/pi_provider.cjs
  actions/setup/js/pi_provider.test.cjs
  docs/src/content/docs/engines/pi.md
Due: none

Update README.md
  README.md
Due: none

Allow `conclusion` in `on.workflow_run` frontmatter schema (#56743)
  pkg/parser/schema_test.go
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/frontmatter_trigger_helpers.go
  pkg/workflow/workflow_run_conclusion_test.go
Due: none

Avoid CodeQL false positive in manifest path validation (#56690)
  pkg/cli/add_package_manifest_includes.go
  pkg/cli/add_package_manifest_mapping_test.go
Due: none

Fix Playwright MCP TOML sandbox configuration (#56800)
  .github/workflows/smoke-codex.lock.yml
  .github/workflows/smoke-codex.md
  pkg/workflow/mcp_config_refactor_test.go
  pkg/workflow/mcp_renderer_builtin.go
Due: zizmor, actionlint

[WIP] Fix failing GitHub Actions job for misc part 2 (#56689)
  .github/aw/evals.md
  docs/src/assets/diagrams/architecture-2026-08-29.svg
  pkg/cli/add_package_manifest_includes.go
  pkg/workflow/allowed_domains_sanitization_test.go
  pkg/workflow/domains_protocol_integration_test.go
Due: none

Avoid CodeQL bad-redirect-check false positives in path validation guards (#56691)
  pkg/workflow/graders_config.go
  pkg/workflow/graders_config_test.go
Due: none

Normalize disabled failure-issue expiry in lockfiles (#56901)
  pkg/workflow/notify_comment_conclusion_helpers.go
  pkg/workflow/notify_comment_test.go
Due: none

Strip bot footer noise from prompt clustering inputs (#56910)
  .github/workflows/prompt-clustering-analysis.lock.yml
  .github/workflows/prompt-clustering-analysis.md
Due: zizmor, actionlint

Require positive `max-runs` values in workflow schema (#56911)
  pkg/parser/schema_location_test.go
  pkg/parser/schemas/main_workflow_schema.json
Due: none

Validate Playwright mode expressions (#56933)
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/playwright_validation.go
  pkg/workflow/playwright_validation_test.go
Due: none

Update gateway agent identifier schema
  docs/public/schemas/mcp-gateway-config.schema.json
  docs/src/content/docs/reference/mcp-gateway.md
  pkg/workflow/mcp_gateway_config_schema_test.go
  pkg/workflow/schemas/mcp-gateway-config.schema.json
Due: none

Warn when compiled workflows share a display name (#56937)
  .github/aw/actions-lock.json
  pkg/actionpins/data/action_pins.json
  pkg/cli/compile_duplicate_workflow_names_test.go
  pkg/cli/compile_pipeline.go
  pkg/workflow/data/action_pins.json
Due: none

Fix Codex MCP environment fallback rendering (#56924)
  .github/workflows/smoke-otel-backends.lock.yml
  pkg/workflow/mcp_config_copilot_test.go
  pkg/workflow/mcp_config_custom.go
  pkg/workflow/secret_extraction.go
  pkg/workflow/secret_extraction_test.go
Due: zizmor, actionlint

Specify mutually exclusive gateway `agentId` and `agentIds` fields (#56939)
  docs/public/schemas/mcp-gateway-config.schema.json
  docs/src/content/docs/reference/mcp-gateway.md
  pkg/workflow/mcp_gateway_config_schema_test.go
  pkg/workflow/schemas/mcp-gateway-config.schema.json
Due: none

Implement lempel-ziv-trajectory-complexity grader (Tier 1, rank 11) (#56972)
  .github/workflows/shared/graders/README.md
  .github/workflows/shared/graders/lempel-ziv-trajectory-complexity.md
Due: zizmor

Fix invalid YAML example in Job Outputs docs (#56977)
  docs/src/content/docs/reference/steps-jobs.md
Due: none

Update trajectory grader workflow to feature grower all-you-can-eat pattern (#56988)
  .github/workflows/daily-trajectory-grader-implementer.lock.yml
  .github/workflows/daily-trajectory-grader-implementer.md
Due: zizmor, actionlint

Path conditions:
  zizmor: any of: \.github/workflows/.*\.(lock\.yml|md)$
  actionlint: any of: \.github/workflows/.*\.lock\.yml$
