Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

.pre-commit-config.yaml:

# Pre-commit hooks for gh-aw
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Security scanning with zizmor
      - id: zizmor
        name: zizmor security scan
        entry: zizmor
        language: system
        files: \.github/workflows/.*\.(lock\.yml|md)$
        pass_filenames: true
        description: Scan GitHub Actions workflows for security vulnerabilities
        
      # Workflow linting with actionlint
      - id: actionlint
        name: actionlint workflow linting
        entry: actionlint
        language: system
        files: \.github/workflows/.*\.lock\.yml$
        pass_filenames: true
        description: Lint GitHub Actions workflow files for best practices and errors
        
      # Shell script validation with shellcheck
      - id: shellcheck
        name: shellcheck shell script validation
        entry: shellcheck
        language: system
        files: \.(sh|bash)$
        types: [file, shell]
        description: Validate shell scripts for common issues and best practices

Add "Review required" status to campaign progress board (#10045)
  .github/aw/campaign-project-update-contract-checklist.md
  .github/aw/campaign-project-update-instructions.md
  .github/workflows/campaign-generator.lock.yml
  .github/workflows/campaign-generator.md
  .github/workflows/discussion-task-mining.campaign.md
  docs/src/content/docs/guides/campaigns/project-management.md
  pkg/campaign/prompts/project_update_contract_checklist.md
  pkg/campaign/prompts/project_update_instructions.md
  pkg/campaign/schemas/project_update_schema.json
Due: zizmor, actionlint

Add comprehensive campaign flow documentation (#10052)
  .github/workflows/discussion-task-mining.campaign.lock.yml
  .github/workflows/docs-quality-maintenance-project67.campaign.lock.yml
  .github/workflows/file-size-reduction-project71.campaign.lock.yml
  docs/src/content/docs/guides/campaigns/flow.md
  docs/src/content/docs/guides/campaigns/index.mdx
  docs/src/content/docs/guides/campaigns/technical-overview.md
Due: zizmor, actionlint

Add usage example and pull request support to assign_to_agent tool (#10041)
  .github/workflows/campaign-generator.lock.yml
  .github/workflows/issue-monster.lock.yml
  .github/workflows/playground-assign-to-agent.lock.yml
  .github/workflows/playground-assign-to-agent.md
  .github/workflows/workflow-generator.lock.yml
  actions/setup/js/assign_agent_helpers.cjs
  actions/setup/js/assign_to_agent.cjs
  actions/setup/js/assign_to_agent.test.cjs
  actions/setup/js/safe_outputs_tools.json
  docs/src/content/docs/reference/safe-outputs.md
  pkg/workflow/js/safe_outputs_tools.json
Due: zizmor, actionlint

Update campaign documentation to require automated creation flow (#10058)
  docs/src/content/docs/agent-factory.mdx
  docs/src/content/docs/guides/campaigns/cli-commands.md
  docs/src/content/docs/guides/campaigns/flow.md
  docs/src/content/docs/guides/campaigns/getting-started.md
  docs/src/content/docs/guides/campaigns/index.mdx
  docs/src/content/docs/guides/campaigns/project-management.md
  docs/src/content/docs/guides/campaigns/specs.md
  docs/src/content/docs/guides/campaigns/technical-overview.md
  docs/src/content/docs/setup/cli.md
Due: none

Fix assign_to_agent schema to support pull_number parameter (#10057)
  actions/setup/js/assign_to_agent.cjs
  actions/setup/js/assign_to_agent.test.cjs
  schemas/agent-output.json
Due: none

Add sergo workflow - daily Go code quality analysis using Serena LSP (#10063)
  .github/workflows/sergo.lock.yml
  .github/workflows/sergo.md
Due: zizmor, actionlint

Add deep research workflow for Copilot CLI usage analysis (#10064)
  .github/workflows/copilot-cli-deep-research.lock.yml
  .github/workflows/copilot-cli-deep-research.md
Due: zizmor, actionlint

Improve test quality in step_types_test.go: convert manual assertions to testify (#10067)
  pkg/workflow/step_types_test.go
Due: none

chore: rm legacy campaigns
  .github/workflows/discussion-task-mining.campaign.lock.yml
  .github/workflows/discussion-task-mining.campaign.md
  .github/workflows/docs-quality-maintenance-project67.campaign.lock.yml
  .github/workflows/docs-quality-maintenance-project67.campaign.md
  .github/workflows/file-size-reduction-project71.campaign.lock.yml
  .github/workflows/file-size-reduction-project71.campaign.md
Due: zizmor, actionlint

Add resource owner guidance to GH_AW_AGENT_TOKEN documentation (#10074)
  docs/src/content/docs/agent-factory.mdx
  docs/src/content/docs/reference/tokens.md
Due: none

improve workflows
  docs/src/content/docs/blog/2026-01-12-welcome-to-pelis-agent-factory.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-advanced-analytics.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-code-quality.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-creative-culture.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-documentation.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-interactive-chatops.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-issue-management.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-metrics-analytics.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-operations-release.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-organization.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-quality-hygiene.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-security-compliance.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-testing-validation.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-tool-infrastructure.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows.md
  docs/src/content/docs/blog/2026-02-08-authoring-workflows.md
Due: none

Update cli-consistency-checker to create parent tracking issue with sub-issues (#10076)
  .github/workflows/cli-consistency-checker.lock.yml
  .github/workflows/cli-consistency-checker.md
Due: zizmor, actionlint

improve workflows
  .github/workflows/ai-moderator.lock.yml
  .github/workflows/campaign-generator.lock.yml
  .github/workflows/code-scanning-fixer.lock.yml
  .github/workflows/copilot-cli-deep-research.lock.yml
  .github/workflows/daily-choice-test.lock.yml
  .github/workflows/daily-firewall-report.lock.yml
  .github/workflows/discussion-task-mining.campaign.lock.yml
  .github/workflows/example-custom-error-patterns.lock.yml
  .github/workflows/playground-assign-to-agent.lock.yml
  .github/workflows/release.lock.yml
  .github/workflows/security-fix-pr.lock.yml
  .github/workflows/sergo.lock.yml
  .github/workflows/technical-doc-writer.lock.yml
  docs/src/content/docs/blog/2026-01-12-welcome-to-pelis-agent-factory.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-advanced-analytics.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-campaigns.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-code-quality.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-creative-culture.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-documentation.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-interactive-chatops.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-issue-management.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-metrics-analytics.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-multi-phase.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-operations-release.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-organization.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-quality-hygiene.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-security-compliance.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-testing-validation.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-tool-infrastructure.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows.md
  docs/src/content/docs/blog/2026-01-21-twelve-lessons.md
  docs/src/content/docs/blog/2026-01-24-design-patterns.md
  docs/src/content/docs/blog/2026-01-27-operational-patterns.md
  docs/src/content/docs/blog/2026-01-30-imports-and-sharing.md
  docs/src/content/docs/blog/2026-02-02-security-lessons.md
  docs/src/content/docs/blog/2026-02-05-how-workflows-work.md
  docs/src/content/docs/blog/2026-02-08-authoring-workflows.md
  docs/src/content/docs/blog/2026-02-11-getting-started.md
Due: zizmor, actionlint

improve workflows
  .github/workflows/cli-consistency-checker.lock.yml
Due: zizmor, actionlint

Add comprehensive logging and step summaries to expired issues/discussions cleanup scripts (#10069)
  actions/setup/js/close_expired_discussions.cjs
  actions/setup/js/close_expired_issues.cjs
Due: none

improve workflows
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-operations-release.md
Due: none

improve workflows
  .github/workflows/ai-moderator.lock.yml
  .github/workflows/code-scanning-fixer.lock.yml
  .github/workflows/copilot-cli-deep-research.lock.yml
  .github/workflows/daily-choice-test.lock.yml
  .github/workflows/daily-firewall-report.lock.yml
  .github/workflows/discussion-task-mining.campaign.lock.yml
  .github/workflows/example-custom-error-patterns.lock.yml
  .github/workflows/playground-assign-to-agent.lock.yml
  .github/workflows/release.lock.yml
  .github/workflows/security-fix-pr.lock.yml
  .github/workflows/sergo.lock.yml
  .github/workflows/technical-doc-writer.lock.yml
  docs/src/content/docs/blog/2026-01-12-welcome-to-pelis-agent-factory.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-advanced-analytics.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-campaigns.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-code-quality.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-creative-culture.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-documentation.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-interactive-chatops.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-issue-management.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-metrics-analytics.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-multi-phase.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-operations-release.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-organization.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-quality-hygiene.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-security-compliance.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-testing-validation.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-tool-infrastructure.md
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows.md
  docs/src/content/docs/blog/2026-01-21-twelve-lessons.md
  docs/src/content/docs/blog/2026-01-24-design-patterns.md
  docs/src/content/docs/blog/2026-01-27-operational-patterns.md
  docs/src/content/docs/blog/2026-01-30-imports-and-sharing.md
  docs/src/content/docs/blog/2026-02-02-security-lessons.md
  docs/src/content/docs/blog/2026-02-05-how-workflows-work.md
  docs/src/content/docs/blog/2026-02-08-authoring-workflows.md
  docs/src/content/docs/blog/2026-02-11-getting-started.md
Due: zizmor, actionlint

Fix broken documentation link in issue footer (#10075)
  actions/setup/js/generate_footer.cjs
  actions/setup/js/generate_footer.test.cjs
  actions/setup/md/workflow_install_note.md
Due: none

rm yml file
  .github/workflows/discussion-task-mining.campaign.lock.yml
Due: zizmor, actionlint

chore: rm legacy campaigns (#10077)
  .github/workflows/discussion-task-mining.campaign.lock.yml
  .github/workflows/discussion-task-mining.campaign.md
  .github/workflows/docs-quality-maintenance-project67.campaign.lock.yml
  .github/workflows/docs-quality-maintenance-project67.campaign.md
  .github/workflows/file-size-reduction-project71.campaign.lock.yml
  .github/workflows/file-size-reduction-project71.campaign.md
Due: zizmor, actionlint

Fix create_project tool validation by making title optional and add configurable title-prefix (#10068)
  .github/workflows/ai-moderator.lock.yml
  .github/workflows/campaign-generator.lock.yml
  .github/workflows/campaign-generator.md
  .github/workflows/cli-consistency-checker.lock.yml
  .github/workflows/code-scanning-fixer.lock.yml
  .github/workflows/copilot-cli-deep-research.lock.yml
  .github/workflows/daily-choice-test.lock.yml
  .github/workflows/daily-firewall-report.lock.yml
  .github/workflows/example-custom-error-patterns.lock.yml
  .github/workflows/playground-assign-to-agent.lock.yml
  .github/workflows/release.lock.yml
  .github/workflows/security-fix-pr.lock.yml
  .github/workflows/technical-doc-writer.lock.yml
  actions/setup/js/create_project.cjs
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/compiler_safe_outputs_specialized.go
  pkg/workflow/create_project.go
  pkg/workflow/js/safe_outputs_tools.json
  pkg/workflow/safe_outputs_config_generation.go
Due: zizmor, actionlint

Fix JSDoc return type annotations in close_expired_*.cjs (#10091)
  actions/setup/js/close_expired_discussions.cjs
  actions/setup/js/close_expired_issues.cjs
Due: none

Refactor secret validation into agentic maintenance workflow (#10081)
  .github/scripts/agentic-diagnostics.cjs
  .github/workflows/agentic-diagnostics.yml
  .github/workflows/agentics-maintenance.yml
  actions/setup/js/validate_secrets.cjs
  actions/setup/js/validate_secrets.test.cjs
  pkg/workflow/maintenance_workflow.go
Due: none

Add daily safe output tool optimizer workflow (#10087)
  .github/workflows/daily-safe-output-optimizer.lock.yml
  .github/workflows/daily-safe-output-optimizer.md
Due: zizmor, actionlint

Add local uvx mode to Serena tool with HTTP transport (#10073)
  .github/workflows/smoke-copilot.md
  actions/setup/sh/start_serena_server.sh
  pkg/parser/schemas/included_file_schema.json
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/importable_tools_test.go
  pkg/workflow/mcp-config.go
  pkg/workflow/mcp_config_comprehensive_test.go
  pkg/workflow/mcp_renderer.go
  pkg/workflow/mcp_servers.go
  pkg/workflow/runtime_detection.go
  pkg/workflow/strict_mode_serena_test.go
  pkg/workflow/strict_mode_validation.go
  pkg/workflow/tools_parser.go
  pkg/workflow/tools_types.go
Due: zizmor

Add bi-weekly and tri-weekly schedule syntax with scattered execution times (#10088)
  docs/src/content/docs/reference/schedule-syntax.md
  pkg/parser/schedule_parser.go
  pkg/parser/schedule_parser_test.go
Due: none

Fix token scoping in safe output handler manager (#10096)
  .github/workflows/campaign-generator.lock.yml
  actions/setup/js/create_project.cjs
  pkg/workflow/compiler_safe_outputs_steps.go
Due: zizmor, actionlint

Fix missing OpenCode engine case in aw_info model environment variable generation (#10099)
  .github/workflows/dev.lock.yml
  .github/workflows/smoke-opencode.lock.yml
  pkg/workflow/compiler_yaml.go
  specs/artifacts.md
Due: zizmor, actionlint

Add early process liveness check in start_mcp_gateway.sh before curl retries (#10112)
  actions/setup/sh/start_mcp_gateway.sh
Due: none

Sync missing safe output tool definitions to runtime configuration (#10109)
  actions/setup/js/safe_outputs_tools.json
Due: none
