Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

.pre-commit-config.yaml:

# Pre-commit hooks for gh-aw
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Security scanning with zizmor
      - id: zizmor
        name: zizmor security scan
        entry: zizmor
        language: system
        files: \.github/workflows/.*\.(lock\.yml|md)$
        pass_filenames: true
        description: Scan GitHub Actions workflows for security vulnerabilities
        
      # Workflow linting with actionlint
      - id: actionlint
        name: actionlint workflow linting
        entry: actionlint
        language: system
        files: \.github/workflows/.*\.lock\.yml$
        pass_filenames: true
        description: Lint GitHub Actions workflow files for best practices and errors
        
      # Shell script validation with shellcheck
      - id: shellcheck
        name: shellcheck shell script validation
        entry: shellcheck
        language: system
        files: \.(sh|bash)$
        types: [file, shell]
        description: Validate shell scripts for common issues and best practices

chore: add agentic fraction and action minutes tracking
  .github/workflows/agentic-observability-kit.md
  pkg/cli/audit_agentic_analysis.go
  pkg/cli/audit_agentic_analysis_test.go
  pkg/cli/audit_report.go
  pkg/cli/logs_models.go
  pkg/cli/logs_orchestrator.go
  pkg/cli/logs_report.go
Due: zizmor

fix: remove double-counted write_actions from partially_reducible evidence; rename Minutes → Action Minutes (#23075)
  pkg/cli/audit_agentic_analysis.go
  pkg/cli/logs_report.go
Due: none

Update safe-outputs-pull-requests.md
  docs/src/content/docs/reference/safe-outputs-pull-requests.md
Due: none

Update pkg/cli/mcp_config_file.go
  pkg/cli/mcp_config_file.go
Due: none

Update actions/setup/js/create_pull_request.cjs
  actions/setup/js/create_pull_request.cjs
Due: none

fix: record base commit at patch generation time for fallback
  actions/setup/js/create_pull_request.cjs
  actions/setup/js/create_pull_request.test.cjs
  actions/setup/js/generate_git_patch.cjs
  actions/setup/js/safe_outputs_handlers.cjs
Due: none

improve message
  actions/setup/js/extra_empty_commit.cjs
Due: none

Update actions/setup/js/extra_empty_commit.cjs
  actions/setup/js/extra_empty_commit.cjs
Due: none

commit
  actions/setup/js/extra_empty_commit.cjs
Due: none

fix: trial command missing remote dependency fetching for imports, dispatch workflows, and resources
  pkg/cli/add_command.go
  pkg/cli/includes.go
  pkg/cli/trial_repository.go
Due: none

Update pkg/cli/includes.go
  pkg/cli/includes.go
Due: none

fix: increase timeout for live GitHub API integration test
  actions/setup/js/frontmatter_hash_github_api.test.cjs
Due: none

fix: detect default branch from git remote when gh repo view fails
  pkg/cli/add_interactive_git.go
Due: none

Update pkg/cli/add_interactive_git.go
  pkg/cli/add_interactive_git.go
Due: none

fix
  pkg/cli/add_interactive_git.go
Due: none

docs: add gitcgr code graph badge
  README.md
Due: none

Update safe_outputs_tools_repo_params.go
  pkg/workflow/safe_outputs_tools_repo_params.go
Due: none

fix: restore proxy-tls exclusion from DIFC proxy artifact upload
  .github/workflows/contribution-check.lock.yml
  .github/workflows/daily-issues-report.lock.yml
  .github/workflows/discussion-task-miner.lock.yml
  .github/workflows/grumpy-reviewer.lock.yml
  .github/workflows/issue-arborist.lock.yml
  .github/workflows/issue-monster.lock.yml
  .github/workflows/issue-triage-agent.lock.yml
  .github/workflows/org-health-report.lock.yml
  .github/workflows/plan.lock.yml
  .github/workflows/pr-triage-agent.lock.yml
  .github/workflows/q.lock.yml
  .github/workflows/refiner.lock.yml
  .github/workflows/scout.lock.yml
  .github/workflows/smoke-agent-all-merged.lock.yml
  .github/workflows/smoke-agent-all-none.lock.yml
  .github/workflows/smoke-agent-public-approved.lock.yml
  .github/workflows/smoke-agent-public-none.lock.yml
  .github/workflows/smoke-agent-scoped-approved.lock.yml
  .github/workflows/stale-repo-identifier.lock.yml
  .github/workflows/weekly-blog-post-writer.lock.yml
  .github/workflows/weekly-issue-summary.lock.yml
  .github/workflows/weekly-safe-outputs-spec-review.lock.yml
  .github/workflows/workflow-generator.lock.yml
  pkg/workflow/compiler_difc_proxy.go
  pkg/workflow/compiler_difc_proxy_test.go
Due: zizmor, actionlint

fix: use GH_REPO instead of overwriting GH_HOST to preserve DIFC proxy routing
  .github/workflows/daily-issues-report.lock.yml
  .github/workflows/issue-arborist.lock.yml
  .github/workflows/stale-repo-identifier.lock.yml
  pkg/workflow/compiler_difc_proxy.go
  pkg/workflow/compiler_difc_proxy_test.go
  pkg/workflow/compiler_yaml_main_job.go
Due: zizmor, actionlint

Fix npm name regex to allow version suffixes in package specifiers
  pkg/workflow/argument_injection_test.go
  pkg/workflow/name_validation.go
Due: none

Update pkg/parser/schemas/main_workflow_schema.json
  pkg/parser/schemas/main_workflow_schema.json
Due: none

Update pkg/workflow/cache_integrity.go
  pkg/workflow/cache_integrity.go
Due: none

feat: auto-generate --allow-host-service-ports from services: port mappings (#23756)
  pkg/workflow/awf_helpers.go
  pkg/workflow/compiler_orchestrator_workflow.go
  pkg/workflow/compiler_types.go
  pkg/workflow/service_ports.go
  pkg/workflow/service_ports_test.go
Due: none

fix: address review feedback on service ports implementation
  pkg/workflow/service_ports.go
  pkg/workflow/service_ports_test.go
Due: none

fix: surface service port warnings to stderr for user visibility
  pkg/workflow/compiler_orchestrator_workflow.go
Due: none

test: add smoke test for service ports with Redis
  .github/workflows/smoke-service-ports.lock.yml
  .github/workflows/smoke-service-ports.md
Due: zizmor, actionlint

fix: address review feedback — bracket notation, port validation, warning count
  .github/workflows/smoke-service-ports.lock.yml
  pkg/workflow/compiler_orchestrator_workflow.go
  pkg/workflow/compiler_types.go
  pkg/workflow/service_ports.go
  pkg/workflow/service_ports_test.go
Due: zizmor, actionlint

fix: build AWF from source in smoke-service-ports test
  .github/workflows/smoke-service-ports.lock.yml
Due: zizmor, actionlint

fix: use host.docker.internal for Redis in smoke test
  .github/workflows/smoke-service-ports.md
Due: zizmor

fix: update test to verify script fetches latest release when no version is specified
  pkg/cli/setup_cli_action_integration_test.go
Due: none

fix: address PR review comments for token usage feature
  actions/setup/sh/parse_token_usage.sh
  pkg/cli/audit_report.go
  pkg/cli/audit_report_render.go
Due: none

feat: bump AWF to v0.25.10 and use lightweight esbuild bundle
  actions/setup/sh/install_awf_binary.sh
  pkg/constants/version_constants.go
  pkg/workflow/testdata/wasm_golden/TestWasmGolden_CompileFixtures/basic-copilot.golden
  pkg/workflow/testdata/wasm_golden/TestWasmGolden_CompileFixtures/with-imports.golden
Due: none

fix: recompile smoke workflow lock files for AWF v0.25.10
  .github/workflows/smoke-agent-all-merged.lock.yml
  .github/workflows/smoke-agent-all-none.lock.yml
  .github/workflows/smoke-agent-public-approved.lock.yml
  .github/workflows/smoke-agent-public-none.lock.yml
  .github/workflows/smoke-agent-scoped-approved.lock.yml
  .github/workflows/smoke-call-workflow.lock.yml
  .github/workflows/smoke-claude.lock.yml
  .github/workflows/smoke-codex.lock.yml
  .github/workflows/smoke-copilot-arm.lock.yml
  .github/workflows/smoke-copilot.lock.yml
  .github/workflows/smoke-create-cross-repo-pr.lock.yml
  .github/workflows/smoke-gemini.lock.yml
  .github/workflows/smoke-multi-pr.lock.yml
  .github/workflows/smoke-project.lock.yml
  .github/workflows/smoke-service-ports.lock.yml
  .github/workflows/smoke-temporary-id.lock.yml
  .github/workflows/smoke-test-tools.lock.yml
  .github/workflows/smoke-update-cross-repo-pr.lock.yml
  .github/workflows/smoke-workflow-call-with-inputs.lock.yml
  .github/workflows/smoke-workflow-call.lock.yml
Due: zizmor, actionlint

fix: add fallback to platform binary when bundle download fails
  actions/setup/sh/install_awf_binary.sh
Due: none
