Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

.pre-commit-config.yaml:

# Pre-commit hooks for gh-aw
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Security scanning with zizmor
      - id: zizmor
        name: zizmor security scan
        entry: zizmor
        language: system
        files: \.github/workflows/.*\.(lock\.yml|md)$
        pass_filenames: true
        description: Scan GitHub Actions workflows for security vulnerabilities
        
      # Workflow linting with actionlint
      - id: actionlint
        name: actionlint workflow linting
        entry: actionlint
        language: system
        files: \.github/workflows/.*\.lock\.yml$
        pass_filenames: true
        description: Lint GitHub Actions workflow files for best practices and errors
        
      # Shell script validation with shellcheck
      - id: shellcheck
        name: shellcheck shell script validation
        entry: shellcheck
        language: system
        files: \.(sh|bash)$
        types: [file, shell]
        description: Validate shell scripts for common issues and best practices

Allow GitHub network access for maintenance workflows (#56978)
  .github/workflows/dead-code-remover.lock.yml
  .github/workflows/dead-code-remover.md
  .github/workflows/purelock.lock.yml
  .github/workflows/purelock.md
Due: zizmor, actionlint

Add regression test confirming top-level `roles:` is rejected by schema validation (#56981)
  pkg/parser/schema_location_test.go
Due: none

Fix stale Daily Firewall Report scope in metrics glossary (#56979)
  scratchpad/metrics-glossary.md
Due: none

Fix invalid Smoke Copilot discussion temporary IDs (#56973)
  .github/workflows/smoke-copilot-aoai-apikey.lock.yml
  .github/workflows/smoke-copilot-aoai-apikey.md
  .github/workflows/smoke-copilot-aoai-entra.lock.yml
  .github/workflows/smoke-copilot-aoai-entra.md
  .github/workflows/smoke-copilot-arm.lock.yml
  .github/workflows/smoke-copilot-arm.md
  .github/workflows/smoke-copilot.lock.yml
  .github/workflows/smoke-copilot.md
Due: zizmor, actionlint

Resolve identifier-referenced options in require-getexecoutput-exitcode-check (#56984)
  eslint-factory/src/rules/require-getexecoutput-exitcode-check.test.ts
  eslint-factory/src/rules/require-getexecoutput-exitcode-check.ts
Due: none

prefer-actions-exec-over-child-process: flag hidden async-conversion cost in sync contexts (#56985)
  eslint-factory/src/rules/prefer-actions-exec-over-child-process.test.ts
  eslint-factory/src/rules/prefer-actions-exec-over-child-process.ts
Due: none

Optimize ambient context in moderation and test workflows (#56974)
  .github/workflows/ai-moderator.lock.yml
  .github/workflows/ai-moderator.md
  .github/workflows/daily-go-test-parallelizer.lock.yml
  .github/workflows/daily-go-test-parallelizer.md
Due: zizmor, actionlint

Enforce explicit job and step timeouts on Visual Regression Checker workflow (#56980)
  .github/workflows/visual-regression-checker.lock.yml
  .github/workflows/visual-regression-checker.md
  pkg/cli/pr_code_quality_reviewer_workflow_contract_test.go
  pkg/workflow/step_types.go
  pkg/workflow/step_types_test.go
Due: zizmor, actionlint

Use authoritative AWF AI-credit totals in usage reporting (#56975)
  .changeset/patch-report-awf-ai-credits.md
  .github/workflows/pr-code-quality-reviewer.lock.yml
  .github/workflows/pr-code-quality-reviewer.md
  actions/setup/js/fixtures/awf-v0.28.7-aic-token-usage.jsonl
  actions/setup/js/model_costs.cjs
  actions/setup/js/model_costs.test.cjs
  actions/setup/js/parse_mcp_gateway_log.cjs
  actions/setup/js/parse_mcp_gateway_log.test.cjs
  actions/setup/js/parse_token_usage.cjs
  actions/setup/js/parse_token_usage.test.cjs
  docs/adr/56975-use-authoritative-awf-ai-credit-totals.md
  docs/src/content/docs/reference/artifacts.md
  docs/src/content/docs/specs/ai-credits-specification.md
  pkg/cli/audit_render_output_test.go
  pkg/cli/audit_report_render.go
  pkg/cli/model_costs_cache_semantics.go
  pkg/cli/model_costs_test.go
  pkg/cli/token_usage_agent_file.go
  pkg/cli/token_usage_aic.go
  pkg/cli/token_usage_aic_files.go
  pkg/cli/token_usage_analyze.go
  pkg/cli/token_usage_parse.go
  pkg/cli/token_usage_test.go
  pkg/cli/token_usage_types.go
Due: zizmor, actionlint

Implement `policy-near-miss` trajectory grader (Tier 2, Rank 1) (#56996)
  .github/workflows/shared/graders/README.md
  .github/workflows/shared/graders/policy-near-miss.md
  actions/setup/js/trace_graders.test.cjs
Due: zizmor

Add typed on.stop-after field; allow GitHub Actions expressions (#56983)
  .changeset/type-on-stop-after.md
  actions/setup/js/check_stop_time.cjs
  actions/setup/js/check_stop_time.test.cjs
  docs/adr/56983-add-typed-on-stop-after-and-runtime-expressions.md
  docs/src/content/docs/reference/frontmatter-full.md
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/frontmatter_parsing.go
  pkg/workflow/frontmatter_types.go
  pkg/workflow/stop_after.go
  pkg/workflow/stop_after_test.go
Due: none

Document intent-driven workflow design (#57005)
  .github/aw/create-agentic-workflow.md
  .github/aw/designer.md
  .github/aw/intent.md
  .github/aw/update-agentic-workflow.md
Due: none

Add `on.cooldown` workflow gating (#56998)
  .github/workflows/aw-failure-investigator.lock.yml
  .github/workflows/aw-failure-investigator.md
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/ci-doctor.md
  actions/setup/js/check_cooldown.cjs
  actions/setup/js/check_cooldown.test.cjs
  docs/adr/56998-add-workflow-cooldown-gating.md
  docs/public/editor/autocomplete-data.json
  docs/src/content/docs/reference/frontmatter-full.md
  docs/src/content/docs/reference/triggers.md
  pkg/constants/constants_test.go
  pkg/constants/job_constants.go
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/compiler_jobs.go
  pkg/workflow/compiler_pre_activation_job.go
  pkg/workflow/cooldown.go
  pkg/workflow/cooldown_test.go
  pkg/workflow/frontmatter_on_section_cleanup.go
  pkg/workflow/role_checks.go
  pkg/workflow/workflow_data.go
Due: zizmor, actionlint

Emit grader results in OpenTelemetry spans (#57015)
  .changeset/insert-grader-results-otel.md
  actions/setup/js/send_otlp_span.cjs
  actions/setup/js/send_otlp_span.test.cjs
  actions/setup/js/trace_graders.cjs
  actions/setup/js/trace_graders.test.cjs
Due: none

[WIP] Add missing organization-custom-org-roles and organization-custom-repository-roles to JSON Schema (#56982)
  docs/public/editor/autocomplete-data.json
  pkg/parser/schema_errors.go
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/permissions_schema_consistency_test.go
Due: none

Fix gpclean Codex model compatibility (#57051)
  .github/workflows/gpclean.lock.yml
  .github/workflows/gpclean.md
Due: zizmor, actionlint

manualpathconcat: detect 2-operand embedded-slash literal shape (#57056)
  pkg/linters/manualpathconcat/manualpathconcat.go
  pkg/linters/manualpathconcat/testdata/src/manualpathconcat/manualpathconcat.go
Due: none

Implement skill-constraint-coverage trajectory grader (#57055)
  .github/workflows/shared/graders/README.md
  .github/workflows/shared/graders/skill-constraint-coverage.md
  actions/setup/js/trace_graders.test.cjs
  pkg/workflow/graders_config.go
Due: zizmor

Fix remote MCP authentication canary tool check (#57081)
  .github/workflows/github-remote-mcp-auth-test.lock.yml
  .github/workflows/github-remote-mcp-auth-test.md
Due: zizmor, actionlint

Fix require-getexecoutput-exitcode-check false positive on destructuring-assignment ObjectPattern (#57088)
  eslint-factory/src/rules/require-getexecoutput-exitcode-check.test.ts
  eslint-factory/src/rules/require-getexecoutput-exitcode-check.ts
Due: none

Implement exploration-error trajectory grader (#57087)
  .github/workflows/shared/graders/README.md
  .github/workflows/shared/graders/exploration-error.md
  actions/setup/js/trace_graders.test.cjs
Due: zizmor

Fix ESLint GitHub API throw correlation across retry callbacks (#57089)
  eslint-factory/src/rules/require-error-code-for-github-api-throw.test.ts
  eslint-factory/src/rules/require-error-code-for-github-api-throw.ts
Due: none

Fix broken gallery links in multi-device docs testing (#57082)
  .github/aw/actions-lock.json
  .github/workflows/daily-multi-device-docs-tester.lock.yml
  .github/workflows/daily-multi-device-docs-tester.md
  pkg/actionpins/data/action_pins.json
  pkg/workflow/data/action_pins.json
Due: zizmor, actionlint

Report eval results in OpenTelemetry spans (#57166)
  .changeset/report-evals-otel.md
  actions/setup/js/send_otlp_span.cjs
  actions/setup/js/send_otlp_span.test.cjs
  pkg/workflow/schemas/github-workflow.json
Due: none

[trajectory-grader] Implement exploitation-error (#57152)
  .github/workflows/shared/graders/README.md
  .github/workflows/shared/graders/exploitation-error.md
  .github/workflows/shared/graders/exploration-error.md
  actions/setup/js/trace_graders.test.cjs
Due: zizmor

Normalize report formatting across audit workflows (#57172)
  .github/workflows/audit-workflows.lock.yml
  .github/workflows/audit-workflows.md
  .github/workflows/objective-impact-report.lock.yml
  .github/workflows/objective-impact-report.md
  .github/workflows/weekly-network-domains-audit.lock.yml
  .github/workflows/weekly-network-domains-audit.md
Due: zizmor, actionlint

[mcp-tools] Fix stale toolset list in syntax-tools-imports.md (#57171)
  .github/aw/syntax-tools-imports.md
Due: none

Fix trajectory grader duplicate detection (#57255)
  .github/workflows/daily-trajectory-grader-implementer.lock.yml
  .github/workflows/daily-trajectory-grader-implementer.md
Due: zizmor, actionlint

Prevent large MCP query payloads from exceeding argument limits (#57253)
  .github/workflows/daily-performance-summary.lock.yml
  .github/workflows/daily-regulatory.lock.yml
  .github/workflows/shared/github-queries-mcp-script.md
  .github/workflows/smoke-copilot-aoai-apikey.lock.yml
  .github/workflows/smoke-copilot-aoai-entra.lock.yml
  .github/workflows/smoke-copilot-arm.lock.yml
  .github/workflows/smoke-copilot.lock.yml
  pkg/workflowcontract/daily_performance_summary_workflow_contract_test.go
Due: zizmor, actionlint

Add tool output consumption rate trajectory grader (#57252)
  .github/workflows/shared/graders/README.md
  .github/workflows/shared/graders/tool-output-consumption-rate.md
  actions/setup/js/trace_graders.test.cjs
Due: zizmor

Codex harness: detect unsupported-model tool-schema failures with a dedicated message (#57256)
  actions/setup/js/codex_harness.cjs
  actions/setup/js/codex_harness.test.cjs
Due: none

fix: lint only Go modules in super-linter workflow (#57465)
  .github/workflows/super-linter.lock.yml
  .github/workflows/super-linter.md
Due: zizmor, actionlint

Update README with security vulnerability notice
  README.md
Due: none

Add operational value report evaluator and history functionality
  .github/skills/agentic-workflows/SKILL.md
  .github/skills/aw-value/SKILL.md
  docs/src/content/docs/reference/trace-graders.md
  docs/src/content/docs/specs/graders-specification.md
  pkg/cli/graders_command.go
  pkg/cli/graders_integration_test.go
  pkg/cli/graders_operational_value_report_build.go
  pkg/cli/graders_operational_value_report_build_test.go
  pkg/cli/graders_operational_value_report_cache.go
  pkg/cli/graders_operational_value_report_cache_test.go
  pkg/cli/graders_operational_value_report_command.go
  pkg/cli/graders_operational_value_report_command_test.go
  pkg/cli/graders_operational_value_report_evaluator.go
  pkg/cli/graders_operational_value_report_evaluator_test.go
  pkg/cli/graders_operational_value_report_history.go
  pkg/cli/graders_operational_value_report_history_test.go
  pkg/cli/graders_operational_value_report_render.go
  pkg/cli/graders_operational_value_report_types.go
Due: none
