Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

.pre-commit-config.yaml:

# Pre-commit hooks for gh-aw
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Security scanning with zizmor
      - id: zizmor
        name: zizmor security scan
        entry: zizmor
        language: system
        files: \.github/workflows/.*\.(lock\.yml|md)$
        pass_filenames: true
        description: Scan GitHub Actions workflows for security vulnerabilities
        
      # Workflow linting with actionlint
      - id: actionlint
        name: actionlint workflow linting
        entry: actionlint
        language: system
        files: \.github/workflows/.*\.lock\.yml$
        pass_filenames: true
        description: Lint GitHub Actions workflow files for best practices and errors
        
      # Shell script validation with shellcheck
      - id: shellcheck
        name: shellcheck shell script validation
        entry: shellcheck
        language: system
        files: \.(sh|bash)$
        types: [file, shell]
        description: Validate shell scripts for common issues and best practices

Deduplicate MCP schema default injection (#55795)
  pkg/cli/mcp_schema.go
  pkg/cli/mcp_schema_test.go
  pkg/cli/mcp_tools_privileged.go
  pkg/cli/mcp_tools_readonly.go
Due: none

Rename audit report finding type (#55801)
  pkg/cli/audit_agent_output_test.go
  pkg/cli/audit_agentic_analysis.go
  pkg/cli/audit_report.go
  pkg/cli/audit_report_analysis.go
  pkg/cli/audit_report_render.go
  pkg/cli/audit_report_test.go
Due: none

Formalize forecast Monte Carlo compliance coverage (#55817)
  docs/src/content/docs/specs/forecast-specification.md
  pkg/cli/forecast_compute.go
  pkg/cli/forecast_montecarlo.go
  pkg/cli/forecast_montecarlo_test.go
  pkg/cli/forecast_test.go
  pkg/cli/forecast_types.go
  specs/forecast-compliance-fixtures/README.md
Due: none

Tighten daily SPDD spec maintenance items (#55820)
  scratchpad/github-mcp-access-control-specification.md
  scratchpad/guard-policies-specification.md
  scratchpad/safe-outputs-specification.md
  specs/awf-config-sources-compliance/README.md
  specs/security-architecture-spec.md
Due: none

Fix AI Moderator Codex crash: seed CODEX_HOME into cloud-hypervisor filesystem allow-list (#55711)
  .github/workflows/ai-moderator.lock.yml
  .github/workflows/codex-github-remote-mcp-test.lock.yml
  .github/workflows/daily-architecture-diagram.lock.yml
  .github/workflows/daily-credit-limit-test.lock.yml
  .github/workflows/daily-max-ai-credits-test.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/pdf-summary.lock.yml
  .github/workflows/python-data-charts.lock.yml
  .github/workflows/repo-tree-map.lock.yml
  .github/workflows/research.lock.yml
  .github/workflows/schema-feature-coverage.lock.yml
  .github/workflows/smoke-call-workflow.lock.yml
  .github/workflows/smoke-temporary-id.lock.yml
  .github/workflows/smoke-test-tools.lock.yml
  .github/workflows/super-linter.lock.yml
  .github/workflows/video-analyzer.lock.yml
  docs/src/content/docs/index.mdx
  pkg/workflow/sandbox.go
  pkg/workflow/sandbox_test.go
Due: zizmor, actionlint

Rename `aw-value` skill to `operational-value-designer` and update grader guidance references (#55829)
  .github/aw/instructions.md
  .github/skills/operational-value-designer/SKILL.md
  .github/skills/operational-value-designer/scripts/operational-value-evaluator-path.sh
  .github/skills/operational-value-designer/scripts/verify-operational-value-evaluator.sh
  .github/skills/operational-value-designer/tests/test.sh
  .github/workflows/daily-harness-experiment-proposer.lock.yml
  .github/workflows/daily-harness-experiment-proposer.md
  docs/src/content/docs/reference/glossary.md
  docs/src/content/docs/reference/trace-graders.md
Due: zizmor, actionlint

Render grader values in collapsible step summary (#55823)
  actions/setup/js/trace_graders.cjs
  actions/setup/js/trace_graders.test.cjs
Due: none

Add `recurrence-trapping-time` trajectory grader (RQA TT) and update grader catalog status (#55834)
  .github/workflows/shared/graders/README.md
  .github/workflows/shared/graders/recurrence-trapping-time.md
Due: zizmor

Pin Linter Miner to a supported Copilot model (#55837)
  .github/workflows/linter-miner.lock.yml
  .github/workflows/linter-miner.md
Due: zizmor, actionlint

Add YAML dashboard language specification (#55841)
  docs/src/content/docs/specs/dashboard-language-specification.md
Due: none

Give GitHubReposScope a concrete type (#55793)
  pkg/cli/compile_guard_policy_report.go
  pkg/cli/compile_guard_policy_report_test.go
  pkg/workflow/cache_integrity.go
  pkg/workflow/cache_integrity_test.go
  pkg/workflow/tools_parser.go
  pkg/workflow/tools_types.go
  pkg/workflow/tools_types_test.go
  pkg/workflow/tools_validation_github.go
  pkg/workflow/tools_validation_github_test.go
  pkg/workflow/tools_validation_test.go
Due: none

Add dashboard specification review workflow (#55867)
  .github/workflows/daily-dashboard-language-spec-review.lock.yml
  .github/workflows/daily-dashboard-language-spec-review.md
Due: zizmor, actionlint

docs: clarify Pi provider-prefixed model configuration (#55865)
  docs/src/content/docs/setup/quick-start.mdx
Due: none

Add depguard rule blocking imports of unmaintained x/crypto/openpgp (#55882)
  .golangci.yml
  go.mod
Due: none

Make design-decision-gate run-success message outcome-specific (#55884)
  .github/workflows/design-decision-gate.lock.yml
  .github/workflows/design-decision-gate.md
Due: zizmor, actionlint

docs: expand Troubleshooting section in mcp-scripts reference (#55883)
  docs/src/content/docs/reference/mcp-scripts.md
Due: none

Remove bounded-queries support (replaced by enclaves) (#55839)
  .changeset/minor-add-sbx-bounded-query-runtime.md
  .changeset/patch-bump-awf-v0-27-44-mcpg-v0-4-8.md
  .changeset/remove-bounded-queries.md
  .github/aw/agent-runtime-instructions.md
  docs/public/editor/autocomplete-data.json
  docs/src/content/docs/reference/agent-runtimes.md
  docs/src/content/docs/reference/frontmatter-full.md
  pkg/constants/spec_test.go
  pkg/constants/version_constants.go
  pkg/parser/frontmatter_merge_test.go
  pkg/parser/schema_test.go
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/README.md
  pkg/workflow/awf_config.go
  pkg/workflow/awf_config_build.go
  pkg/workflow/awf_feature_flags.go
  pkg/workflow/bounded_queries_runtime_test.go
  pkg/workflow/bounded_queries_test.go
  pkg/workflow/compiler_validators.go
  pkg/workflow/enclaves.go
  pkg/workflow/enclaves_test.go
  pkg/workflow/sandbox_validation.go
  pkg/workflow/schemas/awf-config.schema.json
  pkg/workflow/tools_parser.go
  pkg/workflow/tools_types.go
Due: none

Replace template-injection grep with parsed workflow check (#55863)
  .github/workflows/daily-secrets-analysis.lock.yml
  .github/workflows/daily-secrets-analysis.md
  pkg/workflow/lock_file_template_injection_test.go
Due: zizmor, actionlint

Add govulncheck gate to Go CI (#55889)
  .github/workflows/cgo.yml
Due: none

Allow npm registry access for workflow agents (#55890)
  .github/workflows/ci-coach.lock.yml
  .github/workflows/ci-coach.md
  .github/workflows/code-scanning-fixer.lock.yml
  .github/workflows/code-scanning-fixer.md
  .github/workflows/daily-go-test-parallelizer.lock.yml
  .github/workflows/daily-go-test-parallelizer.md
Due: zizmor, actionlint

Add FormatDurationMs/FormatDurationNs coverage and testify assertions in pkg/timeutil (#55891)
  docs/adr/55891-adopt-testify-assertions-for-timeutil-format-tests.md
  pkg/timeutil/format_test.go
Due: none

update docs
  docs/astro.config.mjs
  docs/src/components/CustomHeader.astro
  docs/src/content/docs/agent-factory-status.mdx
  docs/src/content/docs/engines/claude.md
  docs/src/content/docs/engines/codex.md
  docs/src/content/docs/engines/copilot.md
  docs/src/content/docs/engines/gemini.md
  docs/src/content/docs/engines/pi.md
  docs/src/content/docs/examples/ai-release-notes.md
  docs/src/content/docs/examples/ci-failure-investigation.md
  docs/src/content/docs/examples/code-improvement.md
  docs/src/content/docs/examples/docs-automation.md
  docs/src/content/docs/examples/index.md
  docs/src/content/docs/examples/maintaining-repos.md
  docs/src/content/docs/examples/metrics-analytics.md
  docs/src/content/docs/examples/security-review.md
  docs/src/content/docs/guides/agentic-authoring.mdx
  docs/src/content/docs/guides/upgrading.md
  docs/src/content/docs/guides/using-at-scale.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/introduction/how-they-work.mdx
  docs/src/content/docs/introduction/overview.mdx
  docs/src/content/docs/reference/auth.mdx
  docs/src/content/docs/reference/engines.md
  docs/src/content/docs/reference/faq.md
  docs/src/content/docs/reference/glossary.md
  docs/src/content/docs/setup/creating-workflows.mdx
  docs/src/content/docs/setup/quick-start.mdx
  docs/src/content/docs/specs/checkout-behavior-specification.md
  docs/src/content/docs/specs/safe-update-specification.md
Due: none

Allow npm/go module domains for Daily Reliability Review and Daily Secrets Analysis (#55973)
  .github/workflows/daily-reliability-review.lock.yml
  .github/workflows/daily-reliability-review.md
  .github/workflows/daily-secrets-analysis.lock.yml
  .github/workflows/daily-secrets-analysis.md
Due: zizmor, actionlint

refactor(timeutil): unify duration formatters to eliminate minute-boundary artifacts (#55958)
  pkg/cli/token_usage_test.go
  pkg/timeutil/README.md
  pkg/timeutil/format.go
  pkg/timeutil/format_test.go
  pkg/timeutil/spec_test.go
Due: none

Fail fast on `approve_workflow_run` permission denials to stop safe-outputs API storm (#55957)
  actions/setup/js/approve_workflow_run.cjs
  actions/setup/js/approve_workflow_run.test.cjs
Due: none

Harden zizmor Docker invocation and validate scanner image references (#55956)
  pkg/cli/compile_external_tools.go
  pkg/cli/compile_external_tools_test.go
  pkg/cli/grype.go
  pkg/cli/syft.go
  pkg/cli/zizmor.go
  pkg/cli/zizmor_test.go
Due: none

Warn when workflow dispatches share conclusion concurrency (#55836)
  pkg/workflow/compiler_validators.go
  pkg/workflow/workflow_dispatch_concurrency_warning_test.go
Due: none

Fix double blank line before Flags: in 7 CLI commands' help output (#56052)
  pkg/cli/add_command.go
  pkg/cli/add_wizard_command.go
  pkg/cli/cli_consistency_help_test.go
  pkg/cli/mcp_add.go
  pkg/cli/mcp_inspect.go
  pkg/cli/mcp_list.go
  pkg/cli/trial_command.go
Due: none

Define deterministic dashboard custom-link semantics (#56056)
  docs/src/content/docs/specs/dashboard-language-specification.md
Due: none

Fix Daily Documentation Diagram allowed-files globs rejecting its own dated SVG (#56051)
  .github/workflows/daily-documentation-diagram.lock.yml
  .github/workflows/daily-documentation-diagram.md
Due: zizmor, actionlint

Defer enclave MCP readiness to AWF
  actions/setup/sh/check_mcp_servers.sh
  actions/setup/sh/check_mcp_servers_test.sh
  pkg/workflow/enclaves.go
  pkg/workflow/enclaves_test.go
  pkg/workflow/mcp_setup_gateway.go
Due: none

Allow `gh aw edit` on source-managed workflows (#55875)
  docs/adr/55475-schema-validated-workflow-frontmatter-edit-command.md
  pkg/cli/edit_command.go
  pkg/cli/edit_command_integration_test.go
  pkg/cli/edit_command_test.go
Due: none

Add create-if-missing option to add-labels safe output (#56055)
  actions/setup/js/add_labels.cjs
  actions/setup/js/add_labels.test.cjs
  actions/setup/js/issue_intents.cjs
  docs/public/editor/autocomplete-data.json
  docs/src/content/docs/reference/frontmatter-full.md
  docs/src/content/docs/reference/safe-outputs.md
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/add_labels.go
  pkg/workflow/safe_outputs_config_generation_test.go
  pkg/workflow/safe_outputs_handler_registry_issues.go
Due: none

Add pending formal predicate tests for OTel outcome/mirror/security/reliability spec (§13-16) (#56077)
  docs/adr/56076-formalize-otel-outcome-mirror-security-reliability.md
  pkg/workflow/otel_reliability_formal_test.go
Due: none

docs: add GitHub official documentation links to self-hosted runners page (#56071)
  docs/src/content/docs/reference/self-hosted-runners.md
Due: none

Close SPDD daily gaps: AWF Approach section, forecast anchor sync test, MCP tool-filter fixture, T-CTR naming guard (#56080)
  pkg/cli/forecast_compliance_fixtures_formal_test.go
  pkg/workflow/compiler_threat_optimizer_protocol_naming_sync_formal_test.go
  pkg/workflow/github_mcp_access_control_formal_test.go
  specs/awf-config-sources-spec.md
  specs/compiler-threat-detection-compliance/README.md
  specs/compiler-threat-detection-spec.md
  specs/forecast-compliance-fixtures/README.md
  specs/github-mcp-access-control-compliance/README.md
  specs/github-mcp-access-control-compliance/empty-tool-name-empty-list-allow.yaml
Due: none

update docs
  README.md
  docs/adr/44168-populate-required-labels-title-prefix-update-parsers.md
  docs/astro.config.mjs
  docs/src/content/docs/experimental/trial-ops.md
  docs/src/content/docs/gallery.md
  docs/src/content/docs/gallery/maintaining-repos.md
  docs/src/content/docs/guides/using-at-scale.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/introduction/architecture.mdx
  docs/src/content/docs/introduction/how-they-work.mdx
  docs/src/content/docs/introduction/overview.mdx
  docs/src/content/docs/patterns/chat-ops.md
  docs/src/content/docs/patterns/deterministic-ops.md
  docs/src/content/docs/patterns/issue-ops.md
  docs/src/content/docs/patterns/multi-repo-ops.md
  docs/src/content/docs/practices/measuring-impact.md
  docs/src/content/docs/reference/audit.md
  docs/src/content/docs/reference/cost-management.md
  docs/src/content/docs/reference/cross-repository.md
  docs/src/content/docs/reference/engines.md
  docs/src/content/docs/reference/environment-variables.md
  docs/src/content/docs/reference/faq.md
  docs/src/content/docs/reference/outcomes.md
  docs/src/content/docs/reference/self-hosted-runners.md
  docs/src/content/docs/reference/serena.md
  docs/src/content/docs/reference/tools.md
  docs/src/content/docs/reference/web-search.md
Due: none
