Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

zizmor:
  name: zizmor security scan
  entry: zizmor
  language: system
  pass_filenames: true
  description: Scan GitHub Actions workflows for security vulnerabilities

actionlint:
  name: actionlint workflow linting
  entry: actionlint
  language: system
  pass_filenames: true
  description: Lint GitHub Actions workflow files for best practices and errors

Potential fix for pull request finding
  .github/workflows/daily-token-consumption-report.lock.yml
Due: zizmor, actionlint

Potential fix for pull request finding
  pkg/workflow/safe_outputs_config.go
Due: none

Potential fix for pull request finding
  docs/src/content/docs/reference/frontmatter-full.md
Due: none

Update cost-management.md
  docs/src/content/docs/reference/cost-management.md
Due: none

fix: add timeout-minutes to safeOutputMetaFields and guard long test patterns in test-impacted-go
  Makefile
  pkg/parser/schema_compiler.go
  pkg/parser/schema_test.go
Due: none

Treat detached-HEAD ('HEAD') as invalid in getCurrentBranch
  actions/setup/js/get_current_branch.cjs
  actions/setup/js/get_current_branch.test.cjs
Due: none

update tokens for sample replay
  actions/setup/js/apply_samples.cjs
  actions/setup/js/apply_samples.test.cjs
  actions/setup/js/get_current_branch.cjs
  actions/setup/js/get_current_branch.test.cjs
  pkg/workflow/samples_replay.go
  pkg/workflow/samples_replay_test.go
Due: none

Potential fix for pull request finding
  actions/setup/js/apply_samples.cjs
Due: none

Potential fix for pull request finding
  actions/setup/js/safe_outputs_handlers.cjs
Due: none

CI fixes
  actions/setup/js/send_otlp_span.cjs
  pkg/workflow/samples_replay.go
Due: none

CI fixes
  pkg/workflow/samples_replay.go
Due: none

update
  actions/setup/js/apply_samples.cjs
  actions/setup/js/apply_samples.test.cjs
  actions/setup/js/safe_outputs_handlers.cjs
  actions/setup/js/safe_outputs_handlers.test.cjs
  actions/setup/js/send_otlp_span.cjs
  pkg/workflow/safe_outputs_validation_config.go
  pkg/workflow/samples_replay.go
Due: none

refresh golden
  pkg/workflow/testdata/TestWasmGolden_AllEngines/claude.golden
  pkg/workflow/testdata/TestWasmGolden_AllEngines/codex.golden
  pkg/workflow/testdata/TestWasmGolden_AllEngines/copilot.golden
  pkg/workflow/testdata/TestWasmGolden_AllEngines/gemini.golden
  pkg/workflow/testdata/TestWasmGolden_AllEngines/pi.golden
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/basic-copilot.golden
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/playwright-cli-mode.golden
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/smoke-copilot.golden
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/with-imports.golden
Due: none

docs: id-token when using github oidc auth
  docs/src/content/docs/reference/engines.md
Due: none

Resolve --gh-aw-ref branch/tag to commit SHA at compile time
  DEVGUIDE.md
  cmd/gh-aw/main.go
  pkg/workflow/action_resolver.go
Due: none

chore: update slides and place on hero page
  docs/astro.config.mjs
  docs/package-lock.json
  docs/package.json
  docs/slides/20260224-github-agentic-workflows.pdf
  docs/slides/20260407-github-agentic-workflows.pdf
  docs/slides/20260602-github-agentic-workflows.pdf
  docs/slides/github-agentic-workflows.pdf
  docs/src/components/WorkflowHero.astro
  docs/src/content/docs/agent-factory-status.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/introduction/slides.mdx
Due: none

Potential fix for pull request finding
  docs/src/components/WorkflowHero.astro
Due: none

fix: enhance slide loading and error handling in WorkflowHero component
  .github/workflows/docs.yml
  docs/package.json
  docs/src/components/WorkflowHero.astro
  docs/tests/slide-preview.spec.ts
Due: none

fix: add Node.js engine requirement
  docs/package-lock.json
Due: none

Potential fix for pull request finding
  pkg/workflow/action_resolver.go
Due: none

Add Copilot Centralization Optimizer workflows
  .github/aw/actions-lock.json
  .github/workflows/copilot-centralization-drilldown.lock.yml
  .github/workflows/copilot-centralization-drilldown.md
  .github/workflows/copilot-centralization-optimizer.lock.yml
  .github/workflows/copilot-centralization-optimizer.md
Due: zizmor, actionlint

Potential fix for pull request finding
  .github/workflows/copilot-centralization-optimizer.md
Due: zizmor

Potential fix for pull request finding
  .github/workflows/copilot-centralization-drilldown.md
Due: zizmor

Otel: Propose new `cicd.automation.*` standard
  specs/otel-observability-spec.md
Due: none

Potential fix for pull request finding
  specs/otel-observability-spec.md
Due: none

chore: revive weekly portfolio analyst workflow
  .github/workflows/portfolio-analyst.lock.yml
  .github/workflows/portfolio-analyst.md
Due: zizmor, actionlint

Potential fix for pull request finding
  .github/workflows/portfolio-analyst.md
Due: zizmor

Path conditions:
  zizmor: any of: \.github/workflows/.*\.(lock\.yml|md)$
  actionlint: any of: \.github/workflows/.*\.lock\.yml$
