Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

zizmor:
  name: zizmor security scan
  entry: zizmor
  language: system
  pass_filenames: true
  description: Scan GitHub Actions workflows for security vulnerabilities

actionlint:
  name: actionlint workflow linting
  entry: actionlint
  language: system
  pass_filenames: true
  description: Lint GitHub Actions workflow files for best practices and errors

tweak docs
  docs/astro.config.mjs
Due: none

tweak docs
  docs/src/content/docs/guides/working-with-workflows.mdx
Due: none

Document advanced frontmatter configuration options (#56090)
  docs/src/content/docs/reference/frontmatter.md
Due: none

[eslint-miner] eslint-factory: add no-json-stringify-equality rule (#56069)
  eslint-factory/README.md
  eslint-factory/eslint.config.cjs
  eslint-factory/src/index.ts
  eslint-factory/src/rules/no-json-stringify-equality.test.ts
  eslint-factory/src/rules/no-json-stringify-equality.ts
Due: none

Preserve enclave gateway key for host AWF
  pkg/workflow/compiler_yaml_ai_execution.go
  pkg/workflow/enclave_github_proxy_test.go
  pkg/workflow/enclaves_test.go
  pkg/workflow/mcp_cli_mount.go
  pkg/workflow/mcp_setup_gateway.go
Due: none

Add enclave proxy TLS DNS SAN
  actions/setup/sh/start_enclave_github_proxy.sh
  pkg/workflow/enclave_github_proxy.go
  pkg/workflow/enclave_github_proxy_test.go
Due: none

Refactor `aw-failure-investigator` deterministic prefetch from Python to `actions/github-script` (#56099)
  .github/workflows/aw-failure-investigator.lock.yml
  .github/workflows/aw-failure-investigator.md
Due: zizmor, actionlint

Allow `permissions: none` shorthand in schema validation (#55972)
  docs/public/editor/autocomplete-data.json
  docs/src/content/docs/reference/frontmatter-full.md
  docs/src/content/docs/reference/permissions.md
  pkg/parser/schema_test.go
  pkg/parser/schemas/main_workflow_schema.json
Due: none

Add apple-container sandbox runtime contract and fail-closed validation
  .changeset/apple-container-runtime-contract.md
  .github/aw/agent-runtime-instructions.md
  docs/public/editor/autocomplete-data.json
  docs/src/content/docs/reference/frontmatter-full.md
  pkg/constants/version_constants.go
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/apple_container.go
  pkg/workflow/apple_container_test.go
  pkg/workflow/awf_arc_dind.go
  pkg/workflow/awf_command_builder.go
  pkg/workflow/awf_config.go
  pkg/workflow/awf_config_build.go
  pkg/workflow/awf_feature_flags.go
  pkg/workflow/docker.go
  pkg/workflow/firewall.go
  pkg/workflow/runs_on_validation.go
  pkg/workflow/sandbox.go
  pkg/workflow/sandbox_agent_images.go
  pkg/workflow/sandbox_runtime_profile.go
  pkg/workflow/sandbox_validation.go
  pkg/workflow/schemas/awf-config.schema.json
Due: none

Decode bootstrap and engine configuration maps into typed structs (#56068)
  docs/adr/56068-replace-map-assertions-with-typed-json-decode.md
  pkg/cli/bootstrap_profile_manifest.go
  pkg/cli/bootstrap_profile_manifest_test.go
  pkg/workflow/engine.go
  pkg/workflow/engine_auth_test.go
  pkg/workflow/engine_config_parser.go
  pkg/workflow/engine_definition.go
Due: none

feat(audit): add cluster and pattern analysis to cross-run audit (#56072)
  docs/src/content/docs/reference/audit.md
  pkg/cli/audit_cross_run.go
  pkg/cli/audit_cross_run_clusters.go
  pkg/cli/audit_cross_run_clusters_render.go
  pkg/cli/audit_cross_run_clusters_test.go
  pkg/cli/audit_cross_run_render.go
  pkg/cli/logs_orchestrator_render.go
Due: none

Suppress Codex rebuild guard after terminal safe-output (#56067)
  actions/setup/js/codex_harness.cjs
  actions/setup/js/codex_harness.test.cjs
  actions/setup/js/copilot_harness.cjs
  actions/setup/js/safeoutputs_cli.cjs
  actions/setup/js/safeoutputs_cli.test.cjs
Due: none

Type experiment storage as an enum (#56059)
  pkg/workflow/README.md
  pkg/workflow/compiler_experiments.go
  pkg/workflow/compiler_experiments_test.go
  pkg/workflow/workflow_data.go
Due: none

Narrow child_process exec handle-retention exemptions (#56091)
  eslint-factory/src/rules/prefer-actions-exec-over-child-process.test.ts
  eslint-factory/src/rules/prefer-actions-exec-over-child-process.ts
Due: none

Apply cross-run audit clustering to graders and evals (#56146)
  docs/adr/56146-add-graders-evals-clustering-dimensions.md
  pkg/cli/audit_cross_run.go
  pkg/cli/audit_cross_run_clusters.go
  pkg/cli/audit_cross_run_clusters_test.go
  pkg/cli/logs_orchestrator_render.go
  pkg/cli/logs_orchestrator_unit_test.go
Due: none

Lint shell scripts declared in workflow frontmatter (#56150)
  pkg/cli/aw_failure_investigator_workflow_test.go
  pkg/cli/compile_external_tools.go
  pkg/cli/compile_pipeline.go
  pkg/cli/compile_pipeline_shellcheck_resources_test.go
  pkg/cli/shellcheck.go
  pkg/cli/shellcheck_test.go
  pkg/workflow/shell_script_resources.go
  pkg/workflow/shell_script_resources_test.go
Due: none

Move WSRF block out of token usage details in step summary (#56264)
  actions/setup/js/parse_token_usage.cjs
  actions/setup/js/parse_token_usage.test.cjs
Due: none

Ignore broccoli-labeled PRs (#56260)
  .github/workflows/issue-monster.lock.yml
  .github/workflows/issue-monster.md
  .github/workflows/pr-sous-chef.lock.yml
  .github/workflows/pr-sous-chef.md
Due: zizmor, actionlint

[trajectory-grader] Implement `recurrence-rate` (Tier 1, rank 9) (#56256)
  .github/workflows/shared/graders/README.md
  .github/workflows/shared/graders/recurrence-rate.md
Due: zizmor

Add missing `description` frontmatter to 8 `.github/aw` spec docs (#56262)
  .github/aw/campaign.md
  .github/aw/designer-mappings.md
  .github/aw/designer.md
  .github/aw/github-mcp-server-pagination.md
  .github/aw/github-mcp-server-tools.md
  .github/aw/github-mcp-server.md
  .github/aw/instructions.md
  .github/aw/serena-tool.md
Due: none

Update stale `notYetEnforced` rationale for `largefunc`, `excessivefuncparams`, and `errormessage` (#56258)
  pkg/linters/doc_sync_test.go
Due: none

Add remove_redundant_context_v1 A/B experiment to pr-sous-chef workflow (#56257)
  .github/workflows/pr-sous-chef.lock.yml
  .github/workflows/pr-sous-chef.md
Due: zizmor, actionlint

Trim redundant guardrail recap in Issue Monster; skip unsafe cli-proxy suggestion for AI Moderator (#56274)
  .github/workflows/issue-monster.lock.yml
  .github/workflows/issue-monster.md
Due: zizmor, actionlint

Fix pricing discrepancies for gpt-5.6-sol and gemini-3.6-flash in models.json (#56272)
  .changeset/patch-model-inventory-2026-08-27.md
  actions/setup/js/models.json
  pkg/cli/data/models.json
Due: none

Allow strict-mode workflows to pass AWF `--image-tag` while keeping `sandbox.agent.args` locked down (#56265)
  docs/src/content/docs/reference/faq.md
  docs/src/content/docs/reference/self-hosted-runners.md
Due: none

E007: ignore inert code-region mentions in comment limit enforcement (#56269)
  actions/setup/js/comment_limit_helpers.cjs
  actions/setup/js/comment_limit_helpers.test.cjs
Due: none

Resolve dispatch workflow refs from PR comments (#56266)
  .github/workflows/smoke-copilot-aoai-apikey.lock.yml
  .github/workflows/smoke-copilot-aoai-entra.lock.yml
  .github/workflows/smoke-copilot-arm.lock.yml
  .github/workflows/smoke-copilot.lock.yml
  .github/workflows/squad-implement-worker.lock.yml
  .github/workflows/squad.lock.yml
  actions/setup/js/dispatch_workflow.cjs
  actions/setup/js/dispatch_workflow.test.cjs
  pkg/workflow/safe_outputs_dispatch.go
  pkg/workflow/safe_outputs_tools_generation_test.go
Due: zizmor, actionlint

Use explicit PR head baseline for fork PR branch updates (#56119)
  actions/setup/js/checkout_pr_branch.cjs
  actions/setup/js/checkout_pr_branch.test.cjs
  actions/setup/js/generate_git_bundle.cjs
  actions/setup/js/generate_git_bundle.test.cjs
  actions/setup/js/generate_git_patch.cjs
  actions/setup/js/generate_git_patch.test.cjs
  actions/setup/js/safe_outputs_handlers.cjs
  actions/setup/js/safe_outputs_handlers.test.cjs
Due: none

Treat primitive decodeURI arguments as statically safe (#56331)
  eslint-factory/src/rules/require-decodeuricomponent-try-catch.test.ts
  eslint-factory/src/rules/require-decodeuricomponent-try-catch.ts
Due: none

Go Fan: remove hard dependency on blocked network tools for module prioritization (#56324)
  .github/workflows/go-fan.lock.yml
  .github/workflows/go-fan.md
Due: zizmor, actionlint

[aw] Reduce Daily Storify log footprint to prevent runner ENOSPC failures (#56323)
  .github/workflows/agent-job-health.lock.yml
  .github/workflows/daily-firewall-report.lock.yml
  .github/workflows/daily-storify.lock.yml
  .github/workflows/daily-storify.md
  .github/workflows/safe-output-health.lock.yml
  .github/workflows/shared/aw-logs-24h-fetch.md
  .github/workflows/workflow-normalizer.lock.yml
Due: zizmor, actionlint

Clarify ESLint try/catch diagnostic guidance (#56332)
  eslint-factory/src/rule-messages.test.ts
  eslint-factory/src/rules/require-decodeuricomponent-try-catch.ts
  eslint-factory/src/rules/require-execfilesync-try-catch.ts
  eslint-factory/src/rules/require-execsync-try-catch.ts
  eslint-factory/src/rules/require-fetch-response-body-try-catch.ts
  eslint-factory/src/rules/require-fetch-try-catch.ts
  eslint-factory/src/rules/require-fs-io-try-catch.ts
  eslint-factory/src/rules/require-fs-sync-try-catch.ts
  eslint-factory/src/rules/require-mkdirsync-try-catch.ts
  eslint-factory/src/rules/require-mkdtempsync-try-catch.ts
  eslint-factory/src/rules/require-new-url-try-catch.ts
  eslint-factory/src/rules/require-rmsync-try-catch.ts
Due: none

[aw] Route Daily Evals Feature Report through Copilot model path (#56327)
  .github/workflows/daily-evals-report.lock.yml
  .github/workflows/daily-evals-report.md
Due: zizmor, actionlint

Forward PR head baseline to safeoutputs
  .changeset/patch-forward-pr-head-baseline-to-safeoutputs.md
  pkg/workflow/mcp_gateway_mount_policy_test.go
  pkg/workflow/mcp_renderer_builtin.go
  pkg/workflow/mcp_renderer_test.go
  pkg/workflow/mcp_setup_gateway.go
  pkg/workflow/mcp_setup_generator_test.go
Due: none

Path conditions:
  zizmor: any of: \.github/workflows/.*\.(lock\.yml|md)$
  actionlint: any of: \.github/workflows/.*\.lock\.yml$
