Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

zizmor:
  name: zizmor security scan
  entry: zizmor
  language: system
  pass_filenames: true
  description: Scan GitHub Actions workflows for security vulnerabilities

actionlint:
  name: actionlint workflow linting
  entry: actionlint
  language: system
  pass_filenames: true
  description: Lint GitHub Actions workflow files for best practices and errors

test: Add smoke test file for run 22211157844
  .smoke-test-22211157844
Due: none

docs: update Ubuntu Actions runner image analysis for 2026-02-20
  research/ubuntulatest.md
Due: none

Add changeset [skip-ci]
  .changeset/patch-update-cli-tool-versions-2026-02.md
Due: none

test: Add smoke test file for run 22222473735
  .smoke-tests/smoke-22222473735.txt
Due: none

parser: lock newline-stable frontmatter hash regression tests (#17151)
  pkg/parser/frontmatter_hash_consistency_test.go
Due: none

feat: add CentralRepoOps docs and first example
  docs/src/content/docs/patterns/centralrepoops.md
Due: none

add banner
  docs/src/content/docs/patterns/centralrepoops.mdx
Due: none

Update pkg/workflow/strict_mode_validation.go
  pkg/workflow/strict_mode_validation.go
Due: none

checkout base branch not github.sha
  .github/workflows/changeset.lock.yml
  .github/workflows/ci-coach.lock.yml
  .github/workflows/cloclo.lock.yml
  .github/workflows/code-scanning-fixer.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/craft.lock.yml
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-workflow-updater.lock.yml
  .github/workflows/developer-docs-consolidator.lock.yml
  .github/workflows/dictation-prompt.lock.yml
  .github/workflows/functional-pragmatist.lock.yml
  .github/workflows/github-mcp-tools-report.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/go-logger.lock.yml
  .github/workflows/hourly-ci-cleaner.lock.yml
  .github/workflows/instructions-janitor.lock.yml
  .github/workflows/jsweep.lock.yml
  .github/workflows/layout-spec-maintainer.lock.yml
  .github/workflows/mergefest.lock.yml
  .github/workflows/poem-bot.lock.yml
  .github/workflows/q.lock.yml
  .github/workflows/refiner.lock.yml
  .github/workflows/slide-deck-maintainer.lock.yml
  .github/workflows/smoke-claude.lock.yml
  .github/workflows/smoke-project.lock.yml
  .github/workflows/technical-doc-writer.lock.yml
  .github/workflows/test-create-pr-error-handling.lock.yml
  .github/workflows/tidy.lock.yml
  .github/workflows/ubuntu-image-analyzer.lock.yml
  .github/workflows/unbloat-docs.lock.yml
  .github/workflows/weekly-safe-outputs-spec-review.lock.yml
  pkg/workflow/compiler_safe_outputs_steps.go
  pkg/workflow/compiler_safe_outputs_steps_test.go
Due: zizmor, actionlint

update docs
  docs/src/content/docs/patterns/centralrepoops.mdx
Due: none

Update docs/src/content/docs/patterns/centralrepoops.mdx
  docs/src/content/docs/patterns/centralrepoops.mdx
Due: none

complete example
  docs/src/content/docs/patterns/centralrepoops.mdx
Due: none

refactor: extract setStringFromMap helper in parseMessagesConfig
  pkg/workflow/safe_outputs_config_messages.go
Due: none

update code block
  docs/src/content/docs/patterns/centralrepoops.mdx
Due: none

test: Add smoke test file for run 22239107636
  smoke_test_push_22239107636.txt
Due: none

update
  docs/src/content/docs/patterns/centralrepoops.mdx
Due: none

remove concurrency for now
  docs/src/content/docs/patterns/centralrepoops.mdx
Due: none

update CentralRepoOps docs
  docs/src/content/docs/patterns/centralrepoops.mdx
Due: none

Update instructions janitor to specifically check safe outputs for consistency
  .github/workflows/instructions-janitor.md
Due: zizmor

fix max for pr creation
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/create_pull_request.go
  pkg/workflow/safe_outputs_config_generation.go
  pkg/workflow/safe_outputs_config_generation_helpers.go
Due: none

fix max for pr creation
  .github/workflows/ci-coach.lock.yml
  .github/workflows/cloclo.lock.yml
  .github/workflows/code-scanning-fixer.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-workflow-updater.lock.yml
  .github/workflows/developer-docs-consolidator.lock.yml
  .github/workflows/dictation-prompt.lock.yml
  .github/workflows/functional-pragmatist.lock.yml
  .github/workflows/github-mcp-tools-report.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/go-logger.lock.yml
  .github/workflows/hourly-ci-cleaner.lock.yml
  .github/workflows/instructions-janitor.lock.yml
  .github/workflows/jsweep.lock.yml
  .github/workflows/layout-spec-maintainer.lock.yml
  .github/workflows/poem-bot.lock.yml
  .github/workflows/q.lock.yml
  .github/workflows/refiner.lock.yml
  .github/workflows/slide-deck-maintainer.lock.yml
  .github/workflows/smoke-multi-pr.md
  .github/workflows/smoke-project.lock.yml
  .github/workflows/technical-doc-writer.lock.yml
  .github/workflows/test-create-pr-error-handling.lock.yml
  .github/workflows/tidy.lock.yml
  .github/workflows/ubuntu-image-analyzer.lock.yml
  .github/workflows/unbloat-docs.lock.yml
  .github/workflows/weekly-safe-outputs-spec-review.lock.yml
Due: zizmor, actionlint

refine safe-outputs file list in instructions janitor
  .github/workflows/instructions-janitor.md
Due: zizmor

fix max for pr creation
  actions/setup/js/generate_git_patch.test.cjs
  pkg/workflow/create_pull_request.go
  pkg/workflow/safe_outputs_max_test.go
Due: none

Fix safe output documentation errors in agent instructions
  .github/aw/github-agentic-workflows.md
Due: none

improve smoke
  .github/workflows/ci-coach.lock.yml
  .github/workflows/cloclo.lock.yml
  .github/workflows/code-scanning-fixer.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-workflow-updater.lock.yml
  .github/workflows/developer-docs-consolidator.lock.yml
  .github/workflows/dictation-prompt.lock.yml
  .github/workflows/functional-pragmatist.lock.yml
  .github/workflows/github-mcp-tools-report.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/go-logger.lock.yml
  .github/workflows/hourly-ci-cleaner.lock.yml
  .github/workflows/instructions-janitor.lock.yml
  .github/workflows/jsweep.lock.yml
  .github/workflows/layout-spec-maintainer.lock.yml
  .github/workflows/poem-bot.lock.yml
  .github/workflows/refiner.lock.yml
  .github/workflows/slide-deck-maintainer.lock.yml
  .github/workflows/smoke-multi-pr.lock.yml
  .github/workflows/smoke-multi-pr.md
  .github/workflows/smoke-project.lock.yml
  .github/workflows/technical-doc-writer.lock.yml
  .github/workflows/test-create-pr-error-handling.lock.yml
  .github/workflows/tidy.lock.yml
  .github/workflows/ubuntu-image-analyzer.lock.yml
  .github/workflows/unbloat-docs.lock.yml
  .github/workflows/weekly-safe-outputs-spec-review.lock.yml
Due: zizmor, actionlint

Sync github-agentic-workflows.md with v0.40.1: document missing safe-outputs fields
  .github/aw/github-agentic-workflows.md
Due: none

docs: consolidate developer documentation v2.6 (2026-02-20)
  scratchpad/actions.md
  scratchpad/code-organization.md
  scratchpad/dev.md
  scratchpad/engine-architecture-review.md
  scratchpad/engine-review-summary.md
Due: none

docs: remove bloat from network.md reference page
  docs/src/content/docs/reference/network.md
Due: none

fix replacements
  actions/setup/js/runtime_import.cjs
  actions/setup/js/runtime_import.test.cjs
Due: none

feat: add Copilot ARM64 smoke test on ubuntu-24.04-arm runner
  .github/workflows/smoke-copilot-arm.lock.yml
  .github/workflows/smoke-copilot-arm.md
Due: zizmor, actionlint

Update actions/setup/js/runtime_import.test.cjs
  actions/setup/js/runtime_import.test.cjs
Due: none

update workflows
  .github/workflows/smoke-multi-pr.lock.yml
  .github/workflows/smoke-multi-pr.md
Due: zizmor, actionlint

feat: add agentic-workflows tool to ARM64 smoke test
  .github/workflows/smoke-copilot-arm.lock.yml
  .github/workflows/smoke-copilot-arm.md
Due: zizmor, actionlint

fix: use 'water' label instead of 'smoke' for ARM64 smoke trigger
  .github/workflows/smoke-copilot-arm.lock.yml
  .github/workflows/smoke-copilot-arm.md
Due: zizmor, actionlint

docs: add supported runners table to frontmatter reference
  docs/src/content/docs/reference/frontmatter.md
Due: none

test: Add smoke test file for run 22247251475
  .github/smoke-test-push-22247251475.md
Due: none

Fix double-substitution bug in runtime import expression replacement (#17332)
  actions/setup/js/runtime_import.cjs
  actions/setup/js/runtime_import.test.cjs
Due: none

Path conditions:
  zizmor: any of: \.github/workflows/.*\.(lock\.yml|md)$
  actionlint: any of: \.github/workflows/.*\.lock\.yml$
