Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

.pre-commit-config.yaml:

# Pre-commit hooks for gh-aw
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Security scanning with zizmor
      - id: zizmor
        name: zizmor security scan
        entry: zizmor
        language: system
        files: \.github/workflows/.*\.(lock\.yml|md)$
        pass_filenames: true
        description: Scan GitHub Actions workflows for security vulnerabilities
        
      # Workflow linting with actionlint
      - id: actionlint
        name: actionlint workflow linting
        entry: actionlint
        language: system
        files: \.github/workflows/.*\.lock\.yml$
        pass_filenames: true
        description: Lint GitHub Actions workflow files for best practices and errors
        
      # Shell script validation with shellcheck
      - id: shellcheck
        name: shellcheck shell script validation
        entry: shellcheck
        language: system
        files: \.(sh|bash)$
        types: [file, shell]
        description: Validate shell scripts for common issues and best practices

Fix schema constraint: allow max > 1 for create-agent-session (#12323)
  .github/workflows/security-alert-burndown.lock.yml
  pkg/parser/schemas/main_workflow_schema.json
Due: zizmor, actionlint

chore: clarify agent session instructions (#12317)
  .github/aw/close-agentic-campaign.md
  .github/aw/generate-agentic-campaign.md
  .github/aw/orchestrate-agentic-campaign.md
  .github/aw/update-agentic-campaign-project.md
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
  pkg/cli/templates/close-agentic-campaign.md
  pkg/cli/templates/generate-agentic-campaign.md
  pkg/cli/templates/orchestrate-agentic-campaign.md
  pkg/cli/templates/update-agentic-campaign-project.md
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/action_pins_test.go
Due: zizmor, actionlint

fix formatting output
  Makefile
Due: none

chore: add explicit create_agent_session instructions (#12334)
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
Due: zizmor, actionlint

cleanup string negated integration label
  .github/workflows/ci.yml
  Makefile
  pkg/cli/copilot_setup_test.go
  pkg/cli/flags_test.go
  pkg/cli/init_command_test.go
  pkg/cli/mcp_config_file_test.go
  pkg/cli/mcp_secrets_test.go
  pkg/cli/test_main_test.go
  pkg/workflow/firewall_disable_integration_test.go
  pkg/workflow/github_token_test.go
  pkg/workflow/github_token_validation_test.go
  pkg/workflow/jobs_secrets_validation_test.go
  pkg/workflow/secrets_validation_test.go
Due: none

Extract error formatting helper in compiler.go to reduce duplication (#12308)
  pkg/workflow/compiler.go
  pkg/workflow/compiler_error_formatting_test.go
Due: none

Add gosec rule documentation links to specs/gosec.md (#12322)
  specs/gosec.md
Due: none

cleanup string negated integration label
  Makefile
Due: none

refactor: rename all create_agent_task to create_agent_session (#12338)
  .github/workflows/poem-bot.lock.yml
  .github/workflows/security-alert-burndown.lock.yml
  actions/setup/js/safe_output_handler_manager.cjs
  actions/setup/js/safe_output_handler_manager.test.cjs
  pkg/workflow/notify_comment.go
  pkg/workflow/safe_output_validation_config.go
  pkg/workflow/safe_output_validation_config_test.go
  pkg/workflow/safe_outputs_config_generation.go
  pkg/workflow/tool_description_enhancer.go
Due: zizmor, actionlint

🧹 Remove strange !integration test build tags (#12342)
  .github/workflows/ci.yml
  Makefile
  pkg/cli/copilot_setup_test.go
  pkg/cli/flags_test.go
  pkg/cli/init_command_test.go
  pkg/cli/mcp_config_file_test.go
  pkg/cli/mcp_secrets_test.go
  pkg/cli/test_main_test.go
  pkg/workflow/firewall_disable_integration_test.go
  pkg/workflow/github_token_test.go
  pkg/workflow/github_token_validation_test.go
  pkg/workflow/jobs_secrets_validation_test.go
  pkg/workflow/secrets_validation_test.go
Due: none

Fix: Pass GitHub token to gh CLI when creating agent sessions (#12347)
  .github/workflows/poem-bot.lock.yml
  actions/setup/js/create_agent_session.cjs
Due: zizmor, actionlint

Normalize report formatting guidelines for daily-team-evolution-insights workflow (#12351)
  .github/workflows/daily-team-evolution-insights.lock.yml
  .github/workflows/daily-team-evolution-insights.md
Due: zizmor, actionlint

chore: create parent issue for agent
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
Due: zizmor, actionlint

update
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
Due: zizmor, actionlint

chore: create parent issue for agent (#12354)
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
Due: zizmor, actionlint

Sync github-agentic-workflows.md with v0.36.0
  .github/aw/github-agentic-workflows.md
Due: none

Use --dangerously-bypass-approvals-and-sandbox for Codex engine
  .github/workflows/changeset.lock.yml
  .github/workflows/codex-github-remote-mcp-test.lock.yml
  .github/workflows/daily-fact.lock.yml
  .github/workflows/daily-issues-report.lock.yml
  .github/workflows/daily-observability-report.lock.yml
  .github/workflows/daily-performance-summary.lock.yml
  .github/workflows/deep-report.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/issue-arborist.lock.yml
  .github/workflows/smoke-codex.lock.yml
  pkg/workflow/codex_engine.go
Due: zizmor, actionlint

test updates
  pkg/campaign/orchestrator_test.go
  pkg/campaign/template_test.go
Due: none

test updates (#12361)
  pkg/campaign/orchestrator_test.go
  pkg/campaign/template_test.go
Due: none

Fix agent skipping assign-to-agent call in security-alert-burndown workflow (#12358)
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/security-alert-burndown.md
Due: zizmor, actionlint

Refactor: Split permissions.go into focused modules (928→133 lines) (#12363)
  pkg/workflow/permissions.go
  pkg/workflow/permissions_factory.go
  pkg/workflow/permissions_operations.go
  pkg/workflow/permissions_parser.go
Due: none

Refactor: Extract repetitive error formatting in agent_validation.go (#12362)
  pkg/workflow/agent_validation.go
Due: none

test fixes and enable ci failures for unit tests
  .github/workflows/ci.yml
  Makefile
  pkg/cli/compile_campaign_orchestrator_test.go
  pkg/cli/logs_parsing_test.go
  pkg/cli/mcp_add_test.go
  pkg/stringutil/identifiers.go
  pkg/stringutil/identifiers_test.go
  pkg/workflow/action_pins_test.go
  pkg/workflow/codex_engine_test.go
  pkg/workflow/compiler_safe_outputs_config.go
  pkg/workflow/compiler_test.go
  pkg/workflow/compute_text_lazy_test.go
  pkg/workflow/copilot_engine_test.go
  pkg/workflow/copilot_github_mcp_test.go
  pkg/workflow/copy_project_test.go
  pkg/workflow/custom_engine_test.go
  pkg/workflow/docker_predownload_test.go
  pkg/workflow/engine_helpers_github_test.go
  pkg/workflow/engine_includes_test.go
  pkg/workflow/error_message_quality_test.go
  pkg/workflow/expression_patterns_test.go
  pkg/workflow/expression_safety_test.go
  pkg/workflow/fetch_test.go
  pkg/workflow/github_lockdown_autodetect_test.go
  pkg/workflow/github_lockdown_integration_test.go
  pkg/workflow/github_remote_config_test.go
  pkg/workflow/github_remote_mode_test.go
  pkg/workflow/github_toolset_test.go
  pkg/workflow/mcp_config_test.go
  pkg/workflow/tools_parser.go
Due: none

chore: add temporary id helper
  actions/setup/js/assign_to_agent.cjs
  actions/setup/js/assign_to_agent.test.cjs
  actions/setup/js/collect_ndjson_output.test.cjs
  actions/setup/js/link_sub_issue.cjs
  actions/setup/js/link_sub_issue.test.cjs
  actions/setup/js/safe_output_type_validator.cjs
  actions/setup/js/temporary_id.cjs
  pkg/workflow/compiler_safe_outputs_specialized.go
  pkg/workflow/js/safe_outputs_tools.json
  pkg/workflow/safe_output_validation_config.go
Due: none

fix: update action pin SHAs and remove outdated tests
  .github/aw/actions-lock.json
  Makefile
  fails
  fails2
  log
  pkg/cli/templates/github-agentic-workflows.md
  pkg/workflow/data/action_pins.json
  pkg/workflow/maintenance_workflow_test.go
  pkg/workflow/mcp_auto_container_integration_test.go
  pkg/workflow/mcp_config_compilation_test.go
Due: none

fix up more tests
  pkg/workflow/mcp_config_copilot_test.go
Due: none

fix up more tests
  fails2
Due: none

fix: update MCP test expectations and remove outdated Playwright tests
  fails
  pkg/workflow/mcp_config_refactor_test.go
  pkg/workflow/mcp_config_shared_test.go
  pkg/workflow/mcp_renderer_test.go
Due: none

fix: update Safe Outputs and GitHub MCP tests to expect HTTP transport
  fails
  pkg/workflow/mcp_renderer_test.go
Due: none

fix: update GitHub MCP tests and ParseReactionValue for container format
  fails
  pkg/workflow/mcp_config_test.go
  pkg/workflow/reactions_test.go
Due: none

fix: update safe outputs and validation tests to match current implementation
  fails
  pkg/workflow/patch_artifact_download_verification_test.go
  pkg/workflow/prompts_test.go
  pkg/workflow/repo_memory_test.go
Due: none

Fix test-to-source ratio calculation to exclude tests from source LOC (#12373)
  .github/workflows/shared/metrics-patterns.md
Due: zizmor

fix: delete outdated runtime detection tests and update domain validation
  fails
  pkg/workflow/runtime_integration_test.go
  pkg/workflow/runtime_setup_test.go
  pkg/workflow/safe_outputs_domains_validation_test.go
Due: none

fix: update domain validation and safe outputs tools tests
  fails
  pkg/workflow/safe_outputs_domains_validation_test.go
  pkg/workflow/safe_outputs_tools_test.go
Due: none

fix: update sandbox agent tests to check for 'sudo -E awf' command
  fails
  pkg/workflow/sandbox_agent_false_test.go
  pkg/workflow/sandbox_agent_tools_default_test.go
Due: none

Add missing test patterns to CI - cover all 353 untested functions (#12371)
  .github/workflows/ci.yml
  scripts/extract-executed-tests.sh
Due: none
