Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

.pre-commit-config.yaml:

# Pre-commit hooks for gh-aw
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Security scanning with zizmor
      - id: zizmor
        name: zizmor security scan
        entry: zizmor
        language: system
        files: \.github/workflows/.*\.(lock\.yml|md)$
        pass_filenames: true
        description: Scan GitHub Actions workflows for security vulnerabilities
        
      # Workflow linting with actionlint
      - id: actionlint
        name: actionlint workflow linting
        entry: actionlint
        language: system
        files: \.github/workflows/.*\.lock\.yml$
        pass_filenames: true
        description: Lint GitHub Actions workflow files for best practices and errors
        
      # Shell script validation with shellcheck
      - id: shellcheck
        name: shellcheck shell script validation
        entry: shellcheck
        language: system
        files: \.(sh|bash)$
        types: [file, shell]
        description: Validate shell scripts for common issues and best practices

Remove old workflows
  .github/workflows/copilot-token-audit.lock.yml
  .github/workflows/copilot-token-audit.md
  .github/workflows/copilot-token-optimizer.lock.yml
  .github/workflows/copilot-token-optimizer.md
Due: zizmor, actionlint

Add updated workflows
  .github/workflows/copilot-token-audit.lock.yml
  .github/workflows/copilot-token-audit.md
  .github/workflows/copilot-token-optimizer.lock.yml
  .github/workflows/copilot-token-optimizer.md
Due: zizmor, actionlint

Remove cache option from Go setup step
  .github/workflows/copilot-setup-steps.yml
Due: none

Update README.md
  README.md
Due: none

feat: enhance OTLP telemetry
  .github/workflows/copilot-token-optimizer.lock.yml
  .github/workflows/copilot-token-optimizer.md
  .github/workflows/smoke-project.lock.yml
  actions/setup/js/send_otlp_span.cjs
  actions/setup/js/send_otlp_span.test.cjs
Due: zizmor, actionlint

Potential fix for pull request finding
  actions/setup/js/send_otlp_span.test.cjs
Due: none

Potential fix for pull request finding
  actions/setup/js/send_otlp_span.cjs
Due: none

feat: add error normalization
  actions/setup/js/send_otlp_span.cjs
Due: none

fix lint error
  actions/setup/js/send_otlp_span.cjs
Due: none

fix: improve error normalization
  actions/setup/js/send_otlp_span.cjs
Due: none

Update slides
  docs/slides/20260407-github-agentic-workflows.pdf
Due: none

feat: add otel-queries skill for efficient telemetry analysis
  .github/skills/agentic-workflows/SKILL.md
  .github/workflows/daily-grafana-otel-instrumentation-advisor.lock.yml
  .github/workflows/daily-grafana-otel-instrumentation-advisor.md
  .github/workflows/daily-otel-instrumentation-advisor.lock.yml
  .github/workflows/daily-otel-instrumentation-advisor.md
  .github/workflows/shared/otel-queries.md
  AGENTS.md
  skills/otel-queries/SKILL.md
Due: zizmor, actionlint

Potential fix for pull request finding
  .github/workflows/shared/otel-queries.md
Due: zizmor

Potential fix for pull request finding
  .github/skills/agentic-workflows/SKILL.md
Due: none

fix: pin issue arborist repo mind import
  .github/workflows/issue-arborist.lock.yml
  .github/workflows/issue-arborist.md
  pkg/workflow/label_names_test.go
Due: zizmor, actionlint

Add Dependabot Worker workflow for bundling PRs and regenerating manifests
  .github/dependabot.yml
  .github/workflows/dependabot-campaign.lock.yml
  .github/workflows/dependabot-campaign.md
  .github/workflows/dependabot-worker.lock.yml
  .github/workflows/dependabot-worker.md
Due: zizmor, actionlint

feat: add GHES-compatible artifact action versions via feature flag
  pkg/actionpins/data/action_pins.json
  pkg/constants/feature_constants.go
  pkg/workflow/action_pins.go
  pkg/workflow/action_pins_test.go
  pkg/workflow/compiler.go
Due: none

move skills to .github/skills folder
  .github/skills/console-rendering/SKILL.md
  .github/skills/custom-agents/SKILL.md
  .github/skills/developer/SKILL.md
  .github/skills/error-messages/SKILL.md
  .github/skills/error-pattern-safety/SKILL.md
  .github/skills/error-recovery-patterns/SKILL.md
  .github/skills/gh-agent-session/SKILL.md
  .github/skills/gh-agent-task/SKILL.md
  .github/skills/github-copilot-agent-tips-and-tricks/SKILL.md
  .github/skills/github-discussion-query/SKILL.md
  .github/skills/github-discussion-query/query-discussions.py
  .github/skills/github-discussion-query/query-discussions.sh
  .github/skills/github-issue-query/SKILL.md
  .github/skills/github-issue-query/query-issues.sh
  .github/skills/github-mcp-server/SKILL.md
  .github/skills/github-pr-query/SKILL.md
  .github/skills/github-pr-query/query-prs.sh
  .github/skills/github-script/SKILL.md
  .github/skills/http-mcp-headers/SKILL.md
  .github/skills/javascript-refactoring/SKILL.md
  .github/skills/messages/SKILL.md
  .github/skills/otel-queries/SKILL.md
  .github/skills/reporting/SKILL.md
  .github/skills/skillz-integration/SKILL.md
  .github/skills/temporary-id-safe-output/SKILL.md
  skills/documentation/SKILL.md
Due: none

feat: implement outcome evaluation for safe outputs
  .github/workflows/outcome-collector.lock.yml
  .github/workflows/outcome-collector.md
  actions/setup/js/assign_agent_helpers.test.cjs
  cmd/gh-aw/main.go
  pkg/cli/audit_report.go
  pkg/cli/init_test.go
  pkg/cli/logs_report.go
  pkg/cli/outcome_eval.go
  pkg/cli/outcome_eval_agent.go
  pkg/cli/outcome_eval_comment.go
  pkg/cli/outcome_eval_enrich.go
  pkg/cli/outcome_eval_enrich_test.go
  pkg/cli/outcome_eval_generic.go
  pkg/cli/outcome_eval_issue.go
  pkg/cli/outcome_eval_jsonl.go
  pkg/cli/outcome_eval_label.go
  pkg/cli/outcome_eval_pr.go
  pkg/cli/outcome_eval_test.go
  pkg/cli/outcomes_command.go
  pkg/workflow/data/ecosystem_domains.json
  specs/safe-output-outcome-evaluation.md
Due: zizmor, actionlint

Potential fix for pull request finding
  pkg/workflow/central_slash_command_workflow.go
Due: none

fix: install gh-aw cli in outcome collector
  .github/workflows/outcome-collector.lock.yml
  .github/workflows/outcome-collector.md
Due: zizmor, actionlint

refactor: streamline outcome evaluation process in outcome collector
  .github/workflows/outcome-collector.lock.yml
  .github/workflows/outcome-collector.md
Due: zizmor, actionlint

feat: implement outcome telemetry export and enrich spans with evaluation metrics
  .github/workflows/outcome-collector.lock.yml
  .github/workflows/outcome-collector.md
  actions/setup/js/assign_agent_helpers.test.cjs
  actions/setup/js/emit_outcome_spans.cjs
  actions/setup/js/send_otlp_span.cjs
Due: zizmor, actionlint

Potential fix for pull request finding
  actions/setup/js/emit_outcome_spans.cjs
Due: none

chore: update outcome collector
  .github/workflows/outcome-collector.lock.yml
  .github/workflows/outcome-collector.md
Due: zizmor, actionlint

fix: update issue arborist repo mind token
  .github/aw/imports/githubnext/repo-mind-light-aw/ca993f50371e3fc138e672335bfc5879e60f3e98/.github_workflows_shared_repo-mind-light.md
  .github/workflows/issue-arborist.lock.yml
  .github/workflows/issue-arborist.md
Due: zizmor, actionlint

fix: refresh issue arborist lock hash
  .github/workflows/issue-arborist.lock.yml
Due: zizmor, actionlint

fix: avoid issue arborist gh meta probe
  .github/workflows/daily-architecture-diagram.lock.yml
  .github/workflows/daily-architecture-diagram.md
  .github/workflows/issue-arborist.lock.yml
  .github/workflows/issue-arborist.md
Due: zizmor, actionlint

refactor: replace shell eval with node script
  .github/workflows/outcome-collector.lock.yml
  .github/workflows/outcome-collector.md
  actions/setup/js/evaluate_outcomes.cjs
Due: zizmor, actionlint

[WIP] [WIP] Address feedback: add instructions for new Go linters and update README (#31959)
  .github/skills/go-linters/SKILL.md
  README.md
Due: none

fix: broaden ARC/DinD detection to match any tcp:// DOCKER_HOST
  pkg/workflow/awf_helpers.go
  pkg/workflow/awf_helpers_test.go
  pkg/workflow/firewall_args_test.go
Due: none

Add smoke test workflow for OTLP telemetry export validation
  .github/workflows/shared/observability-otlp.md
  .github/workflows/smoke-otel.lock.yml
  .github/workflows/smoke-otel.md
Due: zizmor, actionlint

Add smoke test workflow for validating otel
  .github/workflows/smoke-otel-backends.lock.yml
  .github/workflows/smoke-otel-backends.md
Due: zizmor, actionlint

Potential fix for pull request finding
  .github/workflows/smoke-otel-backends.md
Due: zizmor

Update update_pull_request.cjs
  actions/setup/js/update_pull_request.cjs
Due: none

Restore issue arborist without Repo Mind Light
  .github/workflows/issue-arborist.lock.yml
  .github/workflows/issue-arborist.md
Due: zizmor, actionlint

Tighten compat matrix validator: schema if/then, semver, edge-case guards
  .github/aw/compat.schema.json
  .github/workflows/cgo.yml
Due: none
