Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

.pre-commit-config.yaml:

# Pre-commit hooks for gh-aw
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Security scanning with zizmor
      - id: zizmor
        name: zizmor security scan
        entry: zizmor
        language: system
        files: \.github/workflows/.*\.(lock\.yml|md)$
        pass_filenames: true
        description: Scan GitHub Actions workflows for security vulnerabilities
        
      # Workflow linting with actionlint
      - id: actionlint
        name: actionlint workflow linting
        entry: actionlint
        language: system
        files: \.github/workflows/.*\.lock\.yml$
        pass_filenames: true
        description: Lint GitHub Actions workflow files for best practices and errors
        
      # Shell script validation with shellcheck
      - id: shellcheck
        name: shellcheck shell script validation
        entry: shellcheck
        language: system
        files: \.(sh|bash)$
        types: [file, shell]
        description: Validate shell scripts for common issues and best practices

Validate drive-memory disk-size syntax at compile time and suggest 100M (#54831)
  .github/workflows/agentic_commands.yml
  .github/workflows/smoke-drive.lock.yml
  .github/workflows/smoke-drive.md
  docs/src/content/docs/reference/drive-memory.md
  docs/src/content/docs/reference/frontmatter-full.md
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/drive_memory_config.go
  pkg/workflow/drive_memory_test.go
  pkg/workflow/schemas/github-workflow.json
Due: zizmor, actionlint

Fix Dependabot ignores for gh-aw action subpaths (#54812)
  docs/src/content/docs/reference/compilation-process.md
  docs/src/content/docs/reference/dependabot.md
  docs/src/content/docs/reference/faq.md
  pkg/workflow/dependabot_reconcile.go
  pkg/workflow/dependabot_test.go
Due: none

Give stringbytesroundtrip.isExactString its own exactness logic (#54722)
  pkg/linters/stringbytesroundtrip/stringbytesroundtrip.go
  pkg/linters/stringbytesroundtrip/testdata/src/stringbytesroundtrip/stringbytesroundtrip.go
Due: none

Unify job-name normalizers and split grab-bag stringutil.go (#54702)
  pkg/cli/logs_report_test.go
  pkg/stringutil/README.md
  pkg/stringutil/identifiers.go
  pkg/stringutil/identifiers_test.go
  pkg/stringutil/spec_test.go
  pkg/stringutil/stringutil.go
  pkg/stringutil/stringutil_test.go
  pkg/stringutil/version.go
  pkg/stringutil/version_test.go
  pkg/stringutil/whitespace.go
  pkg/stringutil/whitespace_test.go
  pkg/workflow/compiler_safe_output_jobs.go
  pkg/workflow/repo_config.go
  pkg/workflow/repo_config_test.go
  pkg/workflow/safe_outputs_call_workflow_test.go
  pkg/workflow/strings.go
Due: none

Split threat_detection_test.go, copilot_engine_test.go, maintenance_workflow_test.go by functional area (#54681)
  pkg/workflow/copilot_engine_basic_test.go
  pkg/workflow/copilot_engine_commands_test.go
  pkg/workflow/copilot_engine_env_test.go
  pkg/workflow/copilot_engine_execution_test.go
  pkg/workflow/copilot_engine_harness_test.go
  pkg/workflow/copilot_engine_logs_test.go
  pkg/workflow/copilot_engine_sdk_test.go
  pkg/workflow/copilot_engine_test.go
  pkg/workflow/copilot_engine_tool_arguments_test.go
  pkg/workflow/maintenance_workflow_billing_test.go
  pkg/workflow/maintenance_workflow_cli_test.go
  pkg/workflow/maintenance_workflow_cron_test.go
  pkg/workflow/maintenance_workflow_jobs_test.go
  pkg/workflow/maintenance_workflow_labels_test.go
  pkg/workflow/maintenance_workflow_side_repo_test.go
  pkg/workflow/maintenance_workflow_test.go
  pkg/workflow/maintenance_workflow_test_helpers_test.go
  pkg/workflow/maintenance_workflow_triggers_test.go
  pkg/workflow/threat_detection_config_test.go
  pkg/workflow/threat_detection_engine_env_test.go
  pkg/workflow/threat_detection_engine_test.go
  pkg/workflow/threat_detection_external_detector_config_test.go
  pkg/workflow/threat_detection_external_detector_execution_test.go
  pkg/workflow/threat_detection_firewall_test.go
  pkg/workflow/threat_detection_job_runtime_test.go
  pkg/workflow/threat_detection_job_test.go
  pkg/workflow/threat_detection_steps_test.go
  pkg/workflow/threat_detection_test.go
Due: none

ci: resolve base commit so golangci-lint runs incrementally on PRs (#54844)
  .github/workflows/cgo.yml
Due: none

Compute orphan-rate baseline dynamically in copilot-session-insights (#54842)
  .github/workflows/copilot-session-insights.lock.yml
  .github/workflows/copilot-session-insights.md
Due: zizmor, actionlint

Refresh GitHub Actions schema and preserve drives permission (#54845)
  pkg/workflow/schema_validation_test.go
Due: none

Reuse shared workflow types for Copilot setup scaffolding (#54804)
  pkg/cli/copilot_setup.go
  pkg/cli/copilot_setup_test.go
  pkg/workflow/workflow_file.go
Due: none

Refactor overlong functions in pkg/console/progress.go and pkg/cli/mcp_tools_privileged.go (#54705)
  docs/adr/54705-extract-mcp-tool-handler-helpers-for-largefunc-compliance.md
  pkg/cli/mcp_tools_privileged.go
  pkg/cli/mcp_tools_privileged_test.go
  pkg/console/progress.go
Due: none

Harden setup JavaScript input and I/O boundaries (#54691)
  actions/setup/js/add_reaction_and_edit_comment.cjs
  actions/setup/js/add_reaction_and_edit_comment.test.cjs
  actions/setup/js/add_workflow_run_comment.cjs
  actions/setup/js/add_workflow_run_comment.test.cjs
  actions/setup/js/artifact_client.cjs
  actions/setup/js/awf_reflect.cjs
  actions/setup/js/check_daily_aic_workflow_guardrail.cjs
  actions/setup/js/check_rate_limit.cjs
  actions/setup/js/check_runs_helpers.cjs
  actions/setup/js/check_runs_helpers.test.cjs
  actions/setup/js/create_prompt.cjs
  actions/setup/js/data_schema_normalizer.cjs
  actions/setup/js/evaluate_outcomes.cjs
  actions/setup/js/exchange_otlp_workload_identity.cjs
  actions/setup/js/fuzz_template_substitution_harness.cjs
  actions/setup/js/generate_usage_activity_summary.cjs
  actions/setup/js/handle_noop_message.cjs
  actions/setup/js/memory_custom_validation.cjs
  actions/setup/js/notify_comment_error.cjs
  actions/setup/js/push_repo_memory.cjs
  actions/setup/js/safe-outputs-mcp-server.cjs
  pkg/workflow/js/exchange_otlp_workload_identity.cjs
Due: none

Centralize safe-output footer configuration (#54703)
  pkg/workflow/add_comment.go
  pkg/workflow/comment_memory.go
  pkg/workflow/comment_memory_config_test.go
  pkg/workflow/create_discussion.go
  pkg/workflow/create_issue.go
  pkg/workflow/create_pull_request.go
  pkg/workflow/reply_to_pr_review_comment.go
  pkg/workflow/safe_outputs_config_generation_test.go
  pkg/workflow/safe_outputs_config_types.go
  pkg/workflow/safe_outputs_footer_test.go
  pkg/workflow/submit_pr_review.go
  pkg/workflow/submit_pr_review_footer_test.go
  pkg/workflow/update_discussion.go
  pkg/workflow/update_entity_helpers.go
  pkg/workflow/update_issue.go
  pkg/workflow/update_pull_request.go
  pkg/workflow/update_release.go
Due: none

parser: adopt structured duplicate-name validation errors for inline skills and sub-agents (#54715)
  .github/workflows/ace-editor.lock.yml
  .github/workflows/blog-auditor.lock.yml
  .github/workflows/cli-consistency-checker.lock.yml
  .github/workflows/cli-version-checker.lock.yml
  .github/workflows/copilot-pr-merged-report.lock.yml
  .github/workflows/daily-team-evolution-insights.lock.yml
  .github/workflows/dev.lock.yml
  .github/workflows/example-permissions-warning.lock.yml
  .github/workflows/gpclean.lock.yml
  .github/workflows/mcp-inspector.lock.yml
  pkg/parser/inline_skill_extractor.go
  pkg/parser/inline_skill_extractor_test.go
  pkg/parser/sub_agent_extractor.go
  pkg/parser/sub_agent_extractor_test.go
  pkg/parser/validation_error.go
  pkg/validationerror/validationerror.go
  pkg/validationerror/validationerror_test.go
  pkg/workflow/compiler_error_formatting_test.go
  pkg/workflow/error_recovery_test.go
  pkg/workflow/workflow_errors.go
Due: zizmor, actionlint

Split CGO unit test matrix into 5 shards (#54848)
  .github/workflows/cgo.yml
Due: none

Refactor compiler job assembly (#54847)
  pkg/workflow/compiler_jobs.go
  pkg/workflow/evals_job_test.go
Due: none

Introduce a shared Finding/SeverityLevel type across scanner integrations (#54690)
  .github/workflows/cgo.yml
  docs/adr/54690-shared-scanfindings-type-for-scanner-integrations.md
  pkg/cli/audit_agent_output_test.go
  pkg/cli/audit_agentic_analysis.go
  pkg/cli/audit_report.go
  pkg/cli/audit_report_render.go
  pkg/cli/audit_report_test.go
  pkg/cli/grant.go
  pkg/cli/grype.go
  pkg/cli/poutine.go
  pkg/cli/poutine_test.go
  pkg/cli/runner_guard.go
  pkg/cli/validation_issue.go
  pkg/cli/validation_issue_test.go
  pkg/cli/yamllint.go
  pkg/cli/yamllint_test.go
  pkg/cli/zizmor.go
  pkg/scanfindings/README.md
  pkg/scanfindings/scanfindings.go
  pkg/scanfindings/scanfindings_test.go
  pkg/workflow/markdown_security_scanner.go
Due: none

Add initial deterministic trace grading framework (#54678)
  actions/setup/js/experiment_helpers.cjs
  actions/setup/js/experiment_helpers.test.cjs
  actions/setup/js/redact_secrets.cjs
  actions/setup/js/run_evals.cjs
  actions/setup/js/run_evals.test.cjs
  actions/setup/js/trace_graders.cjs
  actions/setup/js/trace_graders.test.cjs
  actions/setup/js/trace_graders_worker.cjs
  actions/setup/sh/prepare_threat_detection_files.sh
  docs/adr/54678-deterministic-trace-grading-framework.md
  docs/src/content/docs/experimental/experiments-specification.md
  docs/src/content/docs/experimental/experiments.md
  docs/src/content/docs/reference/trace-graders.md
  docs/src/content/docs/specs/graders-specification.md
  pkg/constants/job_constants.go
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/compiler_experiments.go
  pkg/workflow/compiler_experiments_test.go
  pkg/workflow/compiler_orchestrator_workflow.go
  pkg/workflow/compiler_validators.go
  pkg/workflow/compiler_yaml_artifacts.go
  pkg/workflow/compiler_yaml_graders.go
  pkg/workflow/compiler_yaml_post_agent.go
  pkg/workflow/frontmatter_types.go
  pkg/workflow/graders_config.go
  pkg/workflow/graders_config_test.go
  pkg/workflow/graders_experimental_warning_test.go
  pkg/workflow/graders_workflow_integration_test.go
  pkg/workflow/workflow_data.go
Due: none

Introduce typed enums for workflow fixed-value fields (#54803)
  pkg/workflow/awf_config.go
  pkg/workflow/central_slash_command_workflow.go
  pkg/workflow/compiler_activation_jobs_test.go
  pkg/workflow/compiler_reactions_numeric_test.go
  pkg/workflow/compiler_safe_outputs_test.go
  pkg/workflow/frontmatter_types.go
  pkg/workflow/implicit_string_enums_test.go
  pkg/workflow/label_command_test.go
  pkg/workflow/mcp_scripts_parser.go
  pkg/workflow/notify_comment_test.go
  pkg/workflow/reactions.go
  pkg/workflow/runner_config.go
  pkg/workflow/runner_config_test.go
  pkg/workflow/safe_outputs_config_global.go
  pkg/workflow/safe_outputs_config_types.go
  pkg/workflow/safe_outputs_validation.go
  pkg/workflow/trigger_parser.go
  pkg/workflow/workflow_data.go
Due: none

Document attestations, models, and secret-scanning-alerts permission scopes (#54856)
  docs/src/content/docs/reference/permissions.md
Due: none

Re-diagnose `q` workflow success rate as command gating, not execution failure (#54854)
  .github/workflows/agent-performance-analyzer.lock.yml
  .github/workflows/agent-performance-analyzer.md
  .github/workflows/smoke-drive.lock.yml
  .github/workflows/workflow-health-manager.lock.yml
  .github/workflows/workflow-health-manager.md
Due: zizmor, actionlint

Prevent `compute_text` log output from triggering GitHub Actions error annotations (#54870)
  actions/setup/js/compute_text.cjs
  actions/setup/js/compute_text.test.cjs
Due: none

Address daily SPDD spec compliance gaps (#54853)
  .github/workflows/daily-compiler-threat-spec-optimizer.lock.yml
  .github/workflows/daily-compiler-threat-spec-optimizer.md
  pkg/workflow/compiler_threat_optimizer_protocol_test.go
  specs/awf-config-sources-compliance/README.md
  specs/awf-config-sources-spec.md
  specs/compiler-threat-detection-compliance/README.md
  specs/compiler-threat-detection-spec.md
  specs/forecast-compliance-fixtures/README.md
Due: zizmor, actionlint

Add custom engine implementation skill (#54874)
  .github/skills/custom-engine-implementation/SKILL.md
  AGENTS.md
Due: none

Fix samples-mode replay: forward workflow input env vars and stop `server.error` crash (#54814)
  actions/setup/js/safe_outputs_config.cjs
  actions/setup/js/safe_outputs_config.test.cjs
  pkg/workflow/samples_replay.go
  pkg/workflow/samples_replay_test.go
Due: none

Instructions: prefer built-in `skills:`/`plugins:` frontmatter over on-the-fly installs (#54880)
  .github/aw/create-agentic-workflow.md
  .github/aw/designer.md
  .github/aw/skills.md
  .github/aw/update-agentic-workflow.md
  .github/skills/agentic-workflows/SKILL.md
  .github/skills/custom-agents/SKILL.md
Due: none

Add daily Primer-styled documentation diagram workflow (#54873)
  .github/workflows/daily-documentation-diagram.lock.yml
  .github/workflows/daily-documentation-diagram.md
Due: zizmor, actionlint

Add secret-scanning-alerts to workflow permissions schema (#54904)
  pkg/parser/schema_location_test.go
  pkg/parser/schemas/main_workflow_schema.json
Due: none

Unify safe-output outcome status enums (#54846)
  docs/adr/54846-unify-outcome-status-enum.md
  pkg/cli/outcome_domain_breakdown.go
  pkg/cli/outcome_domain_breakdown_test.go
  pkg/cli/outcome_eval.go
  pkg/cli/outcome_eval_agent.go
  pkg/cli/outcome_eval_comment.go
  pkg/cli/outcome_eval_formal_test.go
  pkg/cli/outcome_eval_generic.go
  pkg/cli/outcome_eval_issue.go
  pkg/cli/outcome_eval_jsonl.go
  pkg/cli/outcome_eval_label.go
  pkg/cli/outcome_eval_pr.go
  pkg/cli/outcome_eval_review.go
  pkg/cli/outcome_eval_test.go
  pkg/cli/outcome_eval_update.go
  pkg/cli/outcome_eval_update_test.go
  pkg/cli/outcome_eval_workflow.go
  pkg/cli/outcome_eval_workflow_test.go
  pkg/cli/outcome_evaluation.go
  pkg/cli/outcomes_command.go
Due: none

Unify create-* close-older fields via shared `CloseOlderConfig` embed (#54656)
  docs/adr/54656-unify-close-older-config-via-shared-embed.md
  pkg/workflow/compiler_safe_outputs_config_handlers_test.go
  pkg/workflow/compiler_safe_outputs_config_test.go
  pkg/workflow/create_close_older_config_test.go
  pkg/workflow/create_discussion.go
  pkg/workflow/create_entity_helpers.go
  pkg/workflow/create_issue.go
  pkg/workflow/create_pull_request.go
  pkg/workflow/safe_outputs_handler_registry.go
Due: none

Add shared long-horizon memory workflow (#54892)
  .github/workflows/shared/long-horizon-memory.md
Due: zizmor

Add open-pull-request skill proposal (#54922)
  .github/skills/open-pull-request/SKILL.md
Due: none

move reviwers to stable runtime
  .github/workflows/claude-code-user-docs-review.lock.yml
  .github/workflows/claude-code-user-docs-review.md
  .github/workflows/daily-pr-review-cursor.lock.yml
  .github/workflows/daily-pr-review-cursor.md
  .github/workflows/grumpy-reviewer.lock.yml
  .github/workflows/grumpy-reviewer.md
  .github/workflows/issue-monster.lock.yml
  .github/workflows/issue-monster.md
  .github/workflows/ponytail-reviewer.lock.yml
  .github/workflows/ponytail-reviewer.md
  .github/workflows/pr-code-quality-reviewer.lock.yml
  .github/workflows/pr-code-quality-reviewer.md
  .github/workflows/pr-nitpick-reviewer.lock.yml
  .github/workflows/pr-nitpick-reviewer.md
  .github/workflows/pr-sous-chef.lock.yml
  .github/workflows/pr-sous-chef.md
  .github/workflows/security-review.lock.yml
  .github/workflows/security-review.md
Due: zizmor, actionlint

Fix `--use-samples` replay for call/dispatch workflow tools and enable `replace-label` sample schema (#54813)
  actions/setup/js/safe_outputs_tools.json
  pkg/workflow/js/safe_outputs_tools.json
  pkg/workflow/samples_replay.go
  pkg/workflow/samples_validation_test.go
Due: none

fix tests for filesystem.allowWrite after firewall version revert to v0.28.4 (#54930)
  pkg/workflow/awf_config_test.go
  pkg/workflow/awf_feature_flags_test.go
Due: none
