Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

.pre-commit-config.yaml:

# Pre-commit hooks for gh-aw
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Security scanning with zizmor
      - id: zizmor
        name: zizmor security scan
        entry: zizmor
        language: system
        files: \.github/workflows/.*\.(lock\.yml|md)$
        pass_filenames: true
        description: Scan GitHub Actions workflows for security vulnerabilities
        
      # Workflow linting with actionlint
      - id: actionlint
        name: actionlint workflow linting
        entry: actionlint
        language: system
        files: \.github/workflows/.*\.lock\.yml$
        pass_filenames: true
        description: Lint GitHub Actions workflow files for best practices and errors
        
      # Shell script validation with shellcheck
      - id: shellcheck
        name: shellcheck shell script validation
        entry: shellcheck
        language: system
        files: \.(sh|bash)$
        types: [file, shell]
        description: Validate shell scripts for common issues and best practices

Add fuzz tests for processExpressions expression insertion combinations (#17365)
  .github/workflows/smoke-copilot-arm.lock.yml
  actions/setup/js/fuzz_runtime_import_expressions_harness.cjs
  actions/setup/js/fuzz_runtime_import_expressions_harness.test.cjs
Due: zizmor, actionlint

fix base ref
  .github/workflows/changeset.lock.yml
  .github/workflows/ci-coach.lock.yml
  .github/workflows/cloclo.lock.yml
  .github/workflows/code-scanning-fixer.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/craft.lock.yml
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-workflow-updater.lock.yml
  docs/src/content/docs/reference/frontmatter-full.md
  docs/src/content/docs/reference/glossary.md
  docs/src/content/docs/reference/safe-outputs.md
  pkg/workflow/compiler_safe_outputs_config.go
  pkg/workflow/compiler_safe_outputs_config_test.go
  pkg/workflow/compiler_safe_outputs_steps.go
  pkg/workflow/compiler_safe_outputs_steps_test.go
  pkg/workflow/create_agent_session.go
  pkg/workflow/create_pull_request.go
  pkg/workflow/create_pull_request_base_branch_integration_test.go
  scratchpad/safe-output-environment-variables.md
Due: zizmor, actionlint

fix base ref
  .github/workflows/developer-docs-consolidator.lock.yml
  .github/workflows/dictation-prompt.lock.yml
  .github/workflows/functional-pragmatist.lock.yml
  .github/workflows/github-mcp-tools-report.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/go-logger.lock.yml
  .github/workflows/hourly-ci-cleaner.lock.yml
  .github/workflows/instructions-janitor.lock.yml
  .github/workflows/jsweep.lock.yml
  .github/workflows/layout-spec-maintainer.lock.yml
  .github/workflows/mergefest.lock.yml
  .github/workflows/poem-bot.lock.yml
  .github/workflows/q.lock.yml
  .github/workflows/refiner.lock.yml
  .github/workflows/slide-deck-maintainer.lock.yml
  .github/workflows/smoke-claude.lock.yml
  .github/workflows/smoke-project.lock.yml
  .github/workflows/technical-doc-writer.lock.yml
  .github/workflows/test-create-pr-error-handling.lock.yml
  .github/workflows/tidy.lock.yml
  .github/workflows/ubuntu-image-analyzer.lock.yml
  .github/workflows/unbloat-docs.lock.yml
  .github/workflows/weekly-safe-outputs-spec-review.lock.yml
Due: zizmor, actionlint

fix docs
  docs/src/content/docs/reference/frontmatter-full.md
  scratchpad/safe-output-environment-variables.md
Due: none

fix mocks
  actions/setup/js/fuzz_runtime_import_expressions_harness.cjs
Due: none

recompile
  .github/workflows/smoke-multi-pr.lock.yml
Due: zizmor, actionlint

docs: document multiple create-pull-request support per run
  docs/src/content/docs/reference/safe-outputs.md
Due: none

Create *.instructions.md👋🏿
  .github/instructions/*.instructions.md👋🏿
Due: none

docs: hyphenate Ops pattern slugs and update cross-references
  .github/aw/create-agentic-workflow.md
  docs/astro.config.mjs
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-continuous-improvement.md
  docs/src/content/docs/blog/2026-01-27-operational-patterns.md
  docs/src/content/docs/examples/comment-triggered.md
  docs/src/content/docs/examples/issue-pr-events.md
  docs/src/content/docs/examples/multi-repo.md
  docs/src/content/docs/examples/multi-repo/feature-sync.md
  docs/src/content/docs/examples/multi-repo/issue-tracking.md
  docs/src/content/docs/examples/scheduled.md
  docs/src/content/docs/guides/ephemerals.md
  docs/src/content/docs/patterns/central-repo-ops.mdx
  docs/src/content/docs/patterns/chat-ops.md
  docs/src/content/docs/patterns/daily-ops.md
  docs/src/content/docs/patterns/data-ops.md
  docs/src/content/docs/patterns/dispatch-ops.md
  docs/src/content/docs/patterns/issue-ops.md
  docs/src/content/docs/patterns/label-ops.md
  docs/src/content/docs/patterns/multi-repo-ops.md
  docs/src/content/docs/patterns/project-ops.md
  docs/src/content/docs/patterns/side-repo-ops.mdx
  docs/src/content/docs/patterns/spec-ops.md
  docs/src/content/docs/patterns/task-ops.md
  docs/src/content/docs/patterns/trial-ops.md
  docs/src/content/docs/reference/faq.md
  docs/src/content/docs/reference/glossary.md
  docs/src/content/docs/reference/safe-outputs.md
  docs/src/content/docs/reference/triggers.md
Due: none

update link in agent instructions
  .github/aw/create-agentic-workflow.md
Due: none

test: Add smoke test push verification file for run 22253358202
  smoke-test-push-22253358202.md
Due: none

Refactor scout command inputs in workflow
  .github/workflows/scout.md
Due: zizmor

recompile
  .github/workflows/scout.lock.yml
  .github/workflows/scout.md
Due: zizmor, actionlint

increate scout timeout
  .github/workflows/scout.lock.yml
  .github/workflows/scout.md
Due: zizmor, actionlint

chore: update GitHub Actions versions (2026-02-21)
  .github/aw/actions-lock.json
Due: none

Add changeset [skip-ci]
  .changeset/patch-check-mcp-servers-tools-list.md
Due: none

test: Add smoke test file for run 22255965551
  tmp-smoke-test-22255965551.txt
Due: none

Add changeset [skip-ci]
  .changeset/patch-bump-claude-code-copilot-cli.md
Due: none

Add changeset [skip-ci]
  .changeset/patch-fix-mcp-handshake-readiness.md
Due: none

fix(parser): report all safe-output schema failure locations (#17480)
  pkg/parser/safe_outputs_error_location_test.go
  pkg/parser/schema_compiler.go
Due: none

.NET: Add missing new .slnx solution file
  .github/aw/create-agentic-workflow.md
  .github/aw/github-agentic-workflows.md
  .serena/project.yml
Due: none

improve add wizard
  pkg/cli/add_interactive_git.go
  pkg/cli/add_interactive_orchestrator.go
Due: none

improve updates
  .github/workflows/ci.yml
  docs/src/content/docs/guides/packaging-imports.md
  docs/src/content/docs/setup/cli.md
  pkg/cli/update_command.go
  pkg/cli/update_command_test.go
  pkg/cli/update_git.go
  pkg/cli/update_integration_test.go
  pkg/cli/update_workflows.go
  pkg/cli/upgrade_command.go
Due: none

improve updates
  pkg/cli/update_command_test.go
Due: none

update for code review
  .github/workflows/ci.yml
  pkg/cli/update_command_test.go
  pkg/cli/update_git.go
  pkg/cli/update_integration_test.go
  pkg/cli/update_workflows.go
Due: none

fix push to pull request comment addition
  actions/setup/js/push_to_pull_request_branch.cjs
  actions/setup/js/update_activation_comment.cjs
  actions/setup/js/update_activation_comment.test.cjs
Due: none

fix push to pull request comment addition
  actions/setup/js/update_activation_comment.test.cjs
Due: none

Add changeset [skip-ci]
  .changeset/patch-safe-output-code-push-fail-fast.md
Due: none

test: Add smoke test file for run 22262086355
  smoke-test-pr-push-22262086355.json
Due: none

feat: update smoke-gemini workflow to include reaction and adjust model handling
  .github/workflows/smoke-gemini.lock.yml
  .github/workflows/smoke-gemini.md
Due: zizmor, actionlint

[WIP] Add automated weekly checks for workflow editors (#17591)
  .github/workflows/weekly-editors-health-check.lock.yml
  .github/workflows/weekly-editors-health-check.md
Due: zizmor, actionlint

[WIP] Fix weekly workflow editor checks (#17590)
  .github/workflows/weekly-editors-health-check.lock.yml
  .github/workflows/weekly-editors-health-check.md
Due: zizmor, actionlint

Update metadata hash in weekly editors health check workflow
  .github/workflows/weekly-editors-health-check.lock.yml
Due: zizmor, actionlint

docs: unbloat dispatch-ops by condensing bullet lists and thin sections
  docs/src/content/docs/patterns/dispatch-ops.md
Due: none

jsweep: clean add_copilot_reviewer.cjs
  actions/setup/js/add_copilot_reviewer.cjs
  actions/setup/js/add_copilot_reviewer.test.cjs
Due: none

[WIP] Lint Go code for code quality (#17646)
  pkg/workflow/test_helpers_shared_test.go
Due: none

Fix codemod count/order tests after playwright-allowed-domains-migration addition (#17648)
  pkg/cli/fix_codemods_test.go
Due: none

Update frontmatter.md
  docs/src/content/docs/reference/frontmatter.md
Due: none
