Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

.pre-commit-config.yaml:

# Pre-commit hooks for gh-aw
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Security scanning with zizmor
      - id: zizmor
        name: zizmor security scan
        entry: zizmor
        language: system
        files: \.github/workflows/.*\.(lock\.yml|md)$
        pass_filenames: true
        description: Scan GitHub Actions workflows for security vulnerabilities
        
      # Workflow linting with actionlint
      - id: actionlint
        name: actionlint workflow linting
        entry: actionlint
        language: system
        files: \.github/workflows/.*\.lock\.yml$
        pass_filenames: true
        description: Lint GitHub Actions workflow files for best practices and errors
        
      # Shell script validation with shellcheck
      - id: shellcheck
        name: shellcheck shell script validation
        entry: shellcheck
        language: system
        files: \.(sh|bash)$
        types: [file, shell]
        description: Validate shell scripts for common issues and best practices

fix(setup): validate plural gateway agent IDs (#57996)
  actions/setup/js/start_mcp_gateway.cjs
  actions/setup/js/start_mcp_gateway.test.cjs
  actions/setup/sh/start_mcp_gateway.sh
  actions/setup/sh/start_mcp_gateway_test.sh
Due: none

Add first-class Linear MCP tools (#57874)
  .changeset/minor-add-linear-tools.md
  docs/public/editor/autocomplete-data.json
  docs/src/content/docs/reference/frontmatter-full.md
  docs/src/content/docs/reference/tools.md
  pkg/cli/mcp_validation.go
  pkg/constants/tool_constants.go
  pkg/parser/linear_toolsets.go
  pkg/parser/linear_toolsets_test.go
  pkg/parser/mcp.go
  pkg/parser/mcp_linear_test.go
  pkg/parser/schema_errors.go
  pkg/parser/schema_errors_test.go
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/compiler_orchestrator_tools.go
  pkg/workflow/linear_tool.go
  pkg/workflow/linear_tool_test.go
  pkg/workflow/mcp_config_validation.go
  scripts/generate-schema-docs.js
  scripts/generate-schema-docs.test.js
Due: none

fix(compiler): normalize gateway policy server IDs
  pkg/workflow/enclave_github_proxy_test.go
  pkg/workflow/mcp_gateway_config.go
Due: none

fix(compiler): defer shared enclave backends
  pkg/workflow/enclave_github_proxy_test.go
  pkg/workflow/enclaves.go
  pkg/workflow/enclaves_test.go
  pkg/workflow/mcp_setup_generator.go
Due: none

fix(compiler): hand gateway key to enclave host
  actions/setup/js/start_mcp_gateway.cjs
  actions/setup/js/start_mcp_gateway.test.cjs
  actions/setup/sh/start_mcp_gateway.sh
  actions/setup/sh/start_mcp_gateway_test.sh
  pkg/workflow/awf_env.go
  pkg/workflow/copilot_engine_execution.go
  pkg/workflow/enclave_github_proxy_test.go
Due: none

Import concurrency job discriminator from shared workflows (#57978)
  docs/src/content/docs/reference/concurrency.md
  pkg/constants/constants.go
  pkg/parser/frontmatter_utils_test.go
  pkg/parser/import_field_extractor.go
  pkg/parser/import_field_extractor_test.go
  pkg/parser/import_processor.go
  pkg/parser/import_remote_nested_test.go
  pkg/parser/remote_path_predicates.go
  pkg/parser/schema_location_test.go
  pkg/parser/schema_validation.go
  pkg/workflow/compiler_orchestrator_workflow.go
  pkg/workflow/concurrency_import_test.go
  pkg/workflow/workflow_builder.go
Due: none

Import and merge on.bots from shared workflows (#57968)
  docs/adr/57968-import-bot-allowlists-from-on-bots.md
  pkg/cli/codemod_bots.go
  pkg/cli/codemod_bots_test.go
  pkg/parser/import_field_extractor.go
  pkg/parser/schema_test.go
  pkg/workflow/bots_test.go
  pkg/workflow/role_checks_test.go
Due: none

Add integrity and MCP metrics to conclusion usage reporting (#58018)
  .changeset/minor-conclusion-integrity-mcp-metrics.md
  actions/setup/js/generate_usage_activity_summary.cjs
  actions/setup/js/generate_usage_activity_summary.test.cjs
  actions/setup/js/send_otlp_span.cjs
  actions/setup/js/send_otlp_span.test.cjs
  docs/adr/58018-add-integrity-and-mcp-metrics-to-conclusion-usage-reporting.md
  docs/src/content/docs/reference/artifacts.md
  docs/src/content/docs/reference/open-telemetry-attributes.mdx
  pkg/cli/audit_report.go
  pkg/cli/gateway_logs_rpc_result_test.go
  pkg/cli/gateway_logs_types.go
  pkg/cli/logs_mcp_tool_usage_test.go
  pkg/cli/logs_models.go
  pkg/cli/logs_report_mcp.go
  pkg/cli/logs_run_processor.go
  pkg/cli/logs_usage_activity.go
  pkg/cli/logs_usage_activity_test.go
Due: none

Block advisory-affected gh-aw releases (#58029)
  .github/aw/compat.json
  .github/aw/compat.md
Due: none

Add A/B experiment for rendering verifier prompt context (#58037)
  .github/skills/agentic-workflows/SKILL.md
  .github/workflows/daily-rendering-scripts-verifier.lock.yml
  .github/workflows/daily-rendering-scripts-verifier.md
Due: zizmor, actionlint

[WIP] Fix failing GitHub Actions job Integration: Workflow Misc Part 2 (#58044)
  pkg/constants/constants.go
  pkg/parser/schema_validation.go
  pkg/workflow/features_import_test.go
  pkg/workflow/imported_engine_auth_integration_test.go
Due: none

[WIP] Fix failing GitHub Actions job for unit tests (D-G) (#58049)
  pkg/cli/data/agentic_workflows_fallback_aw_files.json
Due: none

Add API and storage budgets to logs downloads (#58022)
  .changeset/minor-logs-resource-budgets.md
  docs/adr/58022-add-resource-budgets-to-logs-downloads.md
  pkg/cli/logs_command.go
  pkg/cli/logs_command_test.go
  pkg/cli/logs_models.go
  pkg/cli/logs_multi.go
  pkg/cli/logs_multi_test.go
  pkg/cli/logs_orchestrator.go
  pkg/cli/logs_orchestrator_download.go
  pkg/cli/logs_orchestrator_render.go
  pkg/cli/logs_orchestrator_stdin.go
  pkg/cli/logs_orchestrator_test.go
  pkg/cli/logs_orchestrator_types.go
  pkg/cli/logs_orchestrator_unit_test.go
  pkg/cli/logs_rate_limit.go
  pkg/cli/logs_rate_limit_test.go
  pkg/cli/logs_report.go
  pkg/cli/logs_run_processor.go
  pkg/cli/logs_storage_limit.go
  pkg/cli/logs_storage_limit_test.go
  pkg/cli/logs_timeout_test.go
  pkg/cli/mcp_tools_privileged.go
Due: none

Stop suggesting redundant Playwright CLI mode (#58041)
  .changeset/patch-playwright-cli-only-guidance.md
  .github/aw/playwright.md
  .github/aw/syntax-tools-imports.md
  .github/workflows/shared/docs-server-lifecycle.md
  docs/src/content/docs/engines/pi.md
  docs/src/content/docs/reference/playwright.md
  pkg/workflow/playwright_cli.go
  pkg/workflow/playwright_validation.go
  pkg/workflow/playwright_validation_test.go
Due: zizmor

Prevent PR body injection during transfer (#58034)
  pkg/cli/pr_command.go
  pkg/cli/pr_command_integration_test.go
  pkg/cli/pr_command_test.go
Due: none

fix(compiler): normalize gateway policy server IDs (#58023)
  actions/setup/js/start_mcp_gateway.cjs
  actions/setup/js/start_mcp_gateway.test.cjs
  actions/setup/sh/start_mcp_gateway.sh
  actions/setup/sh/start_mcp_gateway_test.sh
  pkg/workflow/awf_env.go
  pkg/workflow/copilot_engine_execution.go
  pkg/workflow/enclave_github_proxy_test.go
  pkg/workflow/mcp_gateway_config.go
  pkg/workflow/mcp_setup_generator.go
Due: none

Restore MicroVM and ARC runner cards on homepage (#58054)
  .github/workflows/docs-noob-tester.lock.yml
  docs/src/content/docs/index.mdx
Due: zizmor, actionlint

feat(manifest): add optional icon field supporting emoji, octicon, and SVG resources (#58047)
  docs/src/content/docs/reference/aw-yml-package-manifest.md
  docs/src/content/docs/specs/repository-package-manifest-specification.md
  go.mod
  pkg/cli/add_package_manifest.go
  pkg/cli/add_package_manifest_parse.go
  pkg/cli/add_package_manifest_resolve.go
  pkg/cli/add_package_manifest_test.go
  pkg/cli/add_workflow_resolution.go
  pkg/parser/schemas/aw_manifest_schema.json
Due: none

Harden Windows Defender release scans
  .github/workflows/daily-windows-defender-scan.lock.yml
  .github/workflows/daily-windows-defender-scan.md
  .github/workflows/release.lock.yml
  .github/workflows/release.md
Due: zizmor, actionlint

Clarify warning for non-builtin handlers in samples replay
  docs/src/content/docs/experimental/safe-outputs-samples.md
Due: none

Add warning for missing samples in safe output
  .changeset/warn-missing-samples-coverage.md
Due: none

Fix call_workflow samples replay dropping workflow_name during ingestion (#58113)
  .github/workflows/smoke-call-workflow.lock.yml
  actions/setup/js/collect_ndjson_output.test.cjs
  pkg/workflow/safe_output_validation_config_test.go
  pkg/workflow/safe_outputs_validation_config.go
Due: zizmor, actionlint

Warn when samples replay has no coverage; add replace-label sample to E2E workflow (#58112)
  .changeset/warn-missing-samples-coverage.md
  docs/adr/58112-warn-on-missing-samples-replay-coverage.md
  docs/src/content/docs/experimental/safe-outputs-samples.md
  pkg/cli/workflows/test-copilot-replace-label.md
  pkg/workflow/compiler_validators.go
  pkg/workflow/samples_replay.go
  pkg/workflow/samples_replay_test.go
Due: none

Bump Agentic Workflow Firewall to v0.28.13 (#58103)
  .changeset/bump-firewall-v0-28-13.md
  .github/aw/actions-lock.json
  pkg/actionpins/data/action_pins.json
  pkg/constants/version_constants.go
  pkg/workflow/awf_config.go
  pkg/workflow/awf_config_build.go
  pkg/workflow/awf_config_test.go
  pkg/workflow/awf_feature_flags.go
  pkg/workflow/awf_feature_flags_test.go
  pkg/workflow/data/action_pins.json
  pkg/workflow/schemas/awf-config.schema.json
Due: none

Add recursive package manifest imports (#58233)
  docs/src/content/docs/reference/aw-yml-package-manifest.md
  docs/src/content/docs/specs/repository-package-manifest-specification.md
  pkg/cli/add_package_manifest_imports.go
  pkg/cli/add_package_manifest_imports_test.go
  pkg/cli/add_package_manifest_includes.go
  pkg/cli/add_package_manifest_parse.go
  pkg/cli/add_package_manifest_resolve.go
  pkg/cli/add_workflow_resolution.go
  pkg/cli/compile_repository_manifest.go
  pkg/parser/schemas/aw_manifest_schema.json
Due: none

Harden Windows Defender release scans (#58115)
  .github/workflows/daily-windows-defender-scan.lock.yml
  .github/workflows/daily-windows-defender-scan.md
  .github/workflows/release.lock.yml
  .github/workflows/release.md
Due: zizmor, actionlint

Add pre-release auto-upgrade options (#58266)
  .changeset/patch-auto-upgrade-options.md
  .github/workflows/agentic-auto-upgrade.yml
  .github/workflows/aw.json
  actions/setup/js/run_operation_update_upgrade.cjs
  actions/setup/js/run_operation_update_upgrade.test.cjs
  pkg/parser/schemas/repo_config_schema.json
  pkg/workflow/auto_update_workflow.go
  pkg/workflow/auto_update_workflow_test.go
  pkg/workflow/maintenance_workflow.go
  pkg/workflow/repo_config.go
  pkg/workflow/repo_config_test.go
Due: none

Fix zero-valued input defaults (#58291)
  .github/workflows/smoke-workflow-call-with-inputs.lock.yml
  .github/workflows/smoke-workflow-call-with-inputs.md
  actions/setup/js/collect_ndjson_output.cjs
  actions/setup/js/collect_ndjson_output.test.cjs
Due: zizmor, actionlint

Fix root-relative workflow paths in imported local manifests (#58317)
  pkg/cli/add_package_manifest_imports_test.go
  pkg/cli/add_workflow_resolution.go
  pkg/cli/compile_repository_manifest.go
  pkg/cli/compile_repository_manifest_test.go
Due: none

Generate DIFC policies for GitHub App workflows (#58302)
  .github/aw/debug-agentic-workflow.md
  .github/aw/github-mcp-server.md
  pkg/workflow/github_mcp_app_token_test.go
  pkg/workflow/mcp_github_config.go
  pkg/workflow/mcp_renderer_github.go
  pkg/workflow/non_github_mcp_guard_policy_test.go
Due: none

Prevent custom agent propagation to evals jobs (#58314)
  .github/workflows/archie.lock.yml
  .github/workflows/contribution-check.lock.yml
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/technical-doc-writer.lock.yml
  pkg/workflow/evals_steps.go
  pkg/workflow/evals_steps_test.go
Due: zizmor, actionlint

Fix Pi Anthropic routing through the firewall (#58313)
  actions/setup/js/pi_models_json.cjs
  actions/setup/js/pi_models_json.test.cjs
  actions/setup/js/pi_provider.cjs
  actions/setup/js/pi_provider.test.cjs
Due: none

Disable OTLP export when authorization secrets are empty (#58312)
  actions/setup/js/action_setup_otlp.cjs
  actions/setup/js/action_setup_otlp.test.cjs
  actions/setup/js/send_otlp_span.cjs
  actions/setup/js/send_otlp_span.test.cjs
Due: none

[WIP] Fix failing GitHub Actions job impacted-go-tests (#58325)
  pkg/cli/compile_pipeline.go
  pkg/cli/compile_post_processing.go
  pkg/workflow/dependabot.go
  pkg/workflow/dependabot_manifests.go
  pkg/workflow/dependabot_test.go
  pkg/workflow/dependabot_wasm.go
Due: none

Fix zizmor 1.29 finding path parsing (#58339)
  pkg/cli/zizmor.go
  pkg/cli/zizmor_test.go
Due: none

Refresh CI Doctor source revision (#58341)
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/ci-doctor.md
Due: zizmor, actionlint

Add daily Linear and Jira smoke issues workflow (#58320)
  .github/aw/safe-outputs-content.md
  .github/workflows/smoke-issues.lock.yml
  .github/workflows/smoke-issues.md
  actions/setup/js/linear_create_issue.cjs
  actions/setup/js/linear_safe_outputs.test.cjs
  actions/setup/js/redact_secrets.cjs
  actions/setup/js/redact_secrets.test.cjs
  actions/setup/js/safe_outputs_tools.json
  docs/src/content/docs/reference/frontmatter-full.md
  docs/src/content/docs/reference/safe-outputs.md
  docs/src/content/docs/specs/safe-outputs-specification.md
  pkg/constants/tool_constants.go
  pkg/parser/schema_linear_safe_outputs_test.go
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/compiler_safe_outputs_job.go
  pkg/workflow/jira.go
  pkg/workflow/jira_test.go
  pkg/workflow/js/safe_outputs_tools.json
  pkg/workflow/linear_safe_outputs.go
  pkg/workflow/linear_safe_outputs_test.go
  pkg/workflow/safe_outputs_env.go
  pkg/workflow/safe_outputs_handler_registry_linear.go
  pkg/workflow/safe_outputs_test.go
Due: zizmor, actionlint
