Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

zizmor:
  name: zizmor security scan
  entry: zizmor
  language: system
  pass_filenames: true
  description: Scan GitHub Actions workflows for security vulnerabilities

actionlint:
  name: actionlint workflow linting
  entry: actionlint
  language: system
  pass_filenames: true
  description: Lint GitHub Actions workflow files for best practices and errors

fix: update test expectations to match current implementation
  fails
  pkg/workflow/sandbox_custom_agent_test.go
  pkg/workflow/sandbox_experimental_warning_test.go
  pkg/workflow/sandbox_mounts_test.go
  pkg/workflow/sandbox_test.go
Due: none

test fixes and enable ci failures for unit tests
  cmd/gh-aw/capitalization_test.go
  cmd/gh-aw/short_description_test.go
  cmd/gh-aw/version_test.go
  log
  pkg/campaign/project_test.go
Due: none

Add canary_go job to agent-ci.yml to detect untested Go functions (#12353)
  .github/workflows/agent-ci.yml
  .github/workflows/ci-coach.md
  scripts/compare-test-coverage.sh
  scripts/extract-executed-tests.sh
  scripts/list-all-tests.sh
Due: zizmor

docs: Document agent container build/test environment from epic #11970 (#12375)
  docs/src/content/docs/agent-factory-status.mdx
  docs/src/content/docs/reference/sandbox.md
  pkg/cli/templates/github-agentic-workflows.md
Due: none

Rename CI workflow and simplify triggers
  .github/workflows/agent-ci.yml
Due: none

Add expires support for create-pull-request safe-outputs (#12344)
  .changeset/patch-add-pr-expires.md
  .github/workflows/agentics-maintenance.yml
  .github/workflows/ci-coach.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-doc-updater.md
  .github/workflows/daily-workflow-updater.lock.yml
  .github/workflows/daily-workflow-updater.md
  .github/workflows/dev.lock.yml
  .github/workflows/dev.md
  .github/workflows/slide-deck-maintainer.lock.yml
  actions/setup/js/close_expired_pull_requests.cjs
  actions/setup/js/close_expired_pull_requests.test.cjs
  actions/setup/js/create_pull_request.cjs
  pkg/workflow/maintenance_workflow.go
  pkg/workflow/safe_outputs_config_generation.go
  pkg/workflow/safe_outputs_config_generation_helpers.go
Due: zizmor, actionlint

perf: reduce test execution time by reducing redundant test cases
  cli_tests.log
  fails
  fails2
  pkg/cli/remove_command_test.go
  pkg/cli/update_command_test.go
  pkg/cli/upgrade_command_test.go
  pkg/cli/workflow_dir_test.go
  pkg/workflow/mcp_auto_container_test.go
  pkg/workflow/runtime_integration_test.go
  pkg/workflow/team_member_test.go
  pkg/workflow/threat_detection_isolation_test.go
  pkg/workflow/tools_timeout_validation_test.go
  pkg/workflow/tracker_id_integration_test.go
  pkg/workflow/trial_mode_test.go
  pkg/workflow/trigger_shorthand_integration_test.go
  pkg/workflow/update_project_handler_config_test.go
  pkg/workflow/workflow_dispatch_inputs_test.go
Due: none

fix more unit tests
  .github/workflows/release.lock.yml
  .github/workflows/security-alert-burndown.lock.yml
  log
  pkg/cli/add_current_repo_test.go
  pkg/cli/mcp_server_inspect_test.go
  pkg/cli/update_command_test.go
  pkg/workflow/tracker_id_integration_test.go
  pkg/workflow/workflow_dispatch_inputs_test.go
Due: zizmor, actionlint

fix more tests and improve test time
  .github/aw/actions-lock.json
  .github/workflows/ci-coach.lock.yml
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-workflow-updater.lock.yml
  .github/workflows/dev.lock.yml
  fails2
  log
  pkg/cli/add_current_repo_test.go
  pkg/cli/logs_orchestrator_test.go
  pkg/cli/run_workflow_execution_test.go
  pkg/cli/upgrade_command_test.go
Due: zizmor, actionlint

ci-coach: Add test integrity safeguards and canary job integration (#12406)
  .github/workflows/ci-coach.lock.yml
  .github/workflows/ci-coach.md
  .github/workflows/dev.lock.yml
  specs/artifacts.md
Due: zizmor, actionlint

Create smoke test workflow to validate common development tool availability (#12383)
  .github/workflows/smoke-test-tools.lock.yml
  .github/workflows/smoke-test-tools.md
  specs/agent-container-testing.md
Due: zizmor, actionlint

fix more unit tests
  pkg/cli/run_push_integration_test.go
Due: none

fix more unit tests
  .github/workflows/smoke-test-tools.lock.yml
  pkg/workflow/allowed_domains_sanitization_test.go
  pkg/workflow/cache_memory_threat_detection_test.go
  pkg/workflow/checkout_optimization_test.go
  pkg/workflow/compiler_customsteps_test.go
  pkg/workflow/container_services_test.go
  pkg/workflow/docker_predownload_test.go
  pkg/workflow/environment_test.go
  pkg/workflow/local_action_permissions_test.go
  pkg/workflow/mcp_safe_inputs_conditional_test.go
  pkg/workflow/pr_ready_for_review_checkout_test.go
  pkg/workflow/sandbox_experimental_warning_test.go
  pkg/workflow/trial_mode_test.go
  pkg/workflow/trigger_shorthand_integration_test.go
  pkg/workflow/workflow_dispatch_inputs_test.go
  pkg/workflow/workflow_run_repo_safety_test.go
Due: zizmor, actionlint

fix more unit tests
  log
Due: none

fix more unit tests
  cli_tests.log
  fails
  fails2
Due: none

mark more integration tests
  pkg/cli/commands_compile_workflow_test.go
  pkg/cli/commands_test.go
  pkg/cli/compile_dependabot_test.go
  pkg/cli/mcp_workflow_scanner_test.go
  pkg/cli/status_command_test.go
  pkg/cli/workflow_dir_test.go
Due: none

mark more integration tests
  pkg/workflow/agent_job_id_test.go
  pkg/workflow/compiler_compilation_test.go
  pkg/workflow/create_issue_group_test.go
  pkg/workflow/domains_protocol_integration_test.go
  pkg/workflow/forbidden_fields_import_test.go
  pkg/workflow/max_turns_test.go
  pkg/workflow/max_turns_validation_test.go
  pkg/workflow/permissions_shortcut_included_test.go
  pkg/workflow/permissions_warning_test.go
  pkg/workflow/playwright_mcp_integration_test.go
  pkg/workflow/task_job_generation_fix_test.go
  pkg/workflow/tracker_id_integration_test.go
Due: none

fix more unit tests
  pkg/workflow/activation_checkout_test.go
  pkg/workflow/artifact_manager_integration_test.go
  pkg/workflow/aw_info_steps_test.go
  pkg/workflow/cache_memory_integration_test.go
  pkg/workflow/compiler_cache_test.go
  pkg/workflow/compiler_expression_size_test.go
  pkg/workflow/compiler_timeout_default_test.go
  pkg/workflow/patch_size_validation_test.go
  pkg/workflow/playwright_allowed_domains_secrets_test.go
Due: none

fix more unit tests
  pkg/cli/compile_dir_flag_test.go
  pkg/workflow/action_sha_checker_integration_test.go
  pkg/workflow/activation_outputs_always_declared_test.go
  pkg/workflow/agentic_workflows_permission_test.go
  pkg/workflow/cache_memory_restore_only_test.go
  pkg/workflow/compiler_file_size_test.go
  pkg/workflow/compiler_forks_test.go
  pkg/workflow/create_issue_assignees_integration_test.go
  pkg/workflow/github_lockdown_autodetect_test.go
  pkg/workflow/mcp_http_url_validation_test.go
  pkg/workflow/permissions_import_test.go
  pkg/workflow/repository_features_validation_test.go
  pkg/workflow/sandbox_agent_false_test.go
  pkg/workflow/step_summary_test.go
  pkg/workflow/strict_mode_deprecated_test.go
  pkg/workflow/trial_issue_mode_test.go
Due: none

better guidance
  AGENTS.md
  pkg/workflow/jobs_secrets_validation_test.go
  pkg/workflow/project_safe_outputs_test.go
  pkg/workflow/runtime_import_checkout_test.go
  pkg/workflow/security_regression_test.go
Due: none

missing files
  pkg/cli/test_helpers_git_test.go
  pkg/workflow/test_helpers_shared_test.go
Due: none

Add markdown formatting guidelines to daily-copilot-token-report workflow (#12423)
  .github/aw/actions-lock.json
  .github/workflows/ci-coach.lock.yml
  .github/workflows/daily-copilot-token-report.lock.yml
  .github/workflows/daily-copilot-token-report.md
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-workflow-updater.lock.yml
  .github/workflows/dev.lock.yml
  .github/workflows/release.lock.yml
  .github/workflows/security-alert-burndown.lock.yml
  .github/workflows/smoke-test-tools.lock.yml
  pkg/workflow/data/action_pins.json
Due: zizmor, actionlint

missing files
  pkg/cli/jq_integration_test.go
  pkg/cli/mcp_server_compile_test.go
Due: none

Docs: Update schema count after included_file_schema consolidation (#12424)
  specs/schema-validation.md
Due: none

fixing tests
  pkg/cli/mcp_server_fix_test.go
  pkg/cli/mcp_server_operations_test.go
Due: none

Add autofix-code-scanning-alert documentation to safe-outputs reference (#12422)
  docs/src/content/docs/reference/safe-outputs.md
Due: none

fix tests
  .github/aw/actions-lock.json
  pkg/cli/mcp_server_fix_test.go
  pkg/workflow/data/action_pins.json
  specs/layout.md
Due: none

fix tests
  pkg/cli/mcp_server_add_test.go
  pkg/cli/mcp_server_error_codes_test.go
  pkg/cli/mcp_server_inspect_test.go
  pkg/cli/mcp_server_json_integration_test.go
Due: none

fix tests
  .github/workflows/ci.yml
Due: none

fix tests
  pkg/cli/jq_integration_test.go
  pkg/cli/mcp_server_compile_test.go
  pkg/cli/mcp_server_error_codes_test.go
  pkg/cli/mcp_server_operations_test.go
  pkg/cli/mcp_server_tools_test.go
Due: none

Fix marketing language in mdflow.md and update dev.md version
  scratchpad/dev.md
  scratchpad/mdflow.md
Due: none

Add changeset [skip-ci]
  .changeset/patch-consolidate-awf-command.md
Due: none

Add changeset [skip-ci]
  .changeset/patch-remove-srt-support.md
Due: none

Add changeset [skip-ci]
  .changeset/patch-enforce-safe-output-max-limits.md
Due: none

Clean is_truthy.test.cjs
  actions/setup/js/is_truthy.test.cjs
Due: none

Path conditions:
  zizmor: any of: \.github/workflows/.*\.(lock\.yml|md)$
  actionlint: any of: \.github/workflows/.*\.lock\.yml$
