Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

zizmor:
  name: zizmor security scan
  entry: zizmor
  language: system
  pass_filenames: true
  description: Scan GitHub Actions workflows for security vulnerabilities

actionlint:
  name: actionlint workflow linting
  entry: actionlint
  language: system
  pass_filenames: true
  description: Lint GitHub Actions workflow files for best practices and errors

Unbloat Security Architecture documentation
  docs/src/content/docs/introduction/architecture.mdx
Due: none

Clarify 'inputs:' field usage in custom safe-outputs
  docs/src/content/docs/guides/custom-safe-outputs.md
Due: none

Update smoke-Claude to import go-make shared workflow (#11513)
  .changeset/patch-update-smoke-claude-import-go-make.md
  .changeset/patch-update-smoke-claude-import.md
  .github/workflows/smoke-claude.lock.yml
  .github/workflows/smoke-claude.md
Due: zizmor, actionlint

Fix custom safe-outputs documentation: correct agent data access pattern (#11530)
  docs/package-lock.json
  docs/src/content/docs/agent-factory-status.mdx
  docs/src/content/docs/guides/custom-safe-outputs.md
Due: none

Refine descriptions and structure in campaigns docs
  docs/src/content/docs/guides/campaigns/index.mdx
Due: none

Refine descriptions and structure in campaigns docs (#11545)
  docs/src/content/docs/guides/campaigns/index.mdx
Due: none

fix safe ouputs
  .github/workflows/daily-choice-test.lock.yml
  .github/workflows/mcp-inspector.lock.yml
  .github/workflows/notion-issue-summary.lock.yml
  pkg/workflow/safe_jobs.go
Due: zizmor, actionlint

fix safe ouputs
  pkg/workflow/safe_jobs.go
Due: none

Add report formatting guidelines to agent-persona-explorer workflow (#11541)
  .github/workflows/agent-persona-explorer.lock.yml
  .github/workflows/agent-persona-explorer.md
Due: zizmor, actionlint

Add markdown formatting guidelines to cli-version-checker workflow (#11546)
  .github/workflows/cli-version-checker.lock.yml
  .github/workflows/cli-version-checker.md
Due: zizmor, actionlint

Add fail-fast MCP tool availability check to remote auth test (#11542)
  .github/workflows/github-remote-mcp-auth-test.lock.yml
  .github/workflows/github-remote-mcp-auth-test.md
Due: zizmor, actionlint

Add progressive disclosure formatting to copilot-cli-deep-research workflow (#11538)
  .github/workflows/copilot-cli-deep-research.lock.yml
  .github/workflows/copilot-cli-deep-research.md
Due: zizmor, actionlint

Enforce minimum value validation for tools.timeout and tools.startup-timeout (#11548)
  pkg/workflow/compiler_orchestrator.go
  pkg/workflow/frontmatter_extraction_metadata.go
  pkg/workflow/frontmatter_extraction_metadata_test.go
  pkg/workflow/tools_timeout_test.go
  pkg/workflow/tools_timeout_validation_test.go
Due: none

Handle PT/AM-PM schedule parsing for weekly around times (#11543)
  docs/src/content/docs/reference/schedule-syntax.md
  pkg/parser/schedule_parser.go
  pkg/parser/schedule_parser_fuzz_test.go
  pkg/parser/schedule_parser_test.go
Due: none

docs: split enable/disable commands into separate sections (#11547)
  docs/src/content/docs/setup/cli.md
Due: none

Add comprehensive test coverage for campaign_discovery.cjs (#11552)
  actions/setup/js/campaign_discovery.test.cjs
Due: none

docs: streamline campaign command documentation with cross-reference (#11540)
  docs/src/content/docs/setup/cli.md
Due: none

Add remove-labels safe-output documentation to instructions
  .github/aw/github-agentic-workflows.md
Due: none

🔧 Fix safe job output artifact filename handling (#11549)
  .github/workflows/daily-choice-test.lock.yml
  .github/workflows/mcp-inspector.lock.yml
  .github/workflows/notion-issue-summary.lock.yml
  pkg/workflow/safe_jobs.go
Due: zizmor, actionlint

Fix `upgrade` command documentation - clarify repository scope (#11559)
  docs/src/content/docs/setup/cli.md
Due: none

Add report formatting guidelines to agent-performance-analyzer workflow (#11553)
  .github/workflows/agent-performance-analyzer.lock.yml
  .github/workflows/agent-performance-analyzer.md
Due: zizmor, actionlint

docs: add completion command to Utility Commands section (#11555)
  docs/src/content/docs/setup/cli.md
Due: none

Normalize header hierarchy in weekly-issue-summary workflow (#11558)
  .github/workflows/weekly-issue-summary.lock.yml
  .github/workflows/weekly-issue-summary.md
Due: zizmor, actionlint

Add runtime validation for sandbox.mcp.port (#11554)
  pkg/workflow/sandbox_validation.go
  pkg/workflow/sandbox_validation_test.go
Due: none

Add integration tests for invalid schedule validation (#11556)
  pkg/cli/compile_integration_test.go
Due: none

Normalize header hierarchy in daily-code-metrics discussion template (#11562)
  .github/workflows/daily-code-metrics.lock.yml
  .github/workflows/daily-code-metrics.md
  pkg/cli/templates/github-agentic-workflows.md
Due: zizmor, actionlint

Treat add_comment 404s as warnings in safe output handler (#11563)
  actions/setup/js/add_comment.cjs
  actions/setup/js/add_comment.test.cjs
Due: none

Extract agent output filename into constants (#11566)
  actions/setup/js/collect_ndjson_output.cjs
  actions/setup/js/constants.cjs
  actions/setup/js/constants.test.cjs
  actions/setup/js/parse_threat_detection_results.cjs
  actions/setup/js/setup_threat_detection.cjs
  pkg/cli/audit_report.go
  pkg/cli/logs_metrics.go
  pkg/cli/logs_orchestrator.go
  pkg/cli/trial_support.go
  pkg/constants/constants.go
  pkg/workflow/safe_jobs.go
  pkg/workflow/safe_outputs_steps.go
Due: none

Document dispatch-workflow safe output (#11574)
  docs/src/content/docs/reference/safe-outputs.md
Due: none

Normalize header levels in audit-workflows report template (#11577)
  .github/workflows/audit-workflows.md
Due: zizmor

Add targeted bench-performance target for daily performance monitoring (#11576)
  .github/workflows/daily-cli-performance.lock.yml
  .github/workflows/daily-cli-performance.md
  Makefile
Due: zizmor, actionlint

Add PR Triage Agent for automated categorization and prioritization of 605-PR backlog (#11575)
  .github/workflows/pr-triage-agent.lock.yml
  .github/workflows/pr-triage-agent.md
  specs/artifacts.md
Due: zizmor, actionlint

Fix test expectations: sandbox error message and included file inputs validation (#11580)
  .github/workflows/audit-workflows.lock.yml
  pkg/parser/schema_test.go
  pkg/workflow/firewall_default_enablement_test.go
Due: zizmor, actionlint

Optimize integration test matrix: isolate slow Docker build test (#11579)
  .github/workflows/ci.yml
Due: none

Replace deprecated gpt-5-mini with gpt-5.1-codex-mini (#11583)
  .github/workflows/ai-moderator.lock.yml
  .github/workflows/ai-moderator.md
  .github/workflows/changeset.lock.yml
  .github/workflows/changeset.md
  .github/workflows/chroma-issue-indexer.lock.yml
  .github/workflows/chroma-issue-indexer.md
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/ci-doctor.md
  .github/workflows/daily-fact.lock.yml
  .github/workflows/daily-fact.md
  .github/workflows/github-remote-mcp-auth-test.lock.yml
  .github/workflows/github-remote-mcp-auth-test.md
  .github/workflows/issue-monster.lock.yml
  .github/workflows/issue-monster.md
  pkg/constants/constants.go
  pkg/constants/constants_test.go
  pkg/workflow/copilot_engine.go
  pkg/workflow/copilot_engine_test.go
  pkg/workflow/threat_detection_test.go
Due: zizmor, actionlint

Normalize header hierarchy in daily-issues-report template (#11589)
  .github/workflows/daily-issues-report.lock.yml
  .github/workflows/daily-issues-report.md
Due: zizmor, actionlint

Refactor: eliminate duplicate secret extraction and consolidate time parsing (#11584)
  pkg/workflow/config_helpers.go
  pkg/workflow/config_helpers_test.go
  pkg/workflow/engine_helpers.go
  pkg/workflow/engine_helpers_secrets_test.go
  pkg/workflow/time_delta.go
  pkg/workflow/time_delta_test.go
Due: none

Add comprehensive test coverage for compiler_safe_outputs.go (#11587)
  pkg/workflow/compiler_safe_outputs_test.go
Due: none

Fix agentic-workflows MCP server container mounts (#11582)
  .github/workflows/agent-performance-analyzer.lock.yml
  .github/workflows/agent-persona-explorer.lock.yml
  .github/workflows/daily-firewall-report.lock.yml
  .github/workflows/daily-observability-report.lock.yml
  .github/workflows/dev-hawk.lock.yml
  .github/workflows/example-workflow-analyzer.lock.yml
  .github/workflows/metrics-collector.lock.yml
  .github/workflows/python-data-charts.lock.yml
  .github/workflows/security-review.lock.yml
  .github/workflows/smoke-copilot.lock.yml
  pkg/workflow/mcp-config-builtin.go
  pkg/workflow/mcp_config_refactor_test.go
Due: zizmor, actionlint

Add glossary callout to Quick Start for terminology discoverability (#11593)
  docs/src/content/docs/agent-factory-status.mdx
  docs/src/content/docs/setup/quick-start.md
Due: none

Path conditions:
  zizmor: any of: \.github/workflows/.*\.(lock\.yml|md)$
  actionlint: any of: \.github/workflows/.*\.lock\.yml$
