Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

.pre-commit-config.yaml:

# Pre-commit hooks for gh-aw
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Security scanning with zizmor
      - id: zizmor
        name: zizmor security scan
        entry: zizmor
        language: system
        files: \.github/workflows/.*\.(lock\.yml|md)$
        pass_filenames: true
        description: Scan GitHub Actions workflows for security vulnerabilities
        
      # Workflow linting with actionlint
      - id: actionlint
        name: actionlint workflow linting
        entry: actionlint
        language: system
        files: \.github/workflows/.*\.lock\.yml$
        pass_filenames: true
        description: Lint GitHub Actions workflow files for best practices and errors
        
      # Shell script validation with shellcheck
      - id: shellcheck
        name: shellcheck shell script validation
        entry: shellcheck
        language: system
        files: \.(sh|bash)$
        types: [file, shell]
        description: Validate shell scripts for common issues and best practices

feat: add append-only comments (#11164)
  .github/workflows/agentic-campaign-generator.md
  .github/workflows/security-alert-burndown.campaign.lock.yml
  actions/setup/js/messages_core.cjs
  actions/setup/js/notify_comment_error.cjs
  actions/setup/js/notify_comment_error.test.cjs
  docs/src/content/docs/reference/frontmatter-full.md
  docs/src/content/docs/reference/safe-outputs.md
  pkg/campaign/generator.go
  pkg/workflow/compiler_types.go
  pkg/workflow/safe_outputs_config_messages.go
Due: zizmor, actionlint

docs: add interactive mode documentation for init command
  docs/src/content/docs/setup/cli.md
Due: none

Fix add_comment to respect append-only-comments from messages config (#11173)
  .github/workflows/security-alert-burndown.campaign.lock.yml
  actions/setup/js/add_comment.cjs
  actions/setup/js/add_comment.test.cjs
Due: zizmor, actionlint

Add temporary project ID support for safe outputs (#11174)
  actions/setup/js/safe_output_project_handler_manager.cjs
  actions/setup/js/safe_outputs_handlers.cjs
  actions/setup/js/safe_outputs_tools.json
  actions/setup/js/safe_outputs_tools_loader.cjs
  actions/setup/js/update_project.cjs
Due: none

style: improve markdown formatting in safe outputs messages
  pkg/campaign/generator.go
Due: none

style: improve markdown formatting in safe outputs messages (#11179)
  pkg/campaign/generator.go
Due: none

Add built-in pattern detection for secret redaction in compiled logs (#11175)
  .changeset/patch-add-secret-redaction-built-in-patterns.md
  actions/setup/js/redact_secrets.cjs
  actions/setup/js/redact_secrets.test.cjs
Due: none

update campaign generator
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/agentic-campaign-generator.md
Due: zizmor, actionlint

Fix append-only-comments for activation comment updates (#11189)
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/agentic-campaign-generator.md
  actions/setup/js/update_activation_comment.cjs
  actions/setup/js/update_activation_comment.test.cjs
Due: zizmor, actionlint

Pass HTTP MCP server secrets to gateway container (#11185)
  .github/workflows/brave.lock.yml
  .github/workflows/copilot-pr-merged-report.lock.yml
  .github/workflows/daily-news.lock.yml
  .github/workflows/daily-performance-summary.lock.yml
  .github/workflows/daily-regulatory.lock.yml
  .github/workflows/mcp-inspector.lock.yml
  .github/workflows/notion-issue-summary.lock.yml
  .github/workflows/research.lock.yml
  .github/workflows/scout.lock.yml
  .github/workflows/smoke-claude.lock.yml
  .github/workflows/smoke-codex.lock.yml
  pkg/workflow/mcp_setup_generator.go
  pkg/workflow/mcp_setup_generator_test.go
Due: zizmor, actionlint

Add version check to upgrade command to enforce latest extension (#11187)
  pkg/cli/update_extension_check.go
  pkg/cli/update_extension_check_test.go
  pkg/cli/upgrade_command.go
Due: none

docs: reduce bloat in schedule-syntax.md (56.6% reduction)
  docs/src/content/docs/reference/schedule-syntax.md
Due: none

Add debug logging to 4 Go files for better troubleshooting
  pkg/cli/tokens_bootstrap.go
  pkg/parser/schema_suggestions.go
  pkg/workflow/compiler_safe_outputs_config.go
  pkg/workflow/tools_types.go
Due: none

Enable append-only comments in smoke-copilot workflow (#11202)
  .changeset/patch-enable-append-only-comments-smoke-copilot.md
  .github/workflows/smoke-copilot.lock.yml
  .github/workflows/smoke-copilot.md
  pkg/parser/schemas/main_workflow_schema.json
Due: zizmor, actionlint

refactor: update field names in project handler
  .github/aw/update-agentic-campaign-project-contract.md
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/agentic-campaign-generator.md
  Makefile
  pkg/campaign/generator.go
  pkg/campaign/generator_messages_test.go
  pkg/campaign/schemas/project_update_schema.json
  pkg/cli/templates/update-agentic-campaign-project-contract.md
Due: zizmor, actionlint

Report agent assignment errors in workflow failure tracking (#11206)
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/issue-monster.lock.yml
  .github/workflows/workflow-generator.lock.yml
  actions/setup/js/assign_to_agent.cjs
  actions/setup/js/handle_agent_failure.cjs
  actions/setup/md/agent_failure_comment.md
  actions/setup/md/agent_failure_issue.md
  pkg/workflow/compiler_safe_outputs_config.go
  pkg/workflow/compiler_safe_outputs_job.go
  pkg/workflow/notify_comment.go
Due: zizmor, actionlint

refactor: update field names in project handler (#11224)
  .github/aw/update-agentic-campaign-project-contract.md
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/agentic-campaign-generator.md
  Makefile
  pkg/campaign/generator.go
  pkg/campaign/generator_messages_test.go
  pkg/campaign/schemas/project_update_schema.json
  pkg/cli/templates/update-agentic-campaign-project-contract.md
Due: zizmor, actionlint

Include git commit and push instructions
  docs/src/content/docs/setup/quick-start.md
Due: none

Fix: body-only updates incorrectly skipped in update_issue/update_pull_request handlers
  actions/setup/js/update_handler_factory.cjs
  actions/setup/js/update_handler_factory.test.cjs
Due: none

Update security alert campaign owner to @mnkiefer
  .github/workflows/security-alert-burndown.campaign.md
Due: zizmor

Update developer documentation consolidation date
  .github/agents/developer.instructions.md
Due: none

Add security-alert-burndown campaign spec (#11232)
  .github/workflows/security-alert-burndown.campaign.lock.yml
  .github/workflows/security-alert-burndown.campaign.md
Due: zizmor, actionlint

Update quick-start.md
  docs/src/content/docs/setup/quick-start.md
Due: none

Include git commit and push instructions (#11230)
  docs/src/content/docs/setup/quick-start.md
Due: none

Fix campaign project URL resolution in issue updates (#11238)
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/security-alert-burndown.campaign.lock.yml
  actions/setup/js/safe_output_project_handler_manager.cjs
  actions/setup/js/temporary_id.cjs
  actions/setup/js/temporary_id.test.cjs
  actions/setup/js/update_issue.cjs
  pkg/workflow/compiler_safe_outputs_job.go
  pkg/workflow/compiler_safe_outputs_steps.go
Due: zizmor, actionlint

Fix workflow count mismatch in `gh aw status` output (#11220)
  pkg/cli/workflows.go
  pkg/cli/workflows_count_test.go
Due: none

Test: Add edge case coverage and improve diagnostics for strings_test.go (#11252)
  pkg/workflow/strings_test.go
Due: none

Add `gh aw list` command for fast workflow enumeration (#11218)
  cmd/gh-aw/main.go
  pkg/cli/list_workflows_command.go
  pkg/cli/list_workflows_command_test.go
Due: none

docs: unbloat upgrading guide - 70% reduction
  docs/src/content/docs/guides/upgrading.md
Due: none

Add bootstrap and worker metadata for zero-discovery campaign initialization (#11269)
  .github/aw/bootstrap-agentic-campaign.md
  docs/bootstrap-implementation-summary.md
  docs/campaign-workers.md
  go.mod
  pkg/campaign/bootstrap_test.go
  pkg/campaign/orchestrator.go
  pkg/campaign/schemas/campaign_spec_schema.json
  pkg/campaign/spec.go
  pkg/campaign/template.go
Due: none

Unbloat deterministic-agentic-patterns.md documentation
  docs/src/content/docs/guides/deterministic-agentic-patterns.md
Due: none

Add field-definitions support to create-project configuration (#11284)
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/agentic-campaign-generator.md
  pkg/campaign/generator.go
  pkg/cli/init.go
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/compiler_safe_outputs_config.go
  pkg/workflow/create_project.go
  pkg/workflow/create_project_test.go
Due: zizmor, actionlint

Add ignore-if-error field to assign-to-agent safe output (#11282)
  actions/setup/js/assign_agent_helpers.cjs
  actions/setup/js/assign_to_agent.cjs
  actions/setup/js/assign_to_agent.test.cjs
  actions/setup/js/types/safe-outputs-config.d.ts
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/assign_to_agent.go
  pkg/workflow/compiler_safe_outputs_specialized.go
Due: none
