Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

.pre-commit-config.yaml:

# Pre-commit hooks for gh-aw
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Security scanning with zizmor
      - id: zizmor
        name: zizmor security scan
        entry: zizmor
        language: system
        files: \.github/workflows/.*\.(lock\.yml|md)$
        pass_filenames: true
        description: Scan GitHub Actions workflows for security vulnerabilities
        
      # Workflow linting with actionlint
      - id: actionlint
        name: actionlint workflow linting
        entry: actionlint
        language: system
        files: \.github/workflows/.*\.lock\.yml$
        pass_filenames: true
        description: Lint GitHub Actions workflow files for best practices and errors
        
      # Shell script validation with shellcheck
      - id: shellcheck
        name: shellcheck shell script validation
        entry: shellcheck
        language: system
        files: \.(sh|bash)$
        types: [file, shell]
        description: Validate shell scripts for common issues and best practices

Migrate tools.go to Go 1.24 tool directives; remove dead gosec config from .golangci.yml (#48830)
  .github/workflows/security-scan.yml
  .golangci.yml
  Makefile
  go.mod
  tools.go
Due: none

Add shared Graft wrapper and daily repository intelligence workflow (#48881)
  .github/workflows/daily-graft-intelligence.lock.yml
  .github/workflows/daily-graft-intelligence.md
  .github/workflows/shared/mcp/graft.md
Due: zizmor, actionlint

Add Rig harness support to ambient context optimizer workflow (#48885)
  .github/workflows/daily-ambient-context-optimizer.lock.yml
  .github/workflows/daily-ambient-context-optimizer.md
Due: zizmor, actionlint

Enhance devcontainer setup by adding upgrade script for Go and GitHub CLI
  .devcontainer/devcontainer.json
  .devcontainer/upgrade-tools.sh
Due: none

hint: add jq file injection example to safe outputs CLI proxy instruction (#48909)
  .changeset/hint-jq-file-injection-safe-outputs-prompt.md
  actions/setup/md/mcp_cli_tools_prompt.md
  actions/setup/md/safe_outputs_prompt.md
Due: none

docs: fix audit command default output path in CLI reference (#48908)
  docs/src/content/docs/setup/cli.md
Due: none

Remove experimental state from forecast command and simplify output
  docs/src/content/docs/reference/glossary.md
  docs/src/content/docs/setup/cli.md
  docs/src/content/docs/specs/forecast-specification.md
  pkg/cli/README.md
  pkg/cli/forecast.go
  pkg/cli/forecast_command.go
  pkg/cli/forecast_render.go
  pkg/cli/forecast_test.go
Due: none

Remove fable from large model alias (sonnet-range pricing only) (#48915)
  pkg/workflow/data/model_aliases.json
  pkg/workflow/model_aliases_test.go
Due: none

docs: add workshop links in select documentation locations (#48914)
  docs/src/content/docs/guides/editing-workflows.md
  docs/src/content/docs/introduction/how-they-work.mdx
  docs/src/content/docs/introduction/overview.mdx
  docs/src/content/docs/setup/creating-workflows.mdx
Due: none

fix: treat `workflows`-scope 403 on branch update as non-fatal; add token fallback for add_comment (#48900)
  .github/workflows/pr-sous-chef.lock.yml
  .github/workflows/pr-sous-chef.md
  actions/setup/js/update_pull_request.cjs
  actions/setup/js/update_pull_request.test.cjs
Due: zizmor, actionlint

feat: wrap skill install step summary in progressive disclosure details block (#48905)
  actions/setup/js/install_frontmatter_skills.cjs
  actions/setup/js/install_frontmatter_skills.test.cjs
Due: none

Remove experimental state from forecast command and simplify output (#48911)
  docs/src/content/docs/reference/glossary.md
  docs/src/content/docs/setup/cli.md
  docs/src/content/docs/specs/forecast-specification.md
  pkg/cli/README.md
  pkg/cli/forecast.go
  pkg/cli/forecast_command.go
  pkg/cli/forecast_render.go
  pkg/cli/forecast_test.go
  pkg/workflow/model_env_vars_test.go
  pkg/workflow/testdata/TestWasmGolden_AllEngines/claude.golden
  pkg/workflow/testdata/TestWasmGolden_AllEngines/codex.golden
  pkg/workflow/testdata/TestWasmGolden_AllEngines/copilot.golden
  pkg/workflow/testdata/TestWasmGolden_AllEngines/gemini.golden
  pkg/workflow/testdata/TestWasmGolden_AllEngines/pi.golden
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/basic-copilot.golden
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/playwright-cli-mode.golden
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/smoke-copilot.golden
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/with-imports.golden
  pkg/workflow/wasm_golden_test.go
  scripts/test-wasm-golden.mjs
Due: none

Add fixture-level formal compliance tests for Monte Carlo forecast engine (FC-P3/P4/P6/P8/P9/P10) (#48936)
  pkg/cli/forecast_compliance_fixtures_formal_test.go
Due: none

fix: update stale `on.command:` reference to `on.slash-command:` in check_command_position (#48916)
  actions/setup/js/check_command_position.cjs
Due: none

fix: resolve tool denial failures in daily-agent-of-the-day-blog-writer (#48933)
  .github/workflows/daily-agent-of-the-day-blog-writer.lock.yml
  .github/workflows/daily-agent-of-the-day-blog-writer.md
Due: zizmor, actionlint

fix: update daily agent workflow schedule and improve action setup
  .github/workflows/daily-agent-of-the-day-blog-writer.lock.yml
Due: zizmor, actionlint

fix: use [!WARNING] banner for threat detection engine failures instead of [!CAUTION] (#48940)
  actions/setup/js/generate_footer.cjs
  actions/setup/js/generate_footer.test.cjs
  actions/setup/js/messages.test.cjs
  actions/setup/js/messages_run_status.cjs
  actions/setup/js/threat_detection_warning.cjs
  actions/setup/js/threat_detection_warning.test.cjs
Due: none

Fix list_workflows/list_label mcp-scripts: rename per_page → perPage and fix silently ignored pagination limit (#48942)
  .github/skills/github-labels-query/query-labels.sh
  .github/skills/github-workflows-query/query-workflows.sh
  .github/workflows/shared/github-mcp-pagination-wrappers.md
Due: zizmor

runtime: resolve side-repo checkout/branch correctly for `push_to_pull_request_branch` when `origin/HEAD` is unset (#48786)
  actions/setup/js/safe_outputs_handlers.cjs
  actions/setup/js/safe_outputs_handlers.test.cjs
  docs/src/content/docs/specs/checkout-behavior-specification.md
Due: none

fix: add alpine:latest pin and recompile daily-agent-of-the-day-blog-writer (#48947)
  .github/aw/actions-lock.json
  pkg/actionpins/data/action_pins.json
  pkg/workflow/data/action_pins.json
Due: none

feat(messages): expose individual AI cost and detection variables in footer templates (#48946)
  actions/setup/js/messages_footer.cjs
  docs/src/content/docs/reference/footers.md
  docs/src/content/docs/reference/safe-outputs.md
Due: none

Upgrade MCP Go SDK to v1.7.0 and decouple inspect output from deprecated root types (#48851)
  go.mod
  go.sum
  pkg/cli/mcp_inspect_mcp.go
  pkg/parser/mcp.go
  pkg/workflow/wasm_golden_test.go
Due: none

panicinlibrarycode: recognize sync.OnceValue/OnceFunc panic exemptions (#48956)
  pkg/linters/panic-in-library-code/panic-in-library-code.go
  pkg/linters/panic-in-library-code/testdata/src/panicinlibrarycode/panicinlibrarycode.go
Due: none

Add `go` network identifier to experiments and repository-quality-improver workflows (#48962)
  .github/workflows/daily-experiment-report.lock.yml
  .github/workflows/daily-experiment-report.md
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/repository-quality-improver.md
Due: zizmor, actionlint

docs: document Claude Code guided-authoring workaround for agentic-workflows create (#48957)
  docs/src/content/docs/engines/claude.md
  docs/src/content/docs/engines/codex.md
  docs/src/content/docs/engines/copilot.md
  docs/src/content/docs/engines/gemini.md
  docs/src/content/docs/reference/faq.md
  docs/src/content/docs/setup/creating-workflows.mdx
Due: none

test(semver): upgrade semver_precise_test.go to testify + expand coverage (#48960)
  pkg/cli/semver_precise_test.go
  pkg/cli/semver_test.go
  pkg/semverutil/semverutil.go
Due: none

fix: stop unbounded pagination in check_rate_limit when run exceeds threshold (#48972)
  actions/setup/js/check_rate_limit.cjs
  actions/setup/js/check_rate_limit.test.cjs
Due: none

[WIP] Fix failing GitHub Actions job lint-go (#48975)
  pkg/cli/forecast_compliance_fixtures_formal_test.go
Due: none

fix(mcp): detach logs subprocess context from MCP gateway 60s deadline (#48961)
  pkg/cli/logs_timeout_test.go
  pkg/cli/mcp_tools_privileged.go
  pkg/cli/mcp_tools_privileged_test.go
Due: none

perf: fix 278.8% regression in BenchmarkCompileMCPWorkflow (#48967)
  pkg/workflow/compiler_cache_regression_test.go
  pkg/workflow/compiler_performance_benchmark_test.go
  pkg/workflow/compiler_types.go
  pkg/workflow/domains.go
  pkg/workflow/permissions_compiler_validator.go
  pkg/workflow/permissions_scope_validation_test.go
  pkg/workflow/permissions_validation.go
Due: none

Add goroutinemissingrecover linter: flag panic-unsafe goroutines (#48966)
  docs/adr/48966-add-goroutinemissingrecover-linter.md
  pkg/cli/bootstrap_profile_github_app.go
  pkg/cli/bootstrap_profile_helpers.go
  pkg/cli/forecast_compute.go
  pkg/linters/README.md
  pkg/linters/doc.go
  pkg/linters/goroutinemissingrecover/goroutinemissingrecover.go
  pkg/linters/goroutinemissingrecover/goroutinemissingrecover_test.go
  pkg/linters/goroutinemissingrecover/testdata/src/a/a.go
  pkg/linters/goroutinemissingrecover/testdata/src/b/b.go
  pkg/linters/registry.go
  pkg/linters/spec_test.go
Due: none

docs: add panic contract doc comment to prepareClaudeToolsForAllowedList (#48984)
  pkg/workflow/claude_tools.go
Due: none

Refactor 3 agentic workflows to use rig (github.com/githubnext/rig) (#49000)
  .github/workflows/agent-performance-analyzer.lock.yml
  .github/workflows/agent-performance-analyzer.md
  .github/workflows/architecture-guardian.lock.yml
  .github/workflows/architecture-guardian.md
  .github/workflows/cli-consistency-checker.lock.yml
  .github/workflows/cli-consistency-checker.md
Due: zizmor, actionlint

fix(instructions-janitor): pin model, bound git history, add early exit to reduce 40% failure rate (#48990)
  .github/workflows/instructions-janitor.lock.yml
  .github/workflows/instructions-janitor.md
Due: zizmor, actionlint

fix(daily-security-observability): pre-download firewall runs to avoid MCP tool timeout (#48988)
  .github/workflows/daily-security-observability.lock.yml
  .github/workflows/daily-security-observability.md
Due: zizmor, actionlint

fix(delight): pre-read sampled files to eliminate view/read tool denials (#48989)
  .github/workflows/delight.lock.yml
  .github/workflows/delight.md
Due: zizmor, actionlint
