Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

zizmor:
  name: zizmor security scan
  entry: zizmor
  language: system
  pass_filenames: true
  description: Scan GitHub Actions workflows for security vulnerabilities

actionlint:
  name: actionlint workflow linting
  entry: actionlint
  language: system
  pass_filenames: true
  description: Lint GitHub Actions workflow files for best practices and errors

update prompting
  docs/src/content/docs/reference/faq.md
  docs/src/content/docs/reference/imports.md
Due: none

fix: update repository references from githubnext to github in workflow files
  .github/workflows/constraint-solving-potd.lock.yml
  .github/workflows/constraint-solving-potd.md
  .github/workflows/contribution-check.lock.yml
  .github/workflows/contribution-check.md
  .github/workflows/daily-architecture-diagram.lock.yml
  .github/workflows/daily-architecture-diagram.md
  .github/workflows/smoke-create-cross-repo-pr.lock.yml
  .github/workflows/smoke-create-cross-repo-pr.md
  .github/workflows/smoke-update-cross-repo-pr.lock.yml
  .github/workflows/smoke-update-cross-repo-pr.md
Due: zizmor, actionlint

fix: pull merged workflow files after GitHub confirms workflow is ready
  pkg/cli/add_interactive_git.go
  pkg/cli/add_interactive_workflow.go
Due: none

Update pkg/cli/add_interactive_workflow.go
  pkg/cli/add_interactive_workflow.go
Due: none

feat: enable GPU support for QMD in dev workflow
  .github/workflows/dev.lock.yml
  .github/workflows/dev.md
Due: zizmor, actionlint

Update content-moderation.yml
  .github/workflows/content-moderation.yml
Due: none

Improve agentic audit baselines and execution observability
  actions/setup/js/generate_observability_summary.cjs
  actions/setup/js/generate_observability_summary.test.cjs
  cmd/gh-aw/main.go
  pkg/cli/audit.go
  pkg/cli/audit_comparison.go
  pkg/cli/audit_comparison_test.go
  pkg/cli/audit_report.go
  pkg/cli/audit_report_render.go
  pkg/cli/audit_test.go
  pkg/cli/logs_report.go
  pkg/cli/mcp_schema_test.go
  pkg/cli/observability_insights.go
  pkg/cli/observability_insights_test.go
  pkg/cli/observability_policy.go
  pkg/cli/observability_policy_command.go
  pkg/cli/observability_policy_command_test.go
  pkg/cli/observability_policy_test.go
  pkg/cli/observability_schema_test.go
  pkg/parser/schema_test.go
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/compiler_yaml_ai_execution.go
  pkg/workflow/compiler_yaml_main_job.go
  pkg/workflow/frontmatter_types.go
  pkg/workflow/frontmatter_types_test.go
  pkg/workflow/observability_job_summary_test.go
  schemas/observability-policy.json
  schemas/observability-report.json
Due: none

docs: clarify api-proxy auth boundary
  docs/src/content/docs/introduction/architecture.mdx
  docs/src/content/docs/reference/engines.md
Due: none

[WIP] Fix failing GitHub Actions workflow build-wasm (#22739)
  pkg/workflow/testdata/wasm_golden/TestWasmGolden_CompileFixtures/basic-copilot.golden
  pkg/workflow/testdata/wasm_golden/TestWasmGolden_CompileFixtures/smoke-copilot.golden
  pkg/workflow/testdata/wasm_golden/TestWasmGolden_CompileFixtures/with-imports.golden
Due: none

enhance audit comparison and reporting with task domain & behavior fingerprint
  .github/workflows/agentic-observability-central-kit.lock.yml
  .github/workflows/agentic-observability-central-kit.md
  .github/workflows/agentic-observability-kit.lock.yml
  .github/workflows/agentic-observability-kit.md
  docs/src/content/docs/guides/agentic-observability-kit.md
  docs/src/content/docs/patterns/monitoring.md
  pkg/cli/audit.go
  pkg/cli/audit_agentic_analysis.go
  pkg/cli/audit_agentic_analysis_test.go
  pkg/cli/audit_comparison.go
  pkg/cli/audit_comparison_test.go
  pkg/cli/audit_report.go
  pkg/cli/audit_report_render.go
  pkg/cli/logs_json_test.go
  pkg/cli/logs_models.go
  pkg/cli/logs_orchestrator.go
  pkg/cli/logs_report.go
  pkg/cli/logs_summary_test.go
Due: zizmor, actionlint

simplify string checks and error handling
  pkg/cli/observability_policy.go
  pkg/cli/observability_policy_command.go
Due: none

[WIP] Fix failing GitHub Actions workflow build (#22777)
  .github/workflows/smoke-gemini.lock.yml
Due: zizmor, actionlint

Update docs/src/content/docs/reference/engines.md
  docs/src/content/docs/reference/engines.md
Due: none

Update docs/src/content/docs/introduction/architecture.mdx
  docs/src/content/docs/introduction/architecture.mdx
Due: none

[WIP] Fix failing GitHub Actions workflow js (#22779)
  actions/setup/js/push_to_pull_request_branch.cjs
Due: none

[WIP] Fix failing GitHub Actions workflow build (#22780)
  .github/workflows/smoke-gemini.lock.yml
  pkg/workflow/engine_helpers.go
  pkg/workflow/engine_helpers_test.go
  pkg/workflow/gemini_engine_test.go
Due: zizmor, actionlint

rm observability policy cmd and related
  .github/workflows/agentic-observability-central-kit.lock.yml
  .github/workflows/agentic-observability-central-kit.md
  .serena/memories/project_overview.md
  .serena/memories/style_and_conventions.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion.md
  .serena/project.yml
  cmd/gh-aw/main.go
  pkg/cli/audit_comparison.go
  pkg/cli/logs_models.go
  pkg/cli/mcp_schema_test.go
  pkg/cli/observability_policy.go
  pkg/cli/observability_policy_command.go
  pkg/cli/observability_policy_command_test.go
  pkg/cli/observability_policy_test.go
  pkg/cli/observability_schema_test.go
  schemas/observability-policy.json
  schemas/observability-report.json
Due: zizmor, actionlint

clean up
  .serena/memories/project_overview.md
  .serena/memories/style_and_conventions.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion.md
  .serena/project.yml
Due: none

rm docs
  docs/src/content/docs/guides/agentic-observability-kit.md
  docs/src/content/docs/patterns/monitoring.md
Due: none

avoid unnecessary refactoring
  pkg/cli/audit_report.go
  pkg/cli/logs_report.go
Due: none

update agentic observability kit
  .github/workflows/agentic-observability-kit.lock.yml
  .github/workflows/agentic-observability-kit.md
Due: zizmor, actionlint

add episode and DAG model details
  .github/workflows/agentic-observability-kit.lock.yml
  .github/workflows/agentic-observability-kit.md
Due: zizmor, actionlint

add deterministic episode model and related fields to logs
  .github/workflows/agentic-observability-kit.md
  pkg/cli/logs_ci_scenario_test.go
  pkg/cli/logs_episode.go
  pkg/cli/logs_json_test.go
  pkg/cli/logs_report.go
Due: zizmor

fix lint error
  pkg/cli/logs_episode.go
Due: none

chore: enhance episode data structure
  .github/workflows/agentic-observability-kit.lock.yml
  .github/workflows/agentic-observability-kit.md
  pkg/cli/logs_ci_scenario_test.go
  pkg/cli/logs_episode.go
  pkg/cli/logs_json_test.go
  pkg/cli/logs_models.go
  pkg/cli/logs_report.go
Due: zizmor, actionlint

enhance observability kit and cost management docs with lineage details
  .github/workflows/agentic-observability-kit.md
  docs/src/content/docs/reference/cost-management.md
  docs/src/content/docs/setup/cli.md
Due: zizmor

fix `workflow_call` coalescing bug
  pkg/cli/logs_episode.go
  pkg/cli/logs_json_test.go
Due: none

update FAQs
  docs/src/content/docs/reference/compilation-process.md
  docs/src/content/docs/reference/faq.md
Due: none

docs: add consolidated token reference page
  docs/astro.config.mjs
  docs/src/content/docs/reference/auth.mdx
  docs/src/content/docs/reference/tokens.md
Due: none

fix: skip detection job when engine is disabled with no custom steps
  .github/workflows/changeset.lock.yml
  pkg/workflow/cache.go
  pkg/workflow/compiler_jobs.go
  pkg/workflow/compiler_safe_output_jobs.go
  pkg/workflow/compiler_safe_outputs_job.go
  pkg/workflow/notify_comment.go
  pkg/workflow/threat_detection.go
Due: zizmor, actionlint

fix: include aw-*.patch in agent artifact when threat detection is enabled
  .github/workflows/smoke-claude.lock.yml
  .github/workflows/smoke-codex.lock.yml
  pkg/workflow/compiler_yaml_main_job.go
Due: zizmor, actionlint

refactor: extract HasRunnableDetection() to fix staticcheck QF1001
  pkg/workflow/cache.go
  pkg/workflow/compiler_jobs.go
  pkg/workflow/compiler_safe_output_jobs.go
  pkg/workflow/compiler_safe_outputs_job.go
  pkg/workflow/compiler_yaml_main_job.go
  pkg/workflow/notify_comment.go
  pkg/workflow/threat_detection.go
Due: none

refactor: use IsDetectionJobEnabled() helper everywhere; add patch artifact test
  pkg/workflow/cache.go
  pkg/workflow/compiler_artifacts_test.go
  pkg/workflow/compiler_jobs.go
  pkg/workflow/compiler_safe_output_jobs.go
  pkg/workflow/compiler_safe_outputs_job.go
  pkg/workflow/compiler_yaml_main_job.go
  pkg/workflow/notify_comment.go
  pkg/workflow/threat_detection.go
Due: none

Apply suggestions from code review
  actions/setup/action.yml
Due: none

fix: extract THREAT_DETECTION_RESULT from within stream-json result text
  actions/setup/js/parse_threat_detection_results.cjs
  actions/setup/js/parse_threat_detection_results.test.cjs
Due: none

style: fix Prettier formatting in test file
  actions/setup/js/parse_threat_detection_results.test.cjs
Due: none

test: strengthen stream-json extraction assertions per review
  actions/setup/js/parse_threat_detection_results.test.cjs
Due: none

Update prompt identifiers and configuration in smoke-copilot workflows
  .changeset/patch-bump-default-firewall-version.md
  .github/workflows/daily-performance-summary.lock.yml
  .github/workflows/daily-regulatory.lock.yml
  .github/workflows/smoke-claude.lock.yml
  .github/workflows/smoke-copilot-arm.lock.yml
  .github/workflows/smoke-copilot.lock.yml
Due: zizmor, actionlint

Update push_repo_memory.test.cjs
  actions/setup/js/push_repo_memory.test.cjs
Due: none

Path conditions:
  zizmor: any of: \.github/workflows/.*\.(lock\.yml|md)$
  actionlint: any of: \.github/workflows/.*\.lock\.yml$
