Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

zizmor:
  name: zizmor security scan
  entry: zizmor
  language: system
  pass_filenames: true
  description: Scan GitHub Actions workflows for security vulnerabilities

actionlint:
  name: actionlint workflow linting
  entry: actionlint
  language: system
  pass_filenames: true
  description: Lint GitHub Actions workflow files for best practices and errors

Add shared metrics calculation patterns skill (#10782)
  .github/workflows/shared/metrics-patterns.md
  .gitignore
Due: zizmor

chore: improve campaign generator issue (#10819)
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/agentic-campaign-generator.md
  pkg/campaign/command.go
  pkg/campaign/generator.go
  pkg/campaign/summary.go
  pkg/cli/templates/agentic-campaigns.agent.md
Due: zizmor, actionlint

feat: add support for field definitions in update_project configuration
  actions/setup/js/safe_outputs_tools.json
  actions/setup/js/update_project.cjs
  actions/setup/js/update_project.test.cjs
  pkg/campaign/generator.go
  pkg/cli/templates/generate-agentic-campaign.md
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/compiler_safe_outputs_config.go
  pkg/workflow/js/safe_outputs_tools.json
  pkg/workflow/update_project.go
  pkg/workflow/update_project_handler_config_test.go
  pkg/workflow/update_project_test.go
Due: none

feat: add support for field definitions in update_project configuration (#10855)
  actions/setup/js/safe_outputs_tools.json
  actions/setup/js/update_project.cjs
  actions/setup/js/update_project.test.cjs
  pkg/campaign/generator.go
  pkg/cli/templates/generate-agentic-campaign.md
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/compiler_safe_outputs_config.go
  pkg/workflow/js/safe_outputs_tools.json
  pkg/workflow/update_project.go
  pkg/workflow/update_project_handler_config_test.go
  pkg/workflow/update_project_test.go
Due: none

Resolve ValidationError type name collision (#10842)
  pkg/cli/compile_command_test.go
  pkg/cli/compile_config.go
  pkg/cli/compile_orchestration.go
  pkg/cli/compile_workflow_processor.go
  pkg/workflow/error_helpers.go
Due: none

Add report formatting guidelines to daily-multi-device-docs-tester (#10844)
  .github/workflows/daily-multi-device-docs-tester.lock.yml
  .github/workflows/daily-multi-device-docs-tester.md
  .github/workflows/shared/reporting.md
Due: zizmor, actionlint

Convert audit_report_test.go to testify assertions (#10823)
  pkg/cli/audit_report_test.go
Due: none

Replace []any with typed slices for GitHub tool configuration (#10843)
  pkg/workflow/claude_tools.go
  pkg/workflow/compiler.go
  pkg/workflow/compiler_safe_outputs.go
  pkg/workflow/permissions_validator.go
  pkg/workflow/permissions_validator_test.go
  pkg/workflow/tools_parser.go
  pkg/workflow/tools_types.go
Due: none

Add progressive disclosure guidelines to daily-team-evolution-insights workflow (#10868)
  .github/workflows/daily-team-evolution-insights.lock.yml
  .github/workflows/daily-team-evolution-insights.md
Due: zizmor, actionlint

feat: add Docker image SBOM attestation and pre-validation to release workflow (#10833)
  .github/workflows/release.lock.yml
  .github/workflows/release.md
Due: zizmor, actionlint

Cache frontmatter 'on' field to eliminate redundant map accesses (#10867)
  pkg/workflow/compiler_orchestrator.go
  pkg/workflow/compiler_safe_outputs.go
  pkg/workflow/compiler_types.go
  pkg/workflow/filters.go
  pkg/workflow/frontmatter_cache_test.go
  pkg/workflow/stop_after.go
Due: none

Update project URL for security alert burndown
  .github/workflows/security-alert-burndown.campaign.md
Due: zizmor

Add Security Alert Burndown campaign with alert clustering (#10859)
  .github/workflows/security-alert-burndown.campaign.lock.yml
  .github/workflows/security-alert-burndown.campaign.md
Due: zizmor, actionlint

Exclude README.md files from workflow discovery (#10885)
  pkg/cli/compile_helpers.go
  pkg/cli/compile_orchestration.go
  pkg/cli/init.go
  pkg/cli/mcp_workflow_scanner.go
  pkg/cli/remove_command.go
  pkg/cli/status_command.go
  pkg/cli/workflows.go
  pkg/cli/workflows_test.go
Due: none

Deduplicate action pin resolution warnings across workflows (#10886)
  pkg/workflow/action_pins.go
  pkg/workflow/action_pins_test.go
  pkg/workflow/compiler_orchestrator.go
  pkg/workflow/compiler_types.go
Due: none

Add W3C-style safe-outputs system specification (#10879)
  specs/README.md
  specs/safe-outputs-specification.md
Due: none

Generate maintenance workflow when compiling specific files (#10883)
  pkg/cli/compile_maintenance_test.go
  pkg/cli/compile_orchestration.go
Due: none

Add shared reporting guidelines to non-compliant workflows (#10877)
  .github/workflows/poem-bot.lock.yml
  .github/workflows/poem-bot.md
  .github/workflows/smoke-claude.lock.yml
  .github/workflows/smoke-claude.md
  .github/workflows/smoke-codex.lock.yml
  .github/workflows/smoke-codex.md
  .github/workflows/smoke-copilot.lock.yml
  .github/workflows/smoke-copilot.md
Due: zizmor, actionlint

Add close-older-issues feature to create-issue safe output (#10882)
  .github/workflows/smoke-claude.lock.yml
  .github/workflows/smoke-claude.md
  actions/setup/js/close_older_issues.cjs
  actions/setup/js/close_older_issues.test.cjs
  actions/setup/js/create_issue.cjs
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/compiler_safe_outputs_config.go
  pkg/workflow/create_issue.go
Due: zizmor, actionlint

Add upgrade command combining init and codemods for all workflows (#10884)
  cmd/gh-aw/main.go
  pkg/cli/upgrade_command.go
  pkg/cli/upgrade_command_test.go
Due: none

chore: switch campaign orchestrator to use claude
  pkg/campaign/orchestrator.go
Due: none

chore: switch campaign orchestrator to use claude (#10900)
  pkg/campaign/orchestrator.go
Due: none

Update documentation for unified agentic-workflows dispatcher agent (#10887)
  .github/aw/create-shared-agentic-workflow.md
  .github/workflows/workflow-generator.md
  .github/workflows/workflow-normalizer.md
  AGENTS.md
  docs/astro.config.mjs
  docs/src/content/docs/agent-factory-status.mdx
  docs/src/content/docs/guides/agentic-import.md
  docs/src/content/docs/reference/custom-agents.md
  docs/src/content/docs/reference/glossary.md
  docs/src/content/docs/setup/agentic-authoring.mdx
  docs/src/content/docs/setup/quick-start.md
  docs/src/content/docs/setup/vscode.md
  install.md
  pkg/cli/templates/create-shared-agentic-workflow.md
Due: zizmor

Refactor: Move validation utilities from error_helpers to validation_helpers (#10878)
  pkg/workflow/error_helpers.go
  pkg/workflow/error_helpers_test.go
  pkg/workflow/validation_helpers.go
  pkg/workflow/validation_helpers_test.go
Due: none

Convert close_older_issues.test.cjs from Jest to Vitest (#10896)
  actions/setup/js/close_older_issues.test.cjs
Due: none

chore: update security alert campaign
  .github/workflows/security-alert-burndown.campaign.lock.yml
  .github/workflows/security-alert-burndown.campaign.md
  pkg/cli/compile_campaign_orchestrator_test.go
  pkg/cli/compile_orchestrator.go
Due: zizmor, actionlint

chore: update security alert campaign (#10901)
  .github/workflows/security-alert-burndown.campaign.lock.yml
  .github/workflows/security-alert-burndown.campaign.md
  pkg/cli/compile_campaign_orchestrator_test.go
  pkg/cli/compile_orchestrator.go
Due: zizmor, actionlint

Refactor fix_codemods.go: split 1183-line file into 13 focused modules (#10898)
  pkg/cli/codemod_agent_session.go
  pkg/cli/codemod_agent_session_test.go
  pkg/cli/codemod_grep_tool.go
  pkg/cli/codemod_grep_tool_test.go
  pkg/cli/codemod_network_firewall.go
  pkg/cli/codemod_network_firewall_test.go
  pkg/cli/codemod_permissions.go
  pkg/cli/codemod_permissions_test.go
  pkg/cli/codemod_safe_inputs.go
  pkg/cli/codemod_safe_inputs_test.go
  pkg/cli/codemod_sandbox_agent.go
  pkg/cli/codemod_sandbox_agent_test.go
  pkg/cli/codemod_schedule.go
  pkg/cli/codemod_schedule_test.go
  pkg/cli/codemod_schema_file.go
  pkg/cli/codemod_schema_file_test.go
  pkg/cli/codemod_slash_command.go
  pkg/cli/codemod_slash_command_test.go
  pkg/cli/codemod_timeout_minutes.go
  pkg/cli/codemod_timeout_minutes_test.go
  pkg/cli/codemod_upload_assets.go
  pkg/cli/codemod_upload_assets_test.go
  pkg/cli/codemod_yaml_utils.go
  pkg/cli/codemod_yaml_utils_test.go
  pkg/cli/fix_codemods.go
  pkg/cli/fix_codemods_test.go
  pkg/cli/fix_command_test.go
  pkg/workflow/schemas/github-workflow.json
Due: none

Refactor RunWorkflowTrials to use options struct (15→2 parameters) (#10876)
  pkg/cli/trial_command.go
Due: none

Add smoke-opencode workflow for OpenCode custom engine integration (#10562)
  .github/workflows/shared/opencode.md
  .github/workflows/smoke-opencode.lock.yml
  .github/workflows/smoke-opencode.md
  actions/setup/js/parse_custom_log.cjs
  actions/setup/js/parse_custom_log.test.cjs
  pkg/constants/constants.go
  pkg/workflow/compiler_yaml.go
  pkg/workflow/custom_engine_awinfo_test.go
Due: zizmor, actionlint

Add auto-merge support for safe-outputs.create-pull-request (#10890)
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-doc-updater.md
  .github/workflows/dictation-prompt.lock.yml
  .github/workflows/dictation-prompt.md
  .github/workflows/unbloat-docs.lock.yml
  .github/workflows/unbloat-docs.md
  actions/setup/js/create_pull_request.cjs
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/compile_outputs_pr_test.go
  pkg/workflow/compiler_safe_outputs_config.go
  pkg/workflow/create_pull_request.go
  pkg/workflow/safe_outputs_config_generation.go
  pkg/workflow/safe_outputs_config_generation_helpers.go
Due: zizmor, actionlint

Clarify create-pull-request tool usage in daily-doc-updater prompt (#10903)
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-doc-updater.md
  .github/workflows/smoke-opencode.lock.yml
  .github/workflows/workflow-generator.lock.yml
  .github/workflows/workflow-normalizer.lock.yml
Due: zizmor, actionlint

Fix Claude API incompatibility in update_project tool schema (#10902)
  .github/workflows/agentic-campaign-generator.lock.yml
  .github/workflows/security-alert-burndown.campaign.lock.yml
  actions/setup/js/safe_outputs_tools.json
  pkg/workflow/js/safe_outputs_tools.json
Due: zizmor, actionlint

Remove cache memory from daily firewall report and add early exit (#10904)
  .github/workflows/daily-firewall-report.lock.yml
  .github/workflows/daily-firewall-report.md
Due: zizmor, actionlint

Enable close-older-issues on smoke test workflows (#10910)
  .github/workflows/smoke-codex.lock.yml
  .github/workflows/smoke-codex.md
  .github/workflows/smoke-copilot.lock.yml
  .github/workflows/smoke-copilot.md
  .github/workflows/smoke-opencode.lock.yml
  .github/workflows/smoke-opencode.md
Due: zizmor, actionlint

Align compiler_filters test file with validation naming convention (#10908)
  pkg/workflow/compiler_filters_validation_test.go
Due: none

Remove reference to non-existent agentic-campaigns agent (#10909)
  .github/agents/agentic-workflows.agent.md
  pkg/cli/templates/agentic-workflows.agent.md
  pkg/cli/templates/create-shared-agentic-workflow.agent.md
  pkg/cli/templates/create-shared-agentic-workflow.prompt.md
  pkg/cli/templates/debug-agentic-workflow.agent.md
  pkg/cli/templates/debug-agentic-workflow.prompt.md
Due: none

Fix GitHub Remote MCP auth test returning empty gh api output (#10917)
  .github/workflows/github-remote-mcp-auth-test.lock.yml
  .github/workflows/github-remote-mcp-auth-test.md
  .github/workflows/smoke-copilot.lock.yml
Due: zizmor, actionlint

Path conditions:
  zizmor: any of: \.github/workflows/.*\.(lock\.yml|md)$
  actionlint: any of: \.github/workflows/.*\.lock\.yml$
