Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

.pre-commit-config.yaml:

# Pre-commit hooks for gh-aw
# Install pre-commit: pip install pre-commit
# Setup hooks: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Security scanning with zizmor
      - id: zizmor
        name: zizmor security scan
        entry: zizmor
        language: system
        files: \.github/workflows/.*\.(lock\.yml|md)$
        pass_filenames: true
        description: Scan GitHub Actions workflows for security vulnerabilities
        
      # Workflow linting with actionlint
      - id: actionlint
        name: actionlint workflow linting
        entry: actionlint
        language: system
        files: \.github/workflows/.*\.lock\.yml$
        pass_filenames: true
        description: Lint GitHub Actions workflow files for best practices and errors
        
      # Shell script validation with shellcheck
      - id: shellcheck
        name: shellcheck shell script validation
        entry: shellcheck
        language: system
        files: \.(sh|bash)$
        types: [file, shell]
        description: Validate shell scripts for common issues and best practices

fix: replace broken compiler-generated gh-aw install step in token audit
  .github/workflows/copilot-token-audit.lock.yml
  .github/workflows/copilot-token-audit.md
  .github/workflows/shared/mcp/gh-aw.md
Due: zizmor, actionlint

fix: replace broken gh-aw install step in token optimizer workflow
  .github/workflows/copilot-token-optimizer.lock.yml
  .github/workflows/copilot-token-optimizer.md
Due: zizmor, actionlint

cleanup: remove legacy daily-copilot-token-report workflow
  .github/workflows/daily-copilot-token-report.lock.yml
  .github/workflows/daily-copilot-token-report.md
Due: zizmor, actionlint

fix: change token optimizer output from discussion to issue
  .github/workflows/copilot-token-optimizer.lock.yml
  .github/workflows/copilot-token-optimizer.md
Due: zizmor, actionlint

fix: increase repo-memory max-patch-size for token workflows
  .github/workflows/copilot-token-audit.lock.yml
  .github/workflows/copilot-token-audit.md
  .github/workflows/copilot-token-optimizer.lock.yml
  .github/workflows/copilot-token-optimizer.md
  .github/workflows/shared/repo-memory-standard.md
Due: zizmor, actionlint

Update .github/workflows/copilot-token-optimizer.md
  .github/workflows/copilot-token-optimizer.md
Due: zizmor

fix: remove branch-name prefix from repo-memory glob filter
  .github/workflows/audit-workflows.lock.yml
  .github/workflows/copilot-agent-analysis.lock.yml
  .github/workflows/copilot-pr-nlp-analysis.lock.yml
  .github/workflows/copilot-pr-prompt-analysis.lock.yml
  .github/workflows/copilot-session-insights.lock.yml
  .github/workflows/copilot-token-audit.lock.yml
  .github/workflows/copilot-token-optimizer.lock.yml
  .github/workflows/daily-news.lock.yml
  .github/workflows/delight.lock.yml
  .github/workflows/discussion-task-miner.lock.yml
  .github/workflows/shared/repo-memory-standard.md
Due: zizmor, actionlint

fix: move optimizer data loading to pre-agentic steps
  .github/workflows/copilot-token-optimizer.lock.yml
  .github/workflows/copilot-token-optimizer.md
Due: zizmor, actionlint

fix: move selection to agent, keep only log download as pre-step
  .github/workflows/copilot-token-optimizer.lock.yml
  .github/workflows/copilot-token-optimizer.md
Due: zizmor, actionlint

Update .github/workflows/hourly-ci-cleaner.lock.yml
  .github/workflows/hourly-ci-cleaner.lock.yml
Due: zizmor, actionlint

Rename daily-firewall-report.md to 1daily-firewall-report.md
  .github/workflows/1daily-firewall-report.md
Due: zizmor

Update runtime_import.test.cjs
  actions/setup/js/runtime_import.test.cjs
Due: none

fix: update wasm golden files for v0.25.14 and new actions permission (#25003)
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/basic-copilot.golden
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/with-imports.golden
Due: none

fix: resolve TypeScript errors in js workflow check (#25004)
  actions/setup/js/assign_to_agent.cjs
  actions/setup/js/create_agent_session.cjs
  actions/setup/js/create_pull_request.cjs
  actions/setup/js/pr_helpers.cjs
Due: none

ci: remove stale js-qmd-index job whose test file was deleted (#25005)
  .github/workflows/ci.yml
Due: none

fix: update assign_to_agent tests to use handler factory pattern (#25008)
  actions/setup/js/assign_to_agent.test.cjs
Due: none

Update README.md
  README.md
Due: none

slides: add new deck
  docs/package.json
  docs/slides/20260224 - GitHub Agentic Workflows.pdf
  docs/slides/20260407 - GitHub Agentic Workflows.pdf
  docs/slides/github-agentic-workflows.pptx
  docs/src/content/docs/introduction/slides.mdx
Due: none

Create new file 1create.md
  1create.md
Due: none

Rename create-agentic-workflow.md to 1create-agentic-workflow.md
  .github/aw/1create-agentic-workflow.md
Due: none

Rename create-agentic-workflow.md to Jcreate-agentic-workflow.md
  .github/aw/Jcreate-agentic-workflow.md
Due: none

fix: update golden files and lock file for AWF v0.26.0 version bump (#25400)
  pkg/cli/workflows/example-blocked-domains.lock.yml
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/basic-copilot.golden
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/with-imports.golden
Due: none

fix: add parentheses to JSDoc type cast in copilot_driver.cjs for TypeScript compatibility (#25406)
  actions/setup/js/copilot_driver.cjs
  actions/setup/js/copilot_driver.test.cjs
  pkg/cli/audit.go
  pkg/cli/deps_security.go
  pkg/cli/firewall_policy.go
  pkg/cli/mcp_safe_update_cache.go
  pkg/cli/workflows.go
Due: none

chore: set AWFCliProxyMinVersion to v0.25.17
  pkg/constants/version_constants.go
  pkg/workflow/awf_helpers_test.go
Due: none

Update pkg/constants/version_constants.go
  pkg/constants/version_constants.go
Due: none

fix: update slide links and PDF files
  docs/slides/20260224-github-agentic-workflows.pdf
  docs/slides/20260407 - GitHub Agentic Workflows.pdf
  docs/slides/20260407-gitHub-agentic-workflows.pdf
  docs/src/content/docs/introduction/slides.mdx
Due: none

refactor: gate COPILOT_INTEGRATION_ID behind feature flag
  pkg/cli/workflows/example-blocked-domains.lock.yml
  pkg/constants/feature_constants.go
  pkg/workflow/copilot_engine_execution.go
Due: none

fix: address review feedback on heredoc validation
  pkg/workflow/mcp_setup_generator.go
  pkg/workflow/strings.go
  pkg/workflow/strings_test.go
Due: none

fix: use errors.New for static error string (perfsprint lint)
  pkg/workflow/strings.go
Due: none

docs: document all integrity-filtering inputs
  docs/src/content/docs/reference/integrity.md
Due: none

fix: add cli-proxy image to Docker pre-download list
  pkg/workflow/docker.go
  pkg/workflow/docker_cli_proxy_test.go
Due: none

feat: replace resolve_host_repo.cjs with job.workflow_* context
  .github/workflows/smoke-workflow-call-with-inputs.lock.yml
  .github/workflows/smoke-workflow-call.lock.yml
  actions/setup/js/resolve_host_repo.cjs
  actions/setup/js/resolve_host_repo.test.cjs
  pkg/workflow/compiler_activation_job.go
  pkg/workflow/compiler_activation_job_test.go
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/basic-copilot.golden
  pkg/workflow/testdata/TestWasmGolden_CompileFixtures/with-imports.golden
Due: zizmor, actionlint

style: format resolve_host_repo.cjs with prettier
  actions/setup/js/resolve_host_repo.cjs
Due: none

fix: restore permission-discussions in GitHub App token fields
  pkg/workflow/github_app_permissions_validation_test.go
  pkg/workflow/safe_outputs_app_config.go
  pkg/workflow/safe_outputs_app_test.go
Due: none
