Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

zizmor:
  name: zizmor security scan
  entry: zizmor
  language: system
  pass_filenames: true
  description: Scan GitHub Actions workflows for security vulnerabilities

actionlint:
  name: actionlint workflow linting
  entry: actionlint
  language: system
  pass_filenames: true
  description: Lint GitHub Actions workflow files for best practices and errors

fix: update second session copy test to match external script refactor
  pkg/workflow/copilot_engine_test.go
Due: none

Update pkg/workflow/fetch_integration_test.go
  pkg/workflow/fetch_integration_test.go
Due: none

fix: add-wizard ls-remote default branch parsing bug
  pkg/cli/add_interactive_git.go
  pkg/cli/add_interactive_git_test.go
Due: none

fix: clear stale GH_HOST and remove false fork PR detection
  actions/setup/js/pr_helpers.cjs
  actions/setup/js/pr_helpers.test.cjs
  actions/setup/sh/configure_gh_for_ghe.sh
Due: none

test: update push_to_pr_branch test for corrected fork detection
  actions/setup/js/push_to_pull_request_branch.test.cjs
Due: none

test: update checkout_pr_branch tests for corrected fork detection
  actions/setup/js/checkout_pr_branch.test.cjs
Due: none

test: fix check_workflow_timestamp_api tests for updated error messages
  actions/setup/js/check_workflow_timestamp_api.test.cjs
Due: none

fix: install gh-aw CLI extension in workflow pre-steps
  .github/workflows/claude-token-optimizer.lock.yml
  .github/workflows/claude-token-optimizer.md
  .github/workflows/claude-token-usage-analyzer.lock.yml
  .github/workflows/claude-token-usage-analyzer.md
  .github/workflows/copilot-token-optimizer.lock.yml
  .github/workflows/copilot-token-optimizer.md
  .github/workflows/copilot-token-usage-analyzer.lock.yml
  .github/workflows/copilot-token-usage-analyzer.md
  .github/workflows/daily-copilot-token-report.lock.yml
  .github/workflows/daily-copilot-token-report.md
  .github/workflows/daily-integrity-analysis.lock.yml
  .github/workflows/daily-integrity-analysis.md
  .github/workflows/daily-syntax-error-quality.lock.yml
  .github/workflows/daily-syntax-error-quality.md
  .github/workflows/portfolio-analyst.lock.yml
  .github/workflows/portfolio-analyst.md
  .github/workflows/static-analysis-report.lock.yml
  .github/workflows/static-analysis-report.md
Due: zizmor, actionlint

Update .github/workflows/daily-syntax-error-quality.md
  .github/workflows/daily-syntax-error-quality.md
Due: zizmor

fix: recompile daily-syntax-error-quality lock file after bash tool glob update
  .github/workflows/daily-syntax-error-quality.lock.yml
Due: zizmor, actionlint

chore: add daily Drain3 weight training workflow; delete agentdrain demo binary (#24344)
  .github/workflows/train-drain3-weights.yml
  cmd/agentdrain-demo/main.go
Due: none

fix: replace piped while loops with temp files to avoid pipefail SIGPIPE
  .github/workflows/claude-token-usage-analyzer.lock.yml
  .github/workflows/claude-token-usage-analyzer.md
  .github/workflows/copilot-token-usage-analyzer.lock.yml
  .github/workflows/copilot-token-usage-analyzer.md
Due: zizmor, actionlint

Update .github/workflows/copilot-token-usage-analyzer.md
  .github/workflows/copilot-token-usage-analyzer.md
Due: zizmor

Update .github/workflows/claude-token-usage-analyzer.md
  .github/workflows/claude-token-usage-analyzer.md
Due: zizmor

Update .github/workflows/copilot-token-usage-analyzer.lock.yml
  .github/workflows/copilot-token-usage-analyzer.lock.yml
Due: zizmor, actionlint

Update .github/workflows/claude-token-usage-analyzer.lock.yml
  .github/workflows/claude-token-usage-analyzer.lock.yml
Due: zizmor, actionlint

fix: recompile lock files after jq slicing updates
  .github/workflows/claude-token-usage-analyzer.lock.yml
  .github/workflows/copilot-token-usage-analyzer.lock.yml
Due: zizmor, actionlint

fix: eliminate piped while loops in token optimizer workflows
  .github/workflows/claude-token-optimizer.lock.yml
  .github/workflows/claude-token-optimizer.md
  .github/workflows/claude-token-usage-analyzer.lock.yml
  .github/workflows/claude-token-usage-analyzer.md
  .github/workflows/copilot-token-optimizer.lock.yml
  .github/workflows/copilot-token-optimizer.md
Due: zizmor, actionlint

fix: align token workflows with gh-aw logs --json schema
  .github/workflows/claude-token-optimizer.lock.yml
  .github/workflows/claude-token-optimizer.md
  .github/workflows/claude-token-usage-analyzer.lock.yml
  .github/workflows/claude-token-usage-analyzer.md
  .github/workflows/copilot-token-optimizer.lock.yml
  .github/workflows/copilot-token-optimizer.md
  .github/workflows/copilot-token-usage-analyzer.lock.yml
  .github/workflows/copilot-token-usage-analyzer.md
Due: zizmor, actionlint

Update .github/workflows/copilot-token-optimizer.md
  .github/workflows/copilot-token-optimizer.md
Due: zizmor

Update .github/workflows/claude-token-optimizer.md
  .github/workflows/claude-token-optimizer.md
Due: zizmor

fix: recompile lock files after sort_by addition
  .github/workflows/claude-token-optimizer.lock.yml
  .github/workflows/copilot-token-optimizer.lock.yml
Due: zizmor, actionlint

fix: handle null token_usage in optimizer jq aggregations
  .github/workflows/claude-token-optimizer.lock.yml
  .github/workflows/claude-token-optimizer.md
  .github/workflows/copilot-token-optimizer.lock.yml
  .github/workflows/copilot-token-optimizer.md
Due: zizmor, actionlint

fix: add rate limit and error logging to shared token-logs step
  .github/workflows/claude-token-optimizer.lock.yml
  .github/workflows/claude-token-usage-analyzer.lock.yml
  .github/workflows/copilot-token-optimizer.lock.yml
  .github/workflows/copilot-token-usage-analyzer.lock.yml
  .github/workflows/shared/token-logs-24h.md
Due: zizmor, actionlint

fix: guard gh-aw-logs commands against set -e errexit
  .github/workflows/claude-token-optimizer.lock.yml
  .github/workflows/claude-token-usage-analyzer.lock.yml
  .github/workflows/copilot-token-optimizer.lock.yml
  .github/workflows/copilot-token-usage-analyzer.lock.yml
  .github/workflows/shared/token-logs-24h.md
Due: zizmor, actionlint

chore: remove token usage analyzers, optimizers, and shared deps
  .github/workflows/claude-token-optimizer.lock.yml
  .github/workflows/claude-token-optimizer.md
  .github/workflows/claude-token-usage-analyzer.lock.yml
  .github/workflows/claude-token-usage-analyzer.md
  .github/workflows/copilot-token-optimizer.lock.yml
  .github/workflows/copilot-token-optimizer.md
  .github/workflows/copilot-token-usage-analyzer.lock.yml
  .github/workflows/copilot-token-usage-analyzer.md
  .github/workflows/shared/token-cost-analysis.md
  .github/workflows/shared/token-logs-24h.md
  .github/workflows/token-logs-fetch.lock.yml
  .github/workflows/token-logs-fetch.md
Due: zizmor, actionlint

fix: use gh aw --version to check CLI availability
  .github/workflows/copilot-token-audit.lock.yml
  .github/workflows/copilot-token-audit.md
  .github/workflows/copilot-token-optimizer.lock.yml
  .github/workflows/copilot-token-optimizer.md
Due: zizmor, actionlint

Update .github/workflows/copilot-token-audit.md
  .github/workflows/copilot-token-audit.md
Due: zizmor

fix: recompile token audit and optimizer lock files
  .github/workflows/copilot-token-audit.lock.yml
  .github/workflows/copilot-token-optimizer.lock.yml
Due: zizmor, actionlint

fix: reduce token audit scope to last 24 hours
  .github/workflows/copilot-token-audit.lock.yml
  .github/workflows/copilot-token-audit.md
Due: zizmor, actionlint

Update pkg/cli/add_source_test.go
  pkg/cli/add_source_test.go
Due: none

Update pkg/workflow/agentic_engine.go
  pkg/workflow/agentic_engine.go
Due: none

Update pkg/cli/add_command.go
  pkg/cli/add_command.go
Due: none

fix: handle partial results from gh aw logs on rate limit
  .github/workflows/copilot-token-audit.lock.yml
  .github/workflows/copilot-token-audit.md
Due: zizmor, actionlint

Path conditions:
  zizmor: any of: \.github/workflows/.*\.(lock\.yml|md)$
  actionlint: any of: \.github/workflows/.*\.lock\.yml$
