Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

zizmor:
  name: zizmor security scan
  entry: zizmor
  language: system
  pass_filenames: true
  description: Scan GitHub Actions workflows for security vulnerabilities

actionlint:
  name: actionlint workflow linting
  entry: actionlint
  language: system
  pass_filenames: true
  description: Lint GitHub Actions workflow files for best practices and errors

[WIP] Fix goose agentic engine configuration (#50186)
  .github/workflows/smoke-goose.lock.yml
  pkg/workflow/behavior_defined_engine.go
Due: zizmor, actionlint

Fix CLI/docs consistency: document --shellcheck and --version, normalize update flag help (#50280)
  docs/src/content/docs/setup/cli.md
  pkg/cli/update_command.go
Due: none

Pin poutine Docker image to the digest-pinned constant (#50279)
  pkg/cli/poutine.go
  pkg/cli/poutine_test.go
Due: none

Add squad file availability checks (#50284)
  .github/workflows/squad-game-planner.lock.yml
  .github/workflows/squad-game-planner.md
Due: zizmor, actionlint

[WIP] Fix check_permissions to handle missing inherited_role field (#50183)
  actions/setup/js/check_permissions_utils.cjs
  actions/setup/js/check_permissions_utils.test.cjs
Due: none

Refactor squad plan by removing file checks
  .github/workflows/squad-plan.md
Due: zizmor

Implementing squad-plan slash command functionality (#50294)
  .github/workflows/agentic_commands.yml
  .github/workflows/squad-plan.lock.yml
  .github/workflows/squad-plan.md
Due: zizmor, actionlint

[WIP] Optimize Avenger workflow to fix model mismatch driving high AIC (#50323)
  .github/workflows/avenger.lock.yml
  .github/workflows/avenger.md
Due: zizmor, actionlint

Reduce GitHub MCP file-content token bloat (#50324)
  .github/skills/github-mcp-server/SKILL.md
  actions/setup/md/github_mcp_tools_prompt.md
  actions/setup/md/github_mcp_tools_with_safeoutputs_prompt.md
  pkg/workflow/mcp_github_default_fields.go
  pkg/workflow/mcp_github_default_fields_test.go
  pkg/workflow/prompt_validation_test.go
Due: none

Link squad-plan sub-issues to triggering issue (#50330)
  .github/workflows/squad-plan.lock.yml
  .github/workflows/squad-plan.md
Due: zizmor, actionlint

Fix SSRF host-allowlist bypass in workflowspec imports and redact secrets in mcp inspect output (#50259)
  docs/adr/50259-ssrf-host-allowlist-and-env-secret-redaction.md
  pkg/cli/mcp_inspect_inspector.go
  pkg/cli/mcp_inspect_inspector_test.go
  pkg/parser/github_urls.go
  pkg/parser/github_urls_test.go
  pkg/parser/remote_workflow_spec.go
  pkg/parser/remote_workflow_spec_host_test.go
Due: none

Analyzing Actions logs to fix agent job failure (#50313)
  .github/workflows/shared/goose.md
  .github/workflows/smoke-goose.lock.yml
  actions/setup/js/start_mcp_gateway.cjs
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/agentic_engine.go
  pkg/workflow/behavior_defined_engine.go
  pkg/workflow/engine_definition.go
  pkg/workflow/mcp_setup_gateway.go
Due: zizmor, actionlint

[WIP] Fix secret exfiltration issue in docs-noob-tester.lock.yml (#50296)
  .github/workflows/docs-noob-tester.lock.yml
  .github/workflows/docs-noob-tester.md
Due: zizmor, actionlint

[WIP] Add support for OTLP export auth via Workload Identity Federation (#50184)
  actions/setup/js/exchange_otlp_workload_identity.cjs
  actions/setup/js/exchange_otlp_workload_identity.test.cjs
  docs/adr/50184-otlp-export-auth-via-google-workload-identity-federation.md
  docs/src/content/docs/guides/open-telemetry.mdx
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/compiler_jobs.go
  pkg/workflow/compiler_validators.go
  pkg/workflow/compiler_yaml_step_generation.go
  pkg/workflow/frontmatter_types.go
  pkg/workflow/js/exchange_otlp_workload_identity.cjs
  pkg/workflow/observability_otlp.go
  pkg/workflow/observability_otlp_test.go
  pkg/workflow/otlp_oidc_permissions_test.go
  pkg/workflow/otlp_wif_script.go
  pkg/workflow/otlp_wif_script_test.go
  pkg/workflow/permissions_compiler_validator.go
  pkg/workflow/setup_step_version_test.go
Due: none

Configuring agentic workflows with Aider documentation (#50293)
  .github/workflows/agentic_commands.yml
  .github/workflows/shared/aider.md
  .github/workflows/smoke-aider.lock.yml
  .github/workflows/smoke-aider.md
  docs/src/content/docs/reference/engines.md
Due: zizmor, actionlint

Fix misplaced "Deny all network access" comment in poem-bot.md example (#50343)
  .github/workflows/poem-bot.lock.yml
  .github/workflows/poem-bot.md
Due: zizmor, actionlint

Wire up perPage-respecting list_workflows wrapper into deep-report and structural-analysis workflows (#50342)
  .github/workflows/deep-report.lock.yml
  .github/workflows/deep-report.md
  .github/workflows/github-mcp-structural-analysis.lock.yml
  .github/workflows/github-mcp-structural-analysis.md
Due: zizmor, actionlint

Add lazy Squad initialization (#50344)
  .github/workflows/shared/squad.md
  .github/workflows/squad-game-planner.lock.yml
  .github/workflows/squad-plan.lock.yml
Due: zizmor, actionlint

[WIP] Debug workflow failure for Slide Deck Maintainer (#50337)
  .github/workflows/slide-deck-maintainer.lock.yml
  .github/workflows/slide-deck-maintainer.md
Due: zizmor, actionlint

Document breaking removal of the OpenCode engine (#50311)
  .changeset/major-remove-opencode-engine.md
  CHANGELOG.md
  docs/adr/50145-remove-opencode-engine-from-workflows.md
Due: none

Add guidance for repository maintenance workflows (#50346)
  .github/aw/maintainer.md
Due: none

Configure Goose smoke test authentication (#50348)
  .github/workflows/smoke-goose.lock.yml
  .github/workflows/smoke-goose.md
Due: zizmor, actionlint

updated skill
  .github/skills/agentic-workflows/SKILL.md
Due: none

link to maintiner
  .github/skills/agentic-workflows/SKILL.md
Due: none

Removing assignees from squad plan (#50365)
  .github/workflows/squad-plan.lock.yml
  .github/workflows/squad-plan.md
Due: zizmor, actionlint

Improve maintenance workflow discovery
  .github/aw/create-agentic-workflow.md
  .github/aw/designer.md
  .github/aw/maintainer.md
Due: none

Improve maintenance workflow discovery (#50366)
  .github/aw/create-agentic-workflow.md
  .github/aw/designer.md
  .github/aw/maintainer.md
Due: none

Remove unnecessary lines from squad.md
  .github/workflows/shared/squad.md
Due: zizmor

Remove unnecessary lines from squad.md (#50376)
  .github/workflows/shared/squad.md
Due: zizmor

Updating agentic engine frontmatter for new mcp field (#50345)
  .github/skills/agentic-workflows/SKILL.md
  .github/workflows/shared/aider.md
  .github/workflows/smoke-aider.lock.yml
  .github/workflows/smoke-aider.md
  pkg/cli/data/agentic_workflows_fallback_aw_files.json
  pkg/parser/schemas/main_workflow_schema.json
  pkg/workflow/agentic_engine.go
  pkg/workflow/antigravity_engine.go
  pkg/workflow/behavior_defined_engine.go
  pkg/workflow/behavior_defined_engine_harness_test.go
  pkg/workflow/claude_engine.go
  pkg/workflow/codex_engine.go
  pkg/workflow/compiler_orchestrator_tools.go
  pkg/workflow/compiler_orchestrator_tools_test.go
  pkg/workflow/copilot_engine.go
  pkg/workflow/data/engines/pi.md
  pkg/workflow/engine_definition.go
  pkg/workflow/engine_definition_test.go
  pkg/workflow/gemini_engine.go
  pkg/workflow/pi_engine.go
  pkg/workflow/pi_engine_test.go
Due: zizmor, actionlint

Suppress RGS-004 runner-guard false positives for activation-gated jobs (#50370)
  pkg/cli/runner_guard.go
  pkg/cli/runner_guard_activation_gate.go
  pkg/cli/runner_guard_activation_gate_test.go
Due: none

Recompile squad workflows for SQUAD_CLI_VERSION override (#50382)
  .github/workflows/squad-game-planner.lock.yml
  .github/workflows/squad-plan.lock.yml
Due: zizmor, actionlint

Fix broken docs/safe-outputs.md link in dangerous-permissions compile error (#50381)
  pkg/workflow/dangerous_permissions_validation.go
Due: none

[WIP] Fix linter reporting for no scanned files (#50350)
  .github/workflows/super-linter.lock.yml
  .github/workflows/super-linter.md
Due: zizmor, actionlint

Disable compile watch mode in automated environments (#50385)
  .github/aw/instructions.md
  .github/aw/maintainer.md
  pkg/cli/ci.go
  pkg/cli/ci_test.go
  pkg/cli/compile_orchestrator.go
  pkg/cli/compile_watch_environment_test.go
Due: none

Normalize JSON-encoded safe-output labels (#50364)
  actions/setup/js/safe_output_type_validator.cjs
  actions/setup/js/safe_output_type_validator.test.cjs
Due: none

[WIP] Generate static analysis report for 2026-08-04 (#50386)
  .github/workflows/daily-astrostylelite-markdown-spellcheck.lock.yml
  .github/workflows/daily-astrostylelite-markdown-spellcheck.md
  .github/workflows/dev-hawk.lock.yml
  .github/workflows/dev-hawk.md
  .github/workflows/smoke-aider.lock.yml
  .github/workflows/smoke-goose.lock.yml
  pkg/workflow/behavior_defined_engine.go
  pkg/workflow/behavior_defined_engine_harness_test.go
Due: zizmor, actionlint

[WIP] Optimize daily ambient context process for workflows (#50393)
  .github/workflows/test-quality-sentinel.lock.yml
  .github/workflows/test-quality-sentinel.md
Due: zizmor, actionlint

[WIP] Fix artifact check to prevent run failure on missing session logs (#50397)
  .github/workflows/copilot-opt.lock.yml
  .github/workflows/copilot-session-insights.lock.yml
  .github/workflows/shared/copilot-session-data-fetch.md
Due: zizmor, actionlint

Path conditions:
  zizmor: any of: \.github/workflows/.*\.(lock\.yml|md)$
  actionlint: any of: \.github/workflows/.*\.lock\.yml$
