Repository githubnext/gh-aw: changes, and which pre-commit hooks are due for each by the changed paths.
All: zizmor, actionlint

zizmor:
  name: zizmor security scan
  entry: zizmor
  language: system
  pass_filenames: true
  description: Scan GitHub Actions workflows for security vulnerabilities

actionlint:
  name: actionlint workflow linting
  entry: actionlint
  language: system
  pass_filenames: true
  description: Lint GitHub Actions workflow files for best practices and errors

Remove duplicate sentence on architecture efficiency (#11701)
  docs/src/content/docs/blog/2026-01-13-meet-the-workflows-continuous-refactoring.md
Due: none

Add setup-cli action for installing gh-aw CLI by release tag (#11683)
  .gitattributes
  Makefile
  actions/README.md
  actions/setup-cli/README.md
  actions/setup-cli/action.yml
  actions/setup-cli/install.sh
  actions/setup-cli/install_test.sh
  examples/test-setup-cli.md
  pkg/cli/copilot_setup.go
  pkg/cli/copilot_setup_test.go
  pkg/cli/init.go
  pkg/cli/init_mcp_test.go
  pkg/cli/setup_cli_action_integration_test.go
Due: none

Fix observability workflow to use MCP server tools instead of shell commands (#11702)
  .github/workflows/daily-observability-report.lock.yml
  .github/workflows/daily-observability-report.md
Due: zizmor, actionlint

Fix actions-build to handle composite actions (#11703)
  pkg/cli/actions_build_command.go
  pkg/cli/actions_build_command_test.go
Due: none

Document registry field for MCP server configuration (#11718)
  docs/src/content/docs/reference/mcp-gateway.md
  docs/src/content/docs/reference/tools.md
Due: none

Remove `mode` field from custom MCP servers schema and add migration codemod (#11719)
  pkg/cli/codemod_mcp_mode_to_type.go
  pkg/cli/codemod_mcp_mode_to_type_test.go
  pkg/cli/fix_codemods.go
  pkg/cli/fix_codemods_test.go
  pkg/parser/schemas/main_workflow_schema.json
Due: none

docs: Update dictation skill with documentation-extracted glossary
  skills/dictation/SKILL.md
Due: none

Add missing MCP properties to main workflow schema (#11730)
  pkg/parser/schemas/main_workflow_schema.json
Due: none

Add progressive disclosure formatting guidelines to daily-performance-summary workflow (#11759)
  .github/workflows/daily-performance-summary.lock.yml
  .github/workflows/daily-performance-summary.md
Due: zizmor, actionlint

Add report formatting guidelines to daily-observability-report workflow (#11763)
  .github/workflows/daily-observability-report.lock.yml
  .github/workflows/daily-observability-report.md
Due: zizmor, actionlint

Add formatting guidelines to daily-team-status workflow (#11760)
  .github/workflows/daily-team-status.lock.yml
  .github/workflows/daily-team-status.md
Due: zizmor, actionlint

Add formatting guidelines to weekly-issue-summary workflow (#11761)
  .github/workflows/weekly-issue-summary.lock.yml
  .github/workflows/weekly-issue-summary.md
Due: zizmor, actionlint

Normalize report formatting guidelines for daily-repo-chronicle (#11764)
  .github/workflows/daily-repo-chronicle.lock.yml
  .github/workflows/daily-repo-chronicle.md
Due: zizmor, actionlint

Enhance MCP schema properties with examples and improved descriptions (#11772)
  pkg/parser/schemas/main_workflow_schema.json
Due: none

test: improve test quality in access_log_test.go with testify patterns (#11748)
  pkg/cli/access_log_test.go
Due: none

Add CLI command to create campaign project boards (#11785)
  docs/src/content/docs/guides/campaigns/cli-commands.md
  pkg/campaign/command.go
  pkg/campaign/project.go
  pkg/campaign/project_test.go
Due: none

docs: update documentation for setup-cli action and MCP mode deprecation
  docs/src/content/docs/setup/cli.md
  docs/src/content/docs/troubleshooting/common-issues.md
Due: none

Standardize CLI output with console formatting and stderr routing (#11771)
  pkg/cli/copilot-agents.go
  pkg/cli/mcp_add.go
  pkg/cli/mcp_inspect.go
  pkg/cli/mcp_list_tools.go
  pkg/cli/mcp_secrets.go
  pkg/cli/remove_command.go
  pkg/cli/run_workflow_execution.go
  pkg/cli/status_command.go
  pkg/cli/tool_graph.go
  pkg/cli/trial_command.go
Due: none

Add tests for context destructuring in check_permissions.cjs (#11786)
  actions/setup/js/check_permissions.test.cjs
Due: none

chore: refine project views for campaign projects
  pkg/campaign/project.go
  pkg/campaign/project_status_options_test.go
  pkg/campaign/project_views_test.go
Due: none

add project linking
  pkg/campaign/command.go
  pkg/campaign/project.go
  pkg/campaign/project_owner_normalization_test.go
  pkg/campaign/project_repo_parsing_test.go
Due: none

chore: refine project views for campaign projects (#11790)
  pkg/campaign/command.go
  pkg/campaign/project.go
  pkg/campaign/project_owner_normalization_test.go
  pkg/campaign/project_repo_parsing_test.go
  pkg/campaign/project_status_options_test.go
  pkg/campaign/project_views_test.go
Due: none

Refactor safe-outputs handler config using builder pattern and registry (#11779)
  pkg/workflow/compiler_safe_outputs_config.go
Due: none

Split compiler_orchestrator.go into focused modules (1077 → 250-450 lines each) (#11773)
  pkg/workflow/compiler_orchestrator.go
  pkg/workflow/compiler_orchestrator_engine.go
  pkg/workflow/compiler_orchestrator_frontmatter.go
  pkg/workflow/compiler_orchestrator_tools.go
  pkg/workflow/compiler_orchestrator_workflow.go
Due: none

[refactor] Phase 1: Consolidate validation helpers, centralize expression patterns, standardize MCP naming (#11778)
  pkg/workflow/dispatch_workflow_validation.go
  pkg/workflow/expression_patterns.go
  pkg/workflow/expression_patterns_test.go
  pkg/workflow/mcp_config_builtin.go
  pkg/workflow/mcp_config_custom.go
  pkg/workflow/mcp_config_playwright_renderer.go
  pkg/workflow/mcp_config_serena_renderer.go
  pkg/workflow/mcp_config_types.go
  pkg/workflow/mcp_config_utils.go
  pkg/workflow/permissions_validation.go
  pkg/workflow/validation_helpers.go
Due: none

Update OpenAI Codex CLI from 0.89.0 to 0.91.0 (#11794)
  .changeset/patch-update-cli-tools.md
  .changeset/patch-update-codex.md
  .github/workflows/changeset.lock.yml
  .github/workflows/codex-github-remote-mcp-test.lock.yml
  .github/workflows/daily-fact.lock.yml
  .github/workflows/daily-issues-report.lock.yml
  .github/workflows/daily-observability-report.lock.yml
  .github/workflows/daily-performance-summary.lock.yml
  .github/workflows/deep-report.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/issue-arborist.lock.yml
  .github/workflows/smoke-codex.lock.yml
  pkg/constants/constants.go
  pkg/constants/constants_test.go
  pkg/workflow/codex_engine_test.go
Due: zizmor, actionlint

Increase Documentation Unbloat workflow timeout from 12 to 30 minutes (#11797)
  .github/workflows/unbloat-docs.lock.yml
  .github/workflows/unbloat-docs.md
Due: zizmor, actionlint

Fix: Increase Daily Team Evolution Insights workflow timeout to 90 minutes (#11798)
  .github/workflows/daily-team-evolution-insights.lock.yml
  .github/workflows/daily-team-evolution-insights.md
Due: zizmor, actionlint

Remove redundant manual discussion closure from daily-observability-report (#11799)
  .github/workflows/daily-observability-report.lock.yml
  .github/workflows/daily-observability-report.md
Due: zizmor, actionlint

Use workflow-id marker for close-older-issues search and ensure consistency across all item types (#11800)
  actions/setup/js/add_reaction_and_edit_comment.cjs
  actions/setup/js/add_workflow_run_comment.cjs
  actions/setup/js/close_older_issues.cjs
  actions/setup/js/close_older_issues.test.cjs
  actions/setup/js/create_discussion.cjs
  actions/setup/js/create_issue.cjs
  actions/setup/js/create_pull_request.cjs
  actions/setup/js/generate_footer.cjs
  actions/setup/js/generate_footer.test.cjs
  pkg/parser/schemas/main_workflow_schema.json
Due: none

docs: Add GitHub search tips for workflow-id markers (#11807)
  docs/src/content/docs/reference/safe-outputs.md
Due: none

Add create-shared-agentic-workflow.md to upgrade cleanup list (#11809)
  pkg/cli/copilot-agents.go
  pkg/cli/copilot_agents_test.go
Due: none

Add github-token input to setup-cli action (#11810)
  actions/setup-cli/README.md
  actions/setup-cli/action.yml
  pkg/cli/setup_cli_action_integration_test.go
Due: none

Remove verification step from copilot-setup-steps workflow and init templates (#11811)
  .github/workflows/copilot-setup-steps.yml
  pkg/cli/copilot_setup.go
  pkg/cli/copilot_setup_test.go
Due: none

[WIP] Upgrade version number in setup-cli step (#11812)
  pkg/cli/copilot_setup.go
  pkg/cli/copilot_setup_test.go
  pkg/cli/upgrade_command.go
Due: none

Recommend `gh aw upgrade` command in upgrade instructions (#11816)
  .github/aw/upgrade-agentic-workflows.md
  pkg/cli/templates/upgrade-agentic-workflows.md
Due: none

Remove context7 from scout workflow to fix gateway timeout (#11817)
  .github/workflows/scout.lock.yml
  .github/workflows/scout.md
Due: zizmor, actionlint

Fix cache-memory configuration in chroma.md shared import (#11820)
  .github/workflows/shared/mcp/chroma.md
Due: zizmor

Path conditions:
  zizmor: any of: \.github/workflows/.*\.(lock\.yml|md)$
  actionlint: any of: \.github/workflows/.*\.lock\.yml$
